## MovieLens Data Analysis-Genre_B

---

In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

---

## Data Load

In [3]:
data = pd.read_csv("C:/Users/LWH/PycharmProjects/MovieLensDataAnalysis/u.data", sep='\t',
                   names=["user id", "movie id", "rating", "timestamp"], header=None)

In [4]:
data

       user id  movie id  rating  timestamp
0          196       242       3  881250949
1          186       302       3  891717742
2           22       377       1  878887116
3          244        51       2  880606923
4          166       346       1  886397596
...        ...       ...     ...        ...
99995      880       476       3  880175444
99996      716       204       5  879795543
99997      276      1090       1  874795795
99998       13       225       2  882399156
99999       12       203       3  879959583

[100000 rows x 4 columns]

In [5]:
item = pd.read_csv("C:/Users/LWH/PycharmProjects/MovieLensDataAnalysis/u.item", sep='|',
                   names=["movie id", "movie title", "release date", "video release date", "IMDb URL",
                          "unknown", "Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama",
                          "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"],
                   header=None, encoding='latin1')

In [6]:
item

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
user = pd.read_csv("C:/Users/LWH/PycharmProjects/MovieLensDataAnalysis/u.user", sep='|',
                   names=["user id", "age", "gender", "occupation", "zip code"], header=None)

In [8]:
user

     user id  age gender     occupation zip code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

---

## Calculate the ratings by the genre (descending order)

---

### B_1) average ratings by each genre for all users

In [9]:
all_1 = data[["movie id", "rating"]]
all_1 = all_1["rating"].groupby(all_1["movie id"]).mean()
all_1 = all_1.sort_values(ascending=False)

In [10]:
#all_1

In [11]:
unknown = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "unknown":item["unknown"]})
unknown = unknown[unknown["unknown"] == 1]

In [12]:
#unknown

In [13]:
unknown_rank = pd.merge(unknown, all_1, on="movie id", how="left")
unknown_rank = unknown_rank.sort_values(by="rating", ascending= False)
unknown_rank = unknown_rank.reset_index(drop=True)
unknown_rank = unknown_rank[["movie title"]]
unknown_rank.index += 1
unknown_rank = unknown_rank.rename_axis("Rank")

In [14]:
unknown_rank

              movie title
Rank
1                 unknown
2     Good Morning (1971)

In [15]:
Action = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Action":item["Action"]})
Action = Action[Action["Action"] == 1]

In [16]:
#Action

In [17]:
Action_rank = pd.merge(Action, all_1, on="movie id", how="left")
Action_rank = Action_rank.sort_values(by="rating", ascending= False)
Action_rank = Action_rank.reset_index(drop=True)
Action_rank = Action_rank[["movie title"]]
Action_rank.index += 1
Action_rank = Action_rank.rename_axis("Rank")

In [18]:
Action_rank

                                            movie title
Rank
1                                      Star Wars (1977)
2                                 Godfather, The (1972)
3                        Raiders of the Lost Ark (1981)
4                                        Titanic (1997)
5                       Empire Strikes Back, The (1980)
...                                                 ...
247                                The Courtyard (1995)
248                                     Power 98 (1995)
249         3 Ninjas: High Noon At Mega Mountain (1998)
250                             King of New York (1990)
251   Police Story 4: Project S (Chao ji ji hua) (1993)

[251 rows x 1 columns]

In [19]:
Adventure = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Adventure":item["Adventure"]})
Adventure = Adventure[Adventure["Adventure"] == 1]

In [20]:
#Adventure

In [21]:
Adventure_rank = pd.merge(Adventure, all_1, on="movie id", how="left")
Adventure_rank = Adventure_rank.sort_values(by="rating", ascending= False)
Adventure_rank = Adventure_rank.reset_index(drop=True)
Adventure_rank = Adventure_rank[["movie title"]]
Adventure_rank.index += 1
Adventure_rank = Adventure_rank.rename_axis("Rank")

In [22]:
Adventure_rank

                                         movie title
Rank
1                                    Star Kid (1997)
2                                   Star Wars (1977)
3                     Raiders of the Lost Ark (1981)
4                          Lawrence of Arabia (1962)
5                    Empire Strikes Back, The (1980)
...                                              ...
131   Second Jungle Book: Mowgli & Baloo, The (1997)
132               Mortal Kombat: Annihilation (1997)
133              Turbo: A Power Rangers Movie (1997)
134                  Free Willy 3: The Rescue (1997)
135                              Time Tracers (1995)

[135 rows x 1 columns]

In [23]:
Animation = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Animation":item["Animation"]})
Animation = Animation[Animation["Animation"] == 1]

In [24]:
#Animation

In [25]:
Animation_rank = pd.merge(Animation, all_1, on="movie id", how="left")
Animation_rank = Animation_rank.sort_values(by="rating", ascending= False)
Animation_rank = Animation_rank.reset_index(drop=True)
Animation_rank = Animation_rank[["movie title"]]
Animation_rank.index += 1
Animation_rank = Animation_rank.rename_axis("Rank")

In [26]:
Animation_rank

                                            movie title
Rank
1                                 Close Shave, A (1995)
2                            Wrong Trousers, The (1993)
3     Wallace & Gromit: The Best of Aardman Animatio...
4                                          Faust (1994)
5                               Grand Day Out, A (1992)
6                                      Toy Story (1995)
7                                        Aladdin (1992)
8           Winnie the Pooh and the Blustery Day (1968)
9                           Beauty and the Beast (1991)
10                                Lion King, The (1994)
11                                      Fantasia (1940)
12               Snow White and the Seven Dwarfs (1937)
13                                     Pinocchio (1940)
14                           Alice in Wonderland (1951)
15           Ghost in the Shell (Kokaku kidotai) (1995)
16                                    Cinderella (1950)
17                                      Hercules (1997)
18                                         Dumbo (1941)
19                                     Anastasia (1997)
20                                         Akira (1988)
21                  Hunchback of Notre Dame, The (1996)
22                       Sword in the Stone, The (1963)
23                         Three Caballeros, The (1945)
24                                   Heavy Metal (1981)
25                        Fox and the Hound, The (1981)
26                               Aristocats, The (1970)
27                     James and the Giant Peach (1996)
28                                         Balto (1995)
29                                Goofy Movie, A (1995)
30                            Swan Princess, The (1994)
31               Aladdin and the King of Thieves (1996)
32                              Cats Don't Dance (1997)
33                  Transformers: The Movie, The (1986)
34               Beavis and Butt-head Do America (1996)
35                                     Space Jam (1996)
36                              Oliver & Company (1988)
37                                 Pete's Dragon (1977)
38                              Gumby: The Movie (1995)
39                                    Pocahontas (1995)
40                               Pagemaster, The (1994)
41                       All Dogs Go to Heaven 2 (1996)
42    Land Before Time III: The Time of the Great Gi...

In [27]:
Children = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Children's":item["Children's"]})
Children = Children[Children["Children's"] == 1]

In [28]:
#Children

In [29]:
Children_rank = pd.merge(Children, all_1, on="movie id", how="left")
Children_rank = Children_rank.sort_values(by="rating", ascending= False)
Children_rank = Children_rank.reset_index(drop=True)
Children_rank = Children_rank[["movie title"]]
Children_rank.index += 1
Children_rank = Children_rank.rename_axis("Rank")

In [30]:
Children_rank

                                            movie title
Rank
1                                       Star Kid (1997)
2                              Wizard of Oz, The (1939)
3                                           Babe (1995)
4                                  Fly Away Home (1996)
5                                      Toy Story (1995)
...                                                 ...
118                                       Kazaam (1996)
119                     Free Willy 3: The Rescue (1997)
120   Land Before Time III: The Time of the Great Gi...
121                               Simple Wish, A (1997)
122         3 Ninjas: High Noon At Mega Mountain (1998)

[122 rows x 1 columns]

In [31]:
Comedy = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Comedy":item["Comedy"]})
Comedy = Comedy[Comedy["Comedy"] == 1]

In [32]:
#Comedy

In [33]:
Comedy_rank = pd.merge(Comedy, all_1, on="movie id", how="left")
Comedy_rank = Comedy_rank.sort_values(by="rating", ascending= False)
Comedy_rank = Comedy_rank.reset_index(drop=True)
Comedy_rank = Comedy_rank[["movie title"]]
Comedy_rank.index += 1
Comedy_rank = Comedy_rank.rename_axis("Rank")

In [34]:
Comedy_rank

                          movie title
Rank
1           Santa with Muscles (1996)
2               Close Shave, A (1995)
3          Wrong Trousers, The (1993)
4           North by Northwest (1959)
5              Shall We Dance? (1996)
...                               ...
501   Getting Away With Murder (1996)
502      Falling in Love Again (1980)
503                    Careful (1992)
504                Yankee Zulu (1994)
505                  Babyfever (1994)

[505 rows x 1 columns]

In [35]:
Crime = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Crime":item["Crime"]})
Crime = Crime[Crime["Crime"] == 1]

In [36]:
#Crime

In [37]:
Crime_rank = pd.merge(Crime, all_1, on="movie id", how="left")
Crime_rank = Crime_rank.sort_values(by="rating", ascending= False)
Crime_rank = Crime_rank.reset_index(drop=True)
Crime_rank = Crime_rank[["movie title"]]
Crime_rank.index += 1
Crime_rank = Crime_rank.rename_axis("Rank")

In [38]:
Crime_rank

                             movie title
Rank
1         They Made Me a Criminal (1939)
2             Usual Suspects, The (1995)
3        Letter From Death Row, A (1998)
4                  Godfather, The (1972)
5                       Crossfire (1947)
...                                  ...
105   Truth or Consequences, N.M. (1997)
106          Angel on My Shoulder (1946)
107             MURDER and murder (1996)
108                Lashou shentan (1992)
109              King of New York (1990)

[109 rows x 1 columns]

In [39]:
Documentary = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Documentary":item["Documentary"]})
Documentary = Documentary[Documentary["Documentary"] == 1]

In [40]:
#Documentary

In [41]:
Documentary_rank = pd.merge(Documentary, all_1, on="movie id", how="left")
Documentary_rank = Documentary_rank.sort_values(by="rating", ascending= False)
Documentary_rank = Documentary_rank.reset_index(drop=True)
Documentary_rank = Documentary_rank[["movie title"]]
Documentary_rank.index += 1
Documentary_rank = Documentary_rank.rename_axis("Rank")

In [42]:
Documentary_rank

                                            movie title
Rank
1                         Great Day in Harlem, A (1994)
2            Marlene Dietrich: Shadow and Light (1996)
3                                        Everest (1998)
4                Maya Lin: A Strong Clear Vision (1994)
5                                    Hoop Dreams (1994)
6     Paradise Lost: The Child Murders at Robin Hood...
7                             When We Were Kings (1996)
8                                      Nico Icon (1995)
9                    Gate of Heavenly Peace, The (1995)
10                                Jupiter's Wife (1994)
11    Wonderful, Horrible Life of Leni Riefenstahl, ...
12                          Perfect Candidate, A (1996)
13      Thirty-Two Short Films About Glenn Gould (1993)
14                         Celluloid Closet, The (1995)
15                         Anne Frank Remembered (1995)
16                              Paris Is Burning (1990)
17                                         Crumb (1994)
18                           Thin Blue Line, The (1988)
19             Microcosmos: Le peuple de l'herbe (1996)
20      Haunted World of Edward D. Wood Jr., The (1995)
21                           Looking for Richard (1996)
22                                      Unzipped (1995)
23                                 Grateful Dead (1995)
24                                 Koyaanisqatsi (1983)
25                  Fast, Cheap & Out of Control (1997)
26                                 War Room, The (1993)
27                             Year of the Horse (1997)
28                                    Wonderland (1997)
29                     Ayn Rand: A Sense of Life (1997)
30                               Man of the Year (1995)
31                          Fire on the Mountain (1996)
32                 Line King: Al Hirschfeld, The (1996)
33                                      Dadetown (1995)
34    Brother Minister: The Assassination of Malcolm...
35                             Paris Was a Woman (1995)
36                                     Show, The (1995)
37                                  Big One, The (1997)
38    Last Klezmer: Leopold Kozlowski, His Life and ...
39                        Across the Sea of Time (1995)
40                Heidi Fleiss: Hollywood Madam (1995)
41                         Endless Summer 2, The (1994)
42                                American Dream (1990)
43                        Madonna: Truth or Dare (1991)
44                                Rhyme & Reason (1997)
45        Carmen Miranda: Bananas Is My Business (1994)
46                                       Catwalk (1995)
47                              Leopard Son, The (1996)
48            JLG/JLG - autoportrait de décembre (1994)
49           Tigrero: A Film That Was Never Made (1994)
50         Eye of Vichy, The (Oeil de Vichy, L') (1993)

In [43]:
Drama = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Drama":item["Drama"]})
Drama = Drama[Drama["Drama"] == 1]

In [44]:
#Drama

In [45]:
Drama_rank = pd.merge(Drama, all_1, on="movie id", how="left")
Drama_rank = Drama_rank.sort_values(by="rating", ascending= False)
Drama_rank = Drama_rank.reset_index(drop=True)
Drama_rank = Drama_rank[["movie title"]]
Drama_rank.index += 1
Drama_rank = Drama_rank.rename_axis("Rank")

In [46]:
Drama_rank

                                     movie title
Rank
1                 They Made Me a Criminal (1939)
2                           Aiqing wansui (1994)
3           Saint of Fort Washington, The (1993)
4                  Someone Else's America (1995)
5                             Prefontaine (1997)
...                                          ...
721                     Bloody Child, The (1996)
722                                Homage (1995)
723   Nobody Loves Me (Keiner liebt mich) (1994)
724                 Very Natural Thing, A (1974)
725    Touki Bouki (Journey of the Hyena) (1973)

[725 rows x 1 columns]

In [47]:
Fantasy = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Fantasy":item["Fantasy"]})
Fantasy = Fantasy[Fantasy["Fantasy"] == 1]

In [48]:
#Fantasy

In [49]:
Fantasy_rank = pd.merge(Fantasy, all_1, on="movie id", how="left")
Fantasy_rank = Fantasy_rank.sort_values(by="rating", ascending= False)
Fantasy_rank = Fantasy_rank.reset_index(drop=True)
Fantasy_rank = Fantasy_rank[["movie title"]]
Fantasy_rank.index += 1
Fantasy_rank = Fantasy_rank.rename_axis("Rank")

In [50]:
Fantasy_rank

                               movie title
Rank
1                          Star Kid (1997)
2        E.T. the Extra-Terrestrial (1982)
3                Heavenly Creatures (1994)
4      20,000 Leagues Under the Sea (1954)
5                           Jumanji (1995)
6                         Mask, The (1994)
7                       Dragonheart (1996)
8                Warriors of Virtue (1997)
9          Escape to Witch Mountain (1975)
10          FairyTale: A True Story (1997)
11             Nutty Professor, The (1996)
12      Indian in the Cupboard, The (1995)
13                        Space Jam (1996)
14                          Flubber (1997)
15                   Drop Dead Fred (1991)
16    Kid in King Arthur's Court, A (1995)
17                            Bogus (1996)
18                  Pagemaster, The (1994)
19       NeverEnding Story III, The (1994)
20                           Kazaam (1996)
21                   Simple Wish, A (1997)
22          Hungarian Fairy Tale, A (1987)

In [51]:
FilmNoir = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Film-Noir":item["Film-Noir"]})
FilmNoir = FilmNoir[FilmNoir["Film-Noir"] == 1]

In [52]:
#FilmNoir

In [53]:
FilmNoir_rank = pd.merge(FilmNoir, all_1, on="movie id", how="left")
FilmNoir_rank = FilmNoir_rank.sort_values(by="rating", ascending= False)
FilmNoir_rank = FilmNoir_rank.reset_index(drop=True)
FilmNoir_rank = FilmNoir_rank[["movie title"]]
FilmNoir_rank.index += 1
FilmNoir_rank = FilmNoir_rank.rename_axis("Rank")

In [54]:
FilmNoir_rank

                           movie title
Rank
1     Manchurian Candidate, The (1962)
2                     Crossfire (1947)
3           Maltese Falcon, The (1941)
4                  Sunset Blvd. (1950)
5             L.A. Confidential (1997)
6                  Blade Runner (1982)
7                     Chinatown (1974)
8                     Notorious (1946)
9                         Laura (1944)
10               Big Sleep, The (1946)
11                            M (1931)
12           He Walked by Night (1948)
13                Touch of Evil (1958)
14             Murder, My Sweet (1944)
15                    Cape Fear (1962)
16                    Dark City (1998)
17                Grifters, The (1990)
18        Devil in a Blue Dress (1995)
19                     Palmetto (1998)
20                      Hoodlum (1997)
21             Mulholland Falls (1996)
22                       Suture (1993)
23                     Raw Deal (1948)
24                        T-Men (1947)

In [55]:
Horror = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Horror":item["Horror"]})
Horror = Horror[Horror["Horror"] == 1]

In [56]:
#Horror

In [57]:
Horror_rank = pd.merge(Horror, all_1, on="movie id", how="left")
Horror_rank = Horror_rank.sort_values(by="rating", ascending= False)
Horror_rank = Horror_rank.reset_index(drop=True)
Horror_rank = Horror_rank[["movie title"]]
Horror_rank.index += 1
Horror_rank = Horror_rank.rename_axis("Rank")

In [58]:
Horror_rank

                                  movie title
Rank
1                               Psycho (1960)
2                                Alien (1979)
3                           Nightwatch (1997)
4                   Young Frankenstein (1974)
5                            Braindead (1992)
...                                       ...
88                      Amityville 3-D (1983)
89    Amityville 1992: It's About Time (1992)
90        Amityville: A New Generation (1993)
91                       Beyond Bedlam (1993)
92               Amityville: Dollhouse (1996)

[92 rows x 1 columns]

In [59]:
Musical = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Musical":item["Musical"]})
Musical = Musical[Musical["Musical"] == 1]

In [60]:
#Musical

In [61]:
Musical_rank = pd.merge(Musical, all_1, on="movie id", how="left")
Musical_rank = Musical_rank.sort_values(by="rating", ascending= False)
Musical_rank = Musical_rank.reset_index(drop=True)
Musical_rank = Musical_rank[["movie title"]]
Musical_rank.index += 1
Musical_rank = Musical_rank.rename_axis("Rank")

In [62]:
Musical_rank

                                            movie title
Rank
1                              Wizard of Oz, The (1939)
2                                        Top Hat (1935)
3                          Damsel in Distress, A (1937)
4                            Singin' in the Rain (1952)
5                             This Is Spinal Tap (1984)
6                              Gay Divorcee, The (1934)
7                            Blues Brothers, The (1980)
8                                   My Fair Lady (1964)
9                                        Aladdin (1992)
10                          Beauty and the Beast (1991)
11                                Lion King, The (1994)
12                                      Fantasia (1940)
13                           Sound of Music, The (1965)
14    Umbrellas of Cherbourg, The (Parapluies de Che...
15                                  Mary Poppins (1964)
16                        Inspector General, The (1949)
17               Snow White and the Seven Dwarfs (1937)
18                               Shall We Dance? (1937)
19                         American in Paris, An (1951)
20                                    Funny Face (1957)
21                           Alice in Wonderland (1951)
22                               Band Wagon, The (1953)
23                                          Gigi (1958)
24                                        Selena (1997)
25                               Misérables, Les (1995)
26               Nightmare Before Christmas, The (1993)
27                                    Cinderella (1950)
28                              Madame Butterfly (1995)
29                                      Hercules (1997)
30                                         Dumbo (1941)
31                                      Backbeat (1993)
32                                     Anastasia (1997)
33                  Hunchback of Notre Dame, The (1996)
34                          Meet Me in St. Louis (1944)
35                         Pink Floyd - The Wall (1982)
36                                        Grease (1978)
37                               Victor/Victoria (1982)
38                               Great Race, The (1965)
39                      Everyone Says I Love You (1996)
40                         Three Caballeros, The (1945)
41                     James and the Giant Peach (1996)
42                        Farinelli: il castrato (1994)
43                                 Dirty Dancing (1987)
44                      Bedknobs and Broomsticks (1971)
45                                         Evita (1996)
46                                    Doors, The (1991)
47                                     Tank Girl (1995)
48                              Cats Don't Dance (1997)
49                           Blues Brothers 2000 (1998)
50                        Muppet Treasure Island (1996)
51                                 Pete's Dragon (1977)
52                                    Pocahontas (1995)
53                               Joe's Apartment (1996)
54                                   Spice World (1997)
55                                      Grease 2 (1982)
56                       All Dogs Go to Heaven 2 (1996)

In [63]:
Mystery = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Mystery":item["Mystery"]})
Mystery = Mystery[Mystery["Mystery"] == 1]

In [64]:
#Mystery

In [65]:
Mystery_rank = pd.merge(Mystery, all_1, on="movie id", how="left")
Mystery_rank = Mystery_rank.sort_values(by="rating", ascending= False)
Mystery_rank = Mystery_rank.reset_index(drop=True)
Mystery_rank = Mystery_rank[["movie title"]]
Mystery_rank.index += 1
Mystery_rank = Mystery_rank.rename_axis("Rank")

In [66]:
Mystery_rank

                        movie title
Rank
1                Rear Window (1954)
2             Third Man, The (1949)
3                    Vertigo (1958)
4        Maltese Falcon, The (1941)
5                    Amadeus (1984)
...                             ...
57            That Darn Cat! (1997)
58             Boxing Helena (1993)
59         MURDER and murder (1996)
60                  Power 98 (1995)
61    Woman in Question, The (1950)

[61 rows x 1 columns]

In [67]:
Romance = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Romance":item["Romance"]})
Romance = Romance[Romance["Romance"] == 1]

In [68]:
#Romance

In [69]:
Romance_rank = pd.merge(Romance, all_1, on="movie id", how="left")
Romance_rank = Romance_rank.sort_values(by="rating", ascending= False)
Romance_rank = Romance_rank.reset_index(drop=True)
Romance_rank = Romance_rank[["movie title"]]
Romance_rank.index += 1
Romance_rank = Romance_rank.rename_axis("Rank")

In [70]:
Romance_rank

                                 movie title
Rank
1                          Casablanca (1942)
2                           Star Wars (1977)
3                             Titanic (1997)
4            Empire Strikes Back, The (1980)
5              Affair to Remember, An (1957)
...                                      ...
243   Promise, The (Versprechen, Das) (1994)
244             Vermont Is For Lovers (1992)
245                          Liebelei (1933)
246                  Modern Affair, A (1995)
247                  Crude Oasis, The (1995)

[247 rows x 1 columns]

In [71]:
SciFi = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Sci-Fi":item["Sci-Fi"]})
SciFi = SciFi[SciFi["Sci-Fi"] == 1]

In [72]:
#SciFi

In [73]:
SciFi_rank = pd.merge(SciFi, all_1, on="movie id", how="left")
SciFi_rank = SciFi_rank.sort_values(by="rating", ascending= False)
SciFi_rank = SciFi_rank.reset_index(drop=True)
SciFi_rank = SciFi_rank[["movie title"]]
SciFi_rank.index += 1
SciFi_rank = SciFi_rank.rename_axis("Rank")

In [74]:
SciFi_rank

                                            movie title
Rank
1                                       Star Kid (1997)
2                                      Star Wars (1977)
3     Dr. Strangelove or: How I Learned to Stop Worr...
4                       Empire Strikes Back, The (1980)
5                                   Blade Runner (1982)
...                                                 ...
97                                     Barb Wire (1996)
98                                          Solo (1996)
99                                     Robocop 3 (1993)
100           Lawnmower Man 2: Beyond Cyberspace (1996)
101                                 Time Tracers (1995)

[101 rows x 1 columns]

In [75]:
Thriller = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Thriller":item["Thriller"]})
Thriller = Thriller[Thriller["Thriller"] == 1]

In [76]:
#Thriller

In [77]:
Thriller_rank = pd.merge(Thriller, all_1, on="movie id", how="left")
Thriller_rank = Thriller_rank.sort_values(by="rating", ascending= False)
Thriller_rank = Thriller_rank.reset_index(drop=True)
Thriller_rank = Thriller_rank[["movie title"]]
Thriller_rank.index += 1
Thriller_rank = Thriller_rank.rename_axis("Rank")

In [78]:
Thriller_rank

                                  movie title
Rank
1                       Close Shave, A (1995)
2                          Rear Window (1954)
3                  Usual Suspects, The (1995)
4                       Third Man, The (1949)
5     Some Folks Call It a Sling Blade (1993)
...                                       ...
247                     Butterfly Kiss (1995)
248                  Bloody Child, The (1996)
249                        Baton Rouge (1988)
250                           Power 98 (1995)
251                 Hostile Intentions (1994)

[251 rows x 1 columns]

In [79]:
War = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "War":item["War"]})
War = War[War["War"] == 1]

In [80]:
#War

In [81]:
War_rank = pd.merge(War, all_1, on="movie id", how="left")
War_rank = War_rank.sort_values(by="rating", ascending= False)
War_rank = War_rank.reset_index(drop=True)
War_rank = War_rank[["movie title"]]
War_rank.index += 1
War_rank = War_rank.rename_axis("Rank")

In [82]:
War_rank

                                            movie title
Rank
1                               Schindler's List (1993)
2                                     Casablanca (1942)
3                                      Star Wars (1977)
4     Dr. Strangelove or: How I Learned to Stop Worr...
5                             Lawrence of Arabia (1962)
...                                                 ...
67                               In the Army Now (1994)
68                             Walking Dead, The (1995)
69                                 McHale's Navy (1997)
70                              Nothing Personal (1995)
71                                Pharaoh's Army (1995)

[71 rows x 1 columns]

In [83]:
Western = pd.DataFrame({"movie id":item["movie id"],
                       "movie title":item["movie title"],
                       "Western":item["Western"]})
Western = Western[Western["Western"] == 1]

In [84]:
#Western

In [85]:
Western_rank = pd.merge(Western, all_1, on="movie id", how="left")
Western_rank = Western_rank.sort_values(by="rating", ascending= False)
Western_rank = Western_rank.reset_index(drop=True)
Western_rank = Western_rank[["movie title"]]
Western_rank.index += 1
Western_rank = Western_rank.rename_axis("Rank")

In [86]:
Western_rank

                                            movie title
Rank
1                                      High Noon (1952)
2                                Wild Bunch, The (1969)
3             Butch Cassidy and the Sundance Kid (1969)
4                         Magnificent Seven, The (1954)
5                   Once Upon a Time in the West (1969)
6                                     Unforgiven (1992)
7                Good, The Bad and The Ugly, The (1966)
8                                       Dead Man (1995)
9                             Dances with Wolves (1990)
10                                     Tombstone (1993)
11                                      Maverick (1994)
12                           Legends of the Fall (1994)
13                       Quick and the Dead, The (1995)
14                                    Young Guns (1988)
15                  Geronimo: An American Legend (1993)
16                                    Wyatt Earp (1994)
17                          Angel and the Badman (1947)
18                                Lightning Jack (1994)
19      Davy Crockett, King of the Wild Frontier (1955)
20                      Apple Dumpling Gang, The (1975)
21                                 Young Guns II (1990)
22                             Last Man Standing (1996)
23    City Slickers II: The Legend of Curly's Gold (...
24                                     Wild Bill (1995)
25                                   Outlaw, The (1943)
26                                     Bad Girls (1994)
27                        Terror in a Texas Town (1958)

---

### B_2) average ratings by each genre for genders

In [87]:
gender_1 = data[["user id", "movie id", "rating"]]

In [88]:
#gender_1

In [89]:
gender_2 = user[["user id", "gender"]]

In [90]:
#gender_2

In [91]:
gender_3 = pd.merge(gender_2, gender_1, on="user id", how="left")
gender_3 = gender_3.groupby(["gender", "movie id"], as_index=False)["rating"].mean()

In [92]:
#gender_3

In [93]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(unknown, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [94]:
#man

In [95]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(unknown, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [96]:
#woman

In [97]:
unknown_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
unknown_gender_rank = unknown_gender_rank.reset_index(drop=True)
unknown_gender_rank.index += 1
unknown_gender_rank = unknown_gender_rank.rename_axis("Rank")
unknown_gender_rank

                     Male               Female
Rank
1                 unknown              unknown
2     Good Morning (1971)  Good Morning (1971)

In [98]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Action, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [99]:
#man

In [100]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Action, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [101]:
#woman

In [102]:
Action_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Action_gender_rank = Action_gender_rank.reset_index(drop=True)
Action_gender_rank.index += 1
Action_gender_rank = Action_gender_rank.rename_axis("Rank")
Action_gender_rank

                                 Male                               Female
Rank
1                    Star Wars (1977)  Faster Pussycat! Kill! Kill! (1965)
2               Godfather, The (1972)                       Titanic (1997)
3      Raiders of the Lost Ark (1981)                    Set It Off (1996)
4     Empire Strikes Back, The (1980)                     Star Wars (1977)
5      Godfather: Part II, The (1974)                 Fugitive, The (1993)
...                               ...                                  ...
247               Men of Means (1998)             Nemesis 2: Nebula (1995)
248              The Courtyard (1995)                Romper Stomper (1992)
249         Hostile Intentions (1994)                    Tokyo Fist (1995)
250             Lashou shentan (1992)              King of New York (1990)
251                     Mirage (1995)                        Target (1995)

[251 rows x 2 columns]

In [103]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Adventure, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [104]:
#man

In [105]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Adventure, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [106]:
#woman

In [107]:
Adventure_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Adventure_gender_rank = Adventure_gender_rank.reset_index(drop=True)
Adventure_gender_rank.index += 1
Adventure_gender_rank = Adventure_gender_rank.rename_axis("Rank")
Adventure_gender_rank

,Male,Female
Rank,,
1,Star Kid (1997),Star Wars (1977)
2,Star Wars (1977),"Wizard of Oz, The (1939)"
3,Lawrence of Arabia (1962),Raiders of the Lost Ark (1981)
4,Raiders of the Lost Ark (1981),"Princess Bride, The (1987)"
5,"Empire Strikes Back, The (1980)",Return of the Jedi (1983)
...,...,...
131,Free Willy 2: The Adventure Home (1995),Star Kid (1997)
132,Free Willy 3: The Rescue (1997),Surviving the Game (1994)
133,Time Tracers (1995),Golden Earrings (1947)
134,"Second Jungle Book: Mowgli & Baloo, The (1997)",Wings of Courage (1995)
135,Turbo: A Power Rangers Movie (1997),"Good Man in Africa, A (1994)"

In [108]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Animation, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [109]:
#man

In [110]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Animation, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [111]:
#woman

In [112]:
Animation_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Animation_gender_rank = Animation_gender_rank.reset_index(drop=True)
Animation_gender_rank.index += 1
Animation_gender_rank = Animation_gender_rank.rename_axis("Rank")
Animation_gender_rank

,Male,Female
Rank,,
1,"Wrong Trousers, The (1993)","Close Shave, A (1995)"
2,"Close Shave, A (1995)",Wallace & Gromit: The Best of Aardman Animatio...
3,Wallace & Gromit: The Best of Aardman Animatio...,"Wrong Trousers, The (1993)"
4,Faust (1994),"Grand Day Out, A (1992)"
5,"Grand Day Out, A (1992)",Winnie the Pooh and the Blustery Day (1968)
6,Toy Story (1995),Fantasia (1940)
7,Aladdin (1992),Aladdin (1992)
8,Pinocchio (1940),Beauty and the Beast (1991)
9,Beauty and the Beast (1991),"Lion King, The (1994)"
10,"Lion King, The (1994)",Cinderella (1950)
11,Ghost in the Shell (Kokaku kidotai) (1995),Toy Story (1995)
12,Snow White and the Seven Dwarfs (1937),Alice in Wonderland (1951)
13,Winnie the Pooh and the Blustery Day (1968),Snow White and the Seven Dwarfs (1937)
14,Fantasia (1940),Anastasia (1997)
15,Alice in Wonderland (1951),Hercules (1997)
16,Hercules (1997),Dumbo (1941)
17,Dumbo (1941),"Sword in the Stone, The (1963)"
18,Cinderella (1950),Pinocchio (1940)
19,Akira (1988),"Hunchback of Notre Dame, The (1996)"
20,"Hunchback of Notre Dame, The (1996)","Aristocats, The (1970)"
21,"Three Caballeros, The (1945)","Fox and the Hound, The (1981)"
22,Heavy Metal (1981),Ghost in the Shell (Kokaku kidotai) (1995)
23,Anastasia (1997),Heavy Metal (1981)
24,"Sword in the Stone, The (1963)","Three Caballeros, The (1945)"
25,James and the Giant Peach (1996),Balto (1995)
26,"Fox and the Hound, The (1981)",Oliver & Company (1988)
27,"Goofy Movie, A (1995)",Akira (1988)
28,"Aristocats, The (1970)",Cats Don't Dance (1997)
29,Beavis and Butt-head Do America (1996),Aladdin and the King of Thieves (1996)
30,"Transformers: The Movie, The (1986)","Swan Princess, The (1994)"
31,Space Jam (1996),James and the Giant Peach (1996)
32,Gumby: The Movie (1995),Pocahontas (1995)
33,Cats Don't Dance (1997),Pete's Dragon (1977)
34,Balto (1995),Space Jam (1996)
35,Pete's Dragon (1977),"Goofy Movie, A (1995)"
36,"Swan Princess, The (1994)","Transformers: The Movie, The (1986)"
37,Aladdin and the King of Thieves (1996),"Pagemaster, The (1994)"
38,Oliver & Company (1988),Beavis and Butt-head Do America (1996)
39,Pocahontas (1995),All Dogs Go to Heaven 2 (1996)
40,"Pagemaster, The (1994)",Gumby: The Movie (1995)
41,Land Before Time III: The Time of the Great Gi...,Land Before Time III: The Time of the Great Gi...
42,All Dogs Go to Heaven 2 (1996),Faust (1994)

In [113]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Children, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [114]:
#man

In [115]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Children, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [116]:
#woman

In [117]:
Children_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Children_gender_rank = Children_gender_rank.reset_index(drop=True)
Children_gender_rank.index += 1
Children_gender_rank = Children_gender_rank.rename_axis("Rank")
Children_gender_rank

,Male,Female
Rank,,
1,Star Kid (1997),"Wizard of Oz, The (1939)"
2,"Little Princess, The (1939)",Babe (1995)
3,"Wizard of Oz, The (1939)",Winnie the Pooh and the Blustery Day (1968)
4,So Dear to My Heart (1949),Shiloh (1997)
5,Babe (1995),Fly Away Home (1996)
...,...,...
118,Free Willy 3: The Rescue (1997),So Dear to My Heart (1949)
119,Turbo: A Power Rangers Movie (1997),"Secret Adventures of Tom Thumb, The (1993)"
120,3 Ninjas: High Noon At Mega Mountain (1998),3 Ninjas: High Noon At Mega Mountain (1998)
121,"Second Jungle Book: Mowgli & Baloo, The (1997)",Daniel Defoe's Robinson Crusoe (1996)
122,"Simple Wish, A (1997)",Star Kid (1997)

In [118]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Comedy, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [119]:
#man

In [120]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Comedy, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [121]:
#woman

In [122]:
Comedy_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Comedy_gender_rank = Comedy_gender_rank.reset_index(drop=True)
Comedy_gender_rank.index += 1
Comedy_gender_rank = Comedy_gender_rank.rename_axis("Rank")
Comedy_gender_rank

                           Male                                 Female
Rank
1          Love Serenade (1996)  Visitors, The (Visiteurs, Les) (1993)
2     Santa with Muscles (1996)    Faster Pussycat! Kill! Kill! (1965)
3            Little City (1998)                         Stripes (1981)
4         Grosse Fatigue (1994)                  Close Shave, A (1995)
5         A Chef in Love (1996)                 Shall We Dance? (1996)
...                         ...                                    ...
501     Sudden Manhattan (1996)                       Wife, The (1995)
502              Hana-bi (1997)           Chairman of the Board (1998)
503         Big One, The (1997)                      Favor, The (1994)
504   Wedding Bell Blues (1996)        Getting Away With Murder (1996)
505              Tainted (1998)                    You So Crazy (1994)

[505 rows x 2 columns]

In [123]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Crime, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [124]:
#man

In [125]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Crime, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [126]:
#woman

In [127]:
Crime_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Crime_gender_rank = Crime_gender_rank.reset_index(drop=True)
Crime_gender_rank.index += 1
Crime_gender_rank = Crime_gender_rank.rename_axis("Rank")
Crime_gender_rank

                                 Male                              Female
Rank
1     Letter From Death Row, A (1998)          Usual Suspects, The (1995)
2      They Made Me a Criminal (1939)                   Set It Off (1996)
3          Usual Suspects, The (1995)           Once Were Warriors (1994)
4               Godfather, The (1972)               Godfather, The (1972)
5                    Incognito (1997)            L.A. Confidential (1997)
...                               ...                                 ...
105             Lashou shentan (1992)         Angel on My Shoulder (1946)
106                   Deceiver (1997)  Killer: A Journal of Murder (1995)
107                Normal Life (1996)                 Mad Dog Time (1996)
108                    Hana-bi (1997)           He Walked by Night (1948)
109          MURDER and murder (1996)             King of New York (1990)

[109 rows x 2 columns]

In [128]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Documentary, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [129]:
#man

In [130]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Documentary, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [131]:
#woman

In [132]:
Documentary_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Documentary_gender_rank = Documentary_gender_rank.reset_index(drop=True)
Documentary_gender_rank.index += 1
Documentary_gender_rank = Documentary_gender_rank.rename_axis("Rank")
Documentary_gender_rank

,Male,Female
Rank,,
1,Marlene Dietrich: Shadow and Light (1996),Year of the Horse (1997)
2,"Great Day in Harlem, A (1994)",Maya Lin: A Strong Clear Vision (1994)
3,Maya Lin: A Strong Clear Vision (1994),Everest (1998)
4,When We Were Kings (1996),Anne Frank Remembered (1995)
5,"Wonderful, Horrible Life of Leni Riefenstahl, ...",Hoop Dreams (1994)
6,Hoop Dreams (1994),Paradise Lost: The Child Murders at Robin Hood...
7,Everest (1998),"Celluloid Closet, The (1995)"
8,"Show, The (1995)",Thirty-Two Short Films About Glenn Gould (1993)
9,"Gate of Heavenly Peace, The (1995)",Ayn Rand: A Sense of Life (1997)
10,"Perfect Candidate, A (1996)","Last Klezmer: Leopold Kozlowski, His Life and ..."
11,Thirty-Two Short Films About Glenn Gould (1993),Jupiter's Wife (1994)
12,Paradise Lost: The Child Murders at Robin Hood...,Nico Icon (1995)
13,Crumb (1994),Paris Is Burning (1990)
14,"Haunted World of Edward D. Wood Jr., The (1995)","Thin Blue Line, The (1988)"
15,Microcosmos: Le peuple de l'herbe (1996),Looking for Richard (1996)
16,"Celluloid Closet, The (1995)",When We Were Kings (1996)
17,"Thin Blue Line, The (1988)","Wonderful, Horrible Life of Leni Riefenstahl, ..."
18,Paris Is Burning (1990),Heidi Fleiss: Hollywood Madam (1995)
19,Looking for Richard (1996),Unzipped (1995)
20,Unzipped (1995),Grateful Dead (1995)
21,Koyaanisqatsi (1983),"Fast, Cheap & Out of Control (1997)"
22,Grateful Dead (1995),Man of the Year (1995)
23,Anne Frank Remembered (1995),"War Room, The (1993)"
24,Wonderland (1997),"Haunted World of Edward D. Wood Jr., The (1995)"
25,"Fast, Cheap & Out of Control (1997)",Crumb (1994)
26,"War Room, The (1993)",Koyaanisqatsi (1983)
27,Year of the Horse (1997),Microcosmos: Le peuple de l'herbe (1996)
28,Ayn Rand: A Sense of Life (1997),Brother Minister: The Assassination of Malcolm...
29,Brother Minister: The Assassination of Malcolm...,Dadetown (1995)
30,"Line King: Al Hirschfeld, The (1996)","Big One, The (1997)"
31,Fire on the Mountain (1996),Madonna: Truth or Dare (1991)
32,Man of the Year (1995),Across the Sea of Time (1995)
33,Paris Was a Woman (1995),Rhyme & Reason (1997)
34,Across the Sea of Time (1995),American Dream (1990)
35,"Endless Summer 2, The (1994)","Show, The (1995)"
36,"Last Klezmer: Leopold Kozlowski, His Life and ...","Endless Summer 2, The (1994)"
37,Madonna: Truth or Dare (1991),Carmen Miranda: Bananas Is My Business (1994)
38,Heidi Fleiss: Hollywood Madam (1995),Catwalk (1995)
39,Carmen Miranda: Bananas Is My Business (1994),Tigrero: A Film That Was Never Made (1994)
40,Rhyme & Reason (1997),"Eye of Vichy, The (Oeil de Vichy, L') (1993)"
41,Catwalk (1995),Wonderland (1997)
42,"Leopard Son, The (1996)",Fire on the Mountain (1996)
43,JLG/JLG - autoportrait de décembre (1994),"Great Day in Harlem, A (1994)"
44,Jupiter's Wife (1994),"Perfect Candidate, A (1996)"
45,Tigrero: A Film That Was Never Made (1994),Paris Was a Woman (1995)
46,"Eye of Vichy, The (Oeil de Vichy, L') (1993)",Marlene Dietrich: Shadow and Light (1996)
47,American Dream (1990),"Leopard Son, The (1996)"
48,Nico Icon (1995),JLG/JLG - autoportrait de décembre (1994)
49,Dadetown (1995),"Gate of Heavenly Peace, The (1995)"
50,"Big One, The (1997)","Line King: Al Hirschfeld, The (1996)"

In [133]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Drama, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [134]:
#man

In [135]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Drama, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [136]:
#woman

In [137]:
Drama_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Drama_gender_rank = Drama_gender_rank.reset_index(drop=True)
Drama_gender_rank.index += 1
Drama_gender_rank = Drama_gender_rank.rename_axis("Rank")
Drama_gender_rank

,Male,Female
Rank,,
1,Delta of Venus (1994),Someone Else's America (1995)
2,Aiqing wansui (1994),Prefontaine (1997)
3,"Saint of Fort Washington, The (1993)",Mina Tannenbaum (1994)
4,They Made Me a Criminal (1939),Faster Pussycat! Kill! Kill! (1965)
5,"Quiet Room, The (1996)",Telling Lies in America (1997)
...,...,...
721,Ripe (1996),"Sunchaser, The (1996)"
722,"Next Step, The (1995)","War at Home, The (1996)"
723,MURDER and murder (1996),Mat' i syn (1997)
724,"Further Gesture, A (1996)",Sliding Doors (1998)
725,Sweet Nothing (1995),Scream of Stone (Schrei aus Stein) (1991)

In [138]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Fantasy, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [139]:
#man

In [140]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Fantasy, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [141]:
#woman

In [142]:
Fantasy_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Fantasy_gender_rank = Fantasy_gender_rank.reset_index(drop=True)
Fantasy_gender_rank.index += 1
Fantasy_gender_rank = Fantasy_gender_rank.rename_axis("Rank")
Fantasy_gender_rank

,Male,Female
Rank,,
1,Star Kid (1997),E.T. the Extra-Terrestrial (1982)
2,E.T. the Extra-Terrestrial (1982),Warriors of Virtue (1997)
3,Heavenly Creatures (1994),Heavenly Creatures (1994)
4,"20,000 Leagues Under the Sea (1954)",Jumanji (1995)
5,Jumanji (1995),"Mask, The (1994)"
6,"Mask, The (1994)",Drop Dead Fred (1991)
7,Dragonheart (1996),"20,000 Leagues Under the Sea (1954)"
8,Escape to Witch Mountain (1975),FairyTale: A True Story (1997)
9,"Nutty Professor, The (1996)",Escape to Witch Mountain (1975)
10,FairyTale: A True Story (1997),"Simple Wish, A (1997)"
11,Flubber (1997),Dragonheart (1996)
12,Space Jam (1996),"Indian in the Cupboard, The (1995)"
13,"Indian in the Cupboard, The (1995)","Nutty Professor, The (1996)"
14,Warriors of Virtue (1997),"Kid in King Arthur's Court, A (1995)"
15,"Kid in King Arthur's Court, A (1995)",Bogus (1996)
16,Bogus (1996),Space Jam (1996)
17,"NeverEnding Story III, The (1994)",Flubber (1997)
18,Drop Dead Fred (1991),"Pagemaster, The (1994)"
19,"Pagemaster, The (1994)","NeverEnding Story III, The (1994)"
20,Kazaam (1996),Kazaam (1996)
21,"Simple Wish, A (1997)","Hungarian Fairy Tale, A (1987)"
22,"Hungarian Fairy Tale, A (1987)",Star Kid (1997)

In [143]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(FilmNoir, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [144]:
#man

In [145]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(FilmNoir, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [146]:
#woman

In [147]:
FilmNoir_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
FilmNoir_gender_rank = FilmNoir_gender_rank.reset_index(drop=True)
FilmNoir_gender_rank.index += 1
FilmNoir_gender_rank = FilmNoir_gender_rank.rename_axis("Rank")
FilmNoir_gender_rank

                                  Male                            Female
Rank
1           Maltese Falcon, The (1941)  Manchurian Candidate, The (1962)
2                     Crossfire (1947)               Sunset Blvd. (1950)
3                Big Sleep, The (1946)                  Notorious (1946)
4     Manchurian Candidate, The (1962)                  Chinatown (1974)
5                  Sunset Blvd. (1950)          L.A. Confidential (1997)
6             L.A. Confidential (1997)               Blade Runner (1982)
7                  Blade Runner (1982)        Maltese Falcon, The (1941)
8                         Laura (1944)                      Laura (1944)
9                     Chinatown (1974)             Big Sleep, The (1946)
10                            M (1931)                  Cape Fear (1962)
11                    Notorious (1946)                          M (1931)
12                Touch of Evil (1958)              Grifters, The (1990)
13           He Walked by Night (1948)                    Hoodlum (1997)
14                    Dark City (1998)              Touch of Evil (1958)
15             Murder, My Sweet (1944)                  Dark City (1998)
16                    Cape Fear (1962)      Devil in a Blue Dress (1995)
17                Grifters, The (1990)           Murder, My Sweet (1944)
18        Devil in a Blue Dress (1995)                   Palmetto (1998)
19                     Palmetto (1998)           Mulholland Falls (1996)
20             Mulholland Falls (1996)                     Suture (1993)
21                      Hoodlum (1997)                      T-Men (1947)
22                       Suture (1993)                  Crossfire (1947)
23                     Raw Deal (1948)                   Raw Deal (1948)
24                        T-Men (1947)         He Walked by Night (1948)

In [148]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Horror, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [149]:
#man

In [150]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Horror, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [151]:
#woman

In [152]:
Horror_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Horror_gender_rank = Horror_gender_rank.reset_index(drop=True)
Horror_gender_rank.index += 1
Horror_gender_rank = Horror_gender_rank.rename_axis("Rank")
Horror_gender_rank

,Male,Female
Rank,,
1,Alien (1979),Psycho (1960)
2,Psycho (1960),Young Frankenstein (1974)
3,Nightwatch (1997),Night Flier (1997)
4,Braindead (1992),"Fog, The (1980)"
5,Spirits of the Dead (Tre passi nel delirio) (1...,Loch Ness (1995)
...,...,...
88,Relative Fear (1994),Amityville: Dollhouse (1996)
89,Amityville 1992: It's About Time (1992),Castle Freak (1995)
90,Beyond Bedlam (1993),Spirits of the Dead (Tre passi nel delirio) (1...
91,Amityville: A New Generation (1993),"Machine, The (1994)"
92,"Fear, The (1995)",Nightwatch (1997)

In [153]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Musical, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [154]:
#man

In [155]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Musical, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [156]:
#woman

In [157]:
Musical_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Musical_gender_rank = Musical_gender_rank.reset_index(drop=True)
Musical_gender_rank.index += 1
Musical_gender_rank = Musical_gender_rank.rename_axis("Rank")
Musical_gender_rank

,Male,Female
Rank,,
1,Top Hat (1935),"Band Wagon, The (1953)"
2,Singin' in the Rain (1952),Backbeat (1993)
3,"Wizard of Oz, The (1939)","Gay Divorcee, The (1934)"
4,"Damsel in Distress, A (1937)",My Fair Lady (1964)
5,"Inspector General, The (1949)","Sound of Music, The (1965)"
6,This Is Spinal Tap (1984),"Wizard of Oz, The (1939)"
7,Selena (1997),Gigi (1958)
8,"Blues Brothers, The (1980)",Madame Butterfly (1995)
9,"Misérables, Les (1995)",Top Hat (1935)
10,"Umbrellas of Cherbourg, The (Parapluies de Che...",Fantasia (1940)
11,Aladdin (1992),Aladdin (1992)
12,Beauty and the Beast (1991),Beauty and the Beast (1991)
13,"Lion King, The (1994)","Lion King, The (1994)"
14,Shall We Dance? (1937),This Is Spinal Tap (1984)
15,"Gay Divorcee, The (1934)",Cinderella (1950)
16,Snow White and the Seven Dwarfs (1937),Funny Face (1957)
17,Mary Poppins (1964),Singin' in the Rain (1952)
18,Fantasia (1940),"American in Paris, An (1951)"
19,"American in Paris, An (1951)",Mary Poppins (1964)
20,Alice in Wonderland (1951),"Blues Brothers, The (1980)"
21,My Fair Lady (1964),Grease (1978)
22,Funny Face (1957),Alice in Wonderland (1951)
23,"Sound of Music, The (1965)",Snow White and the Seven Dwarfs (1937)
24,"Nightmare Before Christmas, The (1993)","Nightmare Before Christmas, The (1993)"
25,Gigi (1958),"Umbrellas of Cherbourg, The (Parapluies de Che..."
26,Hercules (1997),Anastasia (1997)
27,Dumbo (1941),Dirty Dancing (1987)
28,Cinderella (1950),Hercules (1997)
29,"Band Wagon, The (1953)",Shall We Dance? (1937)
30,Pink Floyd - The Wall (1982),Dumbo (1941)
31,Madame Butterfly (1995),Victor/Victoria (1982)
32,"Hunchback of Notre Dame, The (1996)","Hunchback of Notre Dame, The (1996)"
33,Meet Me in St. Louis (1944),Meet Me in St. Louis (1944)
34,"Great Race, The (1965)",Selena (1997)
35,Everyone Says I Love You (1996),Everyone Says I Love You (1996)
36,"Three Caballeros, The (1945)","Three Caballeros, The (1945)"
37,Backbeat (1993),"Great Race, The (1965)"
38,Victor/Victoria (1982),Bedknobs and Broomsticks (1971)
39,Anastasia (1997),Muppet Treasure Island (1996)
40,James and the Giant Peach (1996),"Misérables, Les (1995)"
41,Blues Brothers 2000 (1998),Tank Girl (1995)
42,Farinelli: il castrato (1994),Pink Floyd - The Wall (1982)
43,Grease (1978),Cats Don't Dance (1997)
44,Evita (1996),"Doors, The (1991)"
45,"Doors, The (1991)",Evita (1996)
46,Bedknobs and Broomsticks (1971),Farinelli: il castrato (1994)
47,Tank Girl (1995),"Inspector General, The (1949)"
48,Dirty Dancing (1987),James and the Giant Peach (1996)
49,Cats Don't Dance (1997),Pocahontas (1995)
50,Pete's Dragon (1977),Pete's Dragon (1977)
51,Muppet Treasure Island (1996),Grease 2 (1982)
52,Pocahontas (1995),Blues Brothers 2000 (1998)
53,Joe's Apartment (1996),Joe's Apartment (1996)
54,Spice World (1997),All Dogs Go to Heaven 2 (1996)
55,All Dogs Go to Heaven 2 (1996),Spice World (1997)
56,Grease 2 (1982),"Damsel in Distress, A (1937)"

In [158]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Mystery, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [159]:
#man

In [160]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Mystery, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [161]:
#woman

In [162]:
Mystery_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Mystery_gender_rank = Mystery_gender_rank.reset_index(drop=True)
Mystery_gender_rank.index += 1
Mystery_gender_rank = Mystery_gender_rank.rename_axis("Rank")
Mystery_gender_rank

                               Male                         Female
Rank
1             Third Man, The (1949)             Rear Window (1954)
2                Rear Window (1954)           Thin Man, The (1934)
3                    Vertigo (1958)    Arsenic and Old Lace (1944)
4        Maltese Falcon, The (1941)                Gaslight (1944)
5             Big Sleep, The (1946)               Lone Star (1996)
...                             ...                            ...
57            That Darn Cat! (1997)                 Stalker (1979)
58            That Darn Cat! (1997)  Woman in Question, The (1950)
59                  Power 98 (1995)    Hour of the Pig, The (1993)
60    Woman in Question, The (1950)                Power 98 (1995)
61         MURDER and murder (1996)       Lady of Burlesque (1943)

[61 rows x 2 columns]

In [163]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Romance, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [164]:
#man

In [165]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Romance, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [166]:
#woman

In [167]:
Romance_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Romance_gender_rank = Romance_gender_rank.reset_index(drop=True)
Romance_gender_rank.index += 1
Romance_gender_rank = Romance_gender_rank.rename_axis("Rank")
Romance_gender_rank

                                        Male                          Female
Rank
1                           Hugo Pool (1997)               Casablanca (1942)
2                         Little City (1998)   Much Ado About Nothing (1993)
3                    Leading Man, The (1996)               Persuasion (1995)
4                       Sliding Doors (1998)   Affair to Remember, An (1957)
5                          Casablanca (1942)  Philadelphia Story, The (1940)
...                                      ...                             ...
243                      Country Life (1994)                  Witness (1985)
244                       Rough Magic (1995)                Hugo Pool (1997)
245   Promise, The (Versprechen, Das) (1994)               Favor, The (1994)
246             Vermont Is For Lovers (1992)                B. Monkey (1998)
247                          Liebelei (1933)            Sliding Doors (1998)

[247 rows x 2 columns]

In [168]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(SciFi, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [169]:
#man

In [170]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(SciFi, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [171]:
#woman

In [172]:
SciFi_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
SciFi_gender_rank = SciFi_gender_rank.reset_index(drop=True)
SciFi_gender_rank.index += 1
SciFi_gender_rank = SciFi_gender_rank.rename_axis("Rank")
SciFi_gender_rank

,Male,Female
Rank,,
1,Star Kid (1997),"Visitors, The (Visiteurs, Les) (1993)"
2,Star Wars (1977),Dr. Strangelove or: How I Learned to Stop Worr...
3,"Empire Strikes Back, The (1980)",Star Wars (1977)
4,Dr. Strangelove or: How I Learned to Stop Worr...,Return of the Jedi (1983)
5,Blade Runner (1982),Alphaville (1965)
...,...,...
97,Barb Wire (1996),Hellraiser: Bloodline (1996)
98,Solo (1996),Time Tracers (1995)
99,Lawnmower Man 2: Beyond Cyberspace (1996),Solo (1996)
100,Robocop 3 (1993),Star Kid (1997)
101,Time Tracers (1995),Nemesis 2: Nebula (1995)

In [173]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Thriller, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [174]:
#man

In [175]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Thriller, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [176]:
#woman

In [177]:
Thriller_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Thriller_gender_rank = Thriller_gender_rank.reset_index(drop=True)
Thriller_gender_rank.index += 1
Thriller_gender_rank = Thriller_gender_rank.rename_axis("Rank")
Thriller_gender_rank

                              Male                                   Female
Rank
1            Close Shave, A (1995)             Foreign Correspondent (1940)
2            Third Man, The (1949)                    Close Shave, A (1995)
3               Rear Window (1954)  Some Folks Call It a Sling Blade (1993)
4       Usual Suspects, The (1995)                       Sling Blade (1996)
5                 Incognito (1997)                       Rear Window (1954)
...                            ...                                      ...
247      Hostile Intentions (1994)                He Walked by Night (1948)
248             Baton Rouge (1988)                    Butterfly Kiss (1995)
249   Spanish Prisoner, The (1997)                              Hush (1998)
250                 Tainted (1998)                        Nightwatch (1997)
251                  Mirage (1995)                         B. Monkey (1998)

[251 rows x 2 columns]

In [178]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(War, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [179]:
#man

In [180]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(War, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [181]:
#woman

In [182]:
War_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
War_gender_rank = War_gender_rank.reset_index(drop=True)
War_gender_rank.index += 1
War_gender_rank = War_gender_rank.rename_axis("Rank")
War_gender_rank

,Male,Female
Rank,,
1,Casablanca (1942),Schindler's List (1993)
2,Paths of Glory (1957),Casablanca (1942)
3,Schindler's List (1993),Dr. Strangelove or: How I Learned to Stop Worr...
4,Star Wars (1977),Henry V (1989)
5,Ran (1985),Star Wars (1977)
...,...,...
67,In the Army Now (1994),Paths of Glory (1957)
68,McHale's Navy (1997),"Walking Dead, The (1995)"
69,Pharaoh's Army (1995),Stalingrad (1993)
70,Land and Freedom (Tierra y libertad) (1995),Pharaoh's Army (1995)
71,Nothing Personal (1995),"Colonel Chabert, Le (1994)"

In [183]:
man = gender_3.groupby("gender").get_group("M")
man = pd.merge(Western, man, on="movie id", how="left")
man = man.sort_values(by="rating", ascending= False)
man = man.reset_index(drop=True)

In [184]:
#man

In [185]:
woman = gender_3.groupby("gender").get_group("F")
woman = pd.merge(Western, woman, on="movie id", how="left")
woman = woman.sort_values(by="rating", ascending= False)
woman = woman.reset_index(drop=True)

In [186]:
#woman

In [187]:
Western_gender_rank = pd.DataFrame({"Male":man["movie title"],
                           "Female":woman["movie title"]})
Western_gender_rank = Western_gender_rank.reset_index(drop=True)
Western_gender_rank.index += 1
Western_gender_rank = Western_gender_rank.rename_axis("Rank")
Western_gender_rank

,Male,Female
Rank,,
1,High Noon (1952),Dead Man (1995)
2,"Wild Bunch, The (1969)",Butch Cassidy and the Sundance Kid (1969)
3,"Magnificent Seven, The (1954)",Dances with Wolves (1990)
4,Butch Cassidy and the Sundance Kid (1969),Tombstone (1993)
5,Unforgiven (1992),High Noon (1952)
6,"Good, The Bad and The Ugly, The (1966)",Maverick (1994)
7,Once Upon a Time in the West (1969),Legends of the Fall (1994)
8,Dances with Wolves (1990),"Magnificent Seven, The (1954)"
9,Dead Man (1995),"Wild Bunch, The (1969)"
10,Tombstone (1993),Lightning Jack (1994)
11,Maverick (1994),Unforgiven (1992)
12,Legends of the Fall (1994),Young Guns (1988)
13,Geronimo: An American Legend (1993),"Good, The Bad and The Ugly, The (1966)"
14,"Davy Crockett, King of the Wild Frontier (1955)","Quick and the Dead, The (1995)"
15,"Quick and the Dead, The (1995)",City Slickers II: The Legend of Curly's Gold (...
16,Young Guns (1988),Once Upon a Time in the West (1969)
17,Wyatt Earp (1994),Wyatt Earp (1994)
18,Angel and the Badman (1947),"Apple Dumpling Gang, The (1975)"
19,Lightning Jack (1994),Angel and the Badman (1947)
20,Wild Bill (1995),Geronimo: An American Legend (1993)
21,Young Guns II (1990),Last Man Standing (1996)
22,"Apple Dumpling Gang, The (1975)",Young Guns II (1990)
23,Last Man Standing (1996),Bad Girls (1994)
24,"Outlaw, The (1943)","Davy Crockett, King of the Wild Frontier (1955)"
25,City Slickers II: The Legend of Curly's Gold (...,Wild Bill (1995)
26,Bad Girls (1994),Terror in a Texas Town (1958)
27,Terror in a Texas Town (1958),"Outlaw, The (1943)"

---

### B_3) average ratings by each genre for occupations

In [188]:
occu_1 = gender_1

In [189]:
#occu_1

In [190]:
occu_2 = user[["user id", "occupation"]]

In [191]:
#occu_2

In [192]:
occu_3 = pd.merge(occu_2, occu_1, on="user id", how="left")
occu_3 = occu_3.groupby(["occupation", "movie id"], as_index=False)["rating"].mean()

In [193]:
#occu_3

In [194]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(unknown, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [195]:
#administrator

In [196]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(unknown, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [197]:
#artist

In [198]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(unknown, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [199]:
#doctor

In [200]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(unknown, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [201]:
#educator

In [202]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(unknown, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [203]:
#engineer

In [204]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(unknown, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [205]:
#entertainment

In [206]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(unknown, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [207]:
#executive

In [208]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(unknown, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [209]:
#healthcare

In [210]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(unknown, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [211]:
#homemaker

In [212]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(unknown, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [213]:
#lawyer

In [214]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(unknown, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [215]:
#librarian

In [216]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(unknown, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [217]:
#marketing

In [218]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(unknown, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [219]:
#none

In [220]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(unknown, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [221]:
#other

In [222]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(unknown, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [223]:
#programmer

In [224]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(unknown, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [225]:
#retired

In [226]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(unknown, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [227]:
#salesman

In [228]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(unknown, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [229]:
#scientist

In [230]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(unknown, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [231]:
#student

In [232]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(unknown, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [233]:
#technician

In [234]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(unknown, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [235]:
#writer

In [236]:
unknown_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
unknown_occupation_rank = unknown_occupation_rank.reset_index(drop=True)
unknown_occupation_rank.index += 1
unknown_occupation_rank = unknown_occupation_rank.rename_axis("Rank")
unknown_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,unknown,unknown,unknown,unknown,unknown,unknown,Good Morning (1971),unknown,unknown,unknown,...,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown
2,Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),unknown,Good Morning (1971),Good Morning (1971),Good Morning (1971),...,Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971),Good Morning (1971)

In [237]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Action, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [238]:
#administrator

In [239]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Action, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [240]:
#artist

In [241]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Action, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [242]:
#doctor

In [243]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Action, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [244]:
#educator

In [245]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Action, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [246]:
#engineer

In [247]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Action, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [248]:
#entertainment

In [249]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Action, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [250]:
#executive

In [251]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Action, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [252]:
#healthcare

In [253]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Action, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [254]:
#homemaker

In [255]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Action, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [256]:
#lawyer

In [257]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Action, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [258]:
#librarian

In [259]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Action, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [260]:
#marketing

In [261]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Action, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [262]:
#none

In [263]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Action, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [264]:
#other

In [265]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Action, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [266]:
#programmer

In [267]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Action, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [268]:
#retired

In [269]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Action, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [270]:
#salesman

In [271]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Action, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [272]:
#scientist

In [273]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Action, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [274]:
#student

In [275]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Action, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [276]:
#technician

In [277]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Action, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [278]:
#writer

In [279]:
Action_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Action_occupation_rank = Action_occupation_rank.reset_index(drop=True)
Action_occupation_rank.index += 1
Action_occupation_rank = Action_occupation_rank.rename_axis("Rank")
Action_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Congo (1995),U Turn (1997),Kull the Conqueror (1997),Steel (1997),Maximum Risk (1996),Diva (1981),Tank Girl (1995),"Ghost and the Darkness, The (1996)",Fallen (1998),GoldenEye (1995),...,The Deadly Cure (1996),Tomorrow Never Dies (1997),Turbo: A Power Rangers Movie (1997),Cyrano de Bergerac (1990),Speed (1994),Speed (1994),Cyrano de Bergerac (1990),Titanic (1997),"Princess Bride, The (1987)",Romper Stomper (1992)
2,"Magnificent Seven, The (1954)",Natural Born Killers (1994),Braveheart (1995),"Perfect World, A (1993)",Raiders of the Lost Ark (1981),Lost in Space (1998),Last Action Hero (1993),Best Men (1997),Braveheart (1995),In the Line of Fire (1993),...,In the Line of Duty 2 (1987),Outbreak (1995),"Boot, Das (1981)",Titanic (1997),Evil Dead II (1987),Evil Dead II (1987),Fire Down Below (1997),"Godfather, The (1972)",Blues Brothers 2000 (1998),"Glimmer Man, The (1996)"
3,"Princess Bride, The (1987)",Cyrano de Bergerac (1990),U Turn (1997),Star Wars (1977),Star Wars (1977),Blown Away (1994),Star Trek: The Wrath of Khan (1982),"Quest, The (1996)",Star Trek: First Contact (1996),Deep Rising (1998),...,Heavy Metal (1981),From Dusk Till Dawn (1996),Desperado (1995),Star Wars (1977),"African Queen, The (1951)","African Queen, The (1951)",Diva (1981),Star Wars (1977),Ben-Hur (1959),Faster Pussycat! Kill! Kill! (1965)
4,"Boot, Das (1981)",Demolition Man (1993),"Godfather: Part II, The (1974)",Titanic (1997),"Empire Strikes Back, The (1980)",Full Metal Jacket (1987),Raiders of the Lost Ark (1981),Jaws 2 (1978),Titanic (1997),Kull the Conqueror (1997),...,"Godfather: Part II, The (1974)",Star Trek: Generations (1994),"African Queen, The (1951)","Die xue shuang xiong (Killer, The) (1989)",Starship Troopers (1997),Starship Troopers (1997),Star Trek: The Wrath of Khan (1982),"Empire Strikes Back, The (1980)",Star Wars (1977),"Die xue shuang xiong (Killer, The) (1989)"
5,Glory (1989),Alien 3 (1992),Money Talks (1997),"Shadow, The (1994)",U Turn (1997),"Godfather, The (1972)",Top Gun (1986),"Fugitive, The (1993)","Peacemaker, The (1997)",Jackie Chan's First Strike (1996),...,"Boot, Das (1981)",In the Line of Fire (1993),"Adventures of Robin Hood, The (1938)","Empire Strikes Back, The (1980)","Boot, Das (1981)","Boot, Das (1981)",Star Trek IV: The Voyage Home (1986),"Princess Bride, The (1987)",Titanic (1997),Daylight (1996)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,Tokyo Fist (1995),Tokyo Fist (1995),Warriors of Virtue (1997),Tokyo Fist (1995),Warriors of Virtue (1997),Warriors of Virtue (1997),Tokyo Fist (1995),"Truth or Consequences, N.M. (1997)",Warriors of Virtue (1997),Warriors of Virtue (1997),...,Warriors of Virtue (1997),Warriors of Virtue (1997),"Truth or Consequences, N.M. (1997)",Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Lashou shentan (1992),Warriors of Virtue (1997),Warriors of Virtue (1997)
248,King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),Warriors of Virtue (1997),Tokyo Fist (1995),King of New York (1990),King of New York (1990),...,King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),"Truth or Consequences, N.M. (1997)",King of New York (1990),King of New York (1990)
249,Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),King of New York (1990),King of New York (1990),Men With Guns (1997),Men With Guns (1997),...,Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Men With Guns (1997),Tokyo Fist (1995),Men With Guns (1997),Men With Guns (1997)
250,Target (1995),Target (1995),Target (1995),Target (1995),Target (1995),Target (1995),Men With Guns (1997),Target (1995),Target (1995),Target (1995),...,Target (1995),Target (1995),Target (1995),Target (1995),Target (1995),Target (1995),Target (1995),Men With Guns (1997),Target (1995),Target (1995)
251,Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Target (1995),Mirage (1995),Mirage (1995),Mirage (1995),...,Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995)

In [280]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Adventure, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [281]:
#administrator

In [282]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Adventure, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [283]:
#artist

In [284]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Adventure, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [285]:
#doctor

In [286]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Adventure, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [287]:
#educator

In [288]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Adventure, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [289]:
#engineer

In [290]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Adventure, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [291]:
#entertainment

In [292]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Adventure, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [293]:
#executive

In [294]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Adventure, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [295]:
#healthcare

In [296]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Adventure, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [297]:
#homemaker

In [298]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Adventure, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [299]:
#lawyer

In [300]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Adventure, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [301]:
#librarian

In [302]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Adventure, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [303]:
#marketing

In [304]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Adventure, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [305]:
#none

In [306]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Adventure, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [307]:
#other

In [308]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Adventure, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [309]:
#programmer

In [310]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Adventure, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [311]:
#retired

In [312]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Adventure, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [313]:
#salesman

In [314]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Adventure, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [315]:
#scientist

In [316]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Adventure, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [317]:
#student

In [318]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Adventure, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [319]:
#technician

In [320]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Adventure, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [321]:
#writer

In [322]:
Adventure_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Adventure_occupation_rank = Adventure_occupation_rank.reset_index(drop=True)
Adventure_occupation_rank.index += 1
Adventure_occupation_rank = Adventure_occupation_rank.rename_axis("Rank")
Adventure_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Congo (1995),Fly Away Home (1996),"Empire Strikes Back, The (1980)",Star Wars (1977),Tom and Huck (1995),"City of Lost Children, The (1995)",For Whom the Bell Tolls (1943),"Quest, The (1996)",Star Trek: First Contact (1996),GoldenEye (1995),...,"Treasure of the Sierra Madre, The (1948)",True Lies (1994),Turbo: A Power Rangers Movie (1997),"Old Man and the Sea, The (1958)",Starship Troopers (1997),Starship Troopers (1997),Lawrence of Arabia (1962),"Mark of Zorro, The (1940)","Princess Bride, The (1987)",Daylight (1996)
2,"Big Blue, The (Grand bleu, Le) (1988)","Great Escape, The (1963)","Treasure of the Sierra Madre, The (1948)",Lawrence of Arabia (1962),Maximum Risk (1996),"Empire Strikes Back, The (1980)",Star Trek: The Wrath of Khan (1982),"Ghost and the Darkness, The (1996)",Return of the Jedi (1983),For Whom the Bell Tolls (1943),...,Heavy Metal (1981),"War, The (1994)",Golden Earrings (1947),Star Wars (1977),"African Queen, The (1951)","African Queen, The (1951)","Man Who Would Be King, The (1975)","City of Lost Children, The (1995)",Ben-Hur (1959),"Adventures of Robin Hood, The (1938)"
3,"Princess Bride, The (1987)",Star Trek: Generations (1994),"Great Escape, The (1963)","Wizard of Oz, The (1939)",Raiders of the Lost Ark (1981),Star Trek: The Wrath of Khan (1982),"Man Who Would Be King, The (1975)","Adventures of Robin Hood, The (1938)",Twister (1996),"Quick and the Dead, The (1995)",...,"Man Who Would Be King, The (1975)",Hercules (1997),Star Kid (1997),"20,000 Leagues Under the Sea (1954)",Evil Dead II (1987),Evil Dead II (1987),Star Trek: The Wrath of Khan (1982),"Amazing Panda Adventure, The (1995)","Great Escape, The (1963)",Muppet Treasure Island (1996)
4,"City of Lost Children, The (1995)",Star Kid (1997),Kull the Conqueror (1997),"African Queen, The (1951)",Fly Away Home (1996),"African Queen, The (1951)",Raiders of the Lost Ark (1981),Warriors of Virtue (1997),"Lost World: Jurassic Park, The (1997)","Great Escape, The (1963)",...,"Great Escape, The (1963)","City of Lost Children, The (1995)",For Whom the Bell Tolls (1943),White Squall (1996),Lawrence of Arabia (1962),Lawrence of Arabia (1962),Star Trek IV: The Voyage Home (1986),Star Wars (1977),Star Wars (1977),Lawrence of Arabia (1962)
5,"Secret of Roan Inish, The (1994)",Evil Dead II (1987),"Princess Bride, The (1987)",Raiders of the Lost Ark (1981),Star Wars (1977),Star Wars (1977),"Wizard of Oz, The (1939)",For Whom the Bell Tolls (1943),Kull the Conqueror (1997),Kull the Conqueror (1997),...,For Whom the Bell Tolls (1943),"Jungle Book, The (1994)",Lassie (1994),"Empire Strikes Back, The (1980)","Treasure of the Sierra Madre, The (1948)","Treasure of the Sierra Madre, The (1948)","Empire Strikes Back, The (1980)","Empire Strikes Back, The (1980)","City of Lost Children, The (1995)","Empire Strikes Back, The (1980)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,"Good Man in Africa, A (1994)",Gold Diggers: The Secret of Bear Mountain (1995),Far From Home: The Adventures of Yellow Dog (1...,Golden Earrings (1947),Far From Home: The Adventures of Yellow Dog (1...,Far From Home: The Adventures of Yellow Dog (1...,Far From Home: The Adventures of Yellow Dog (1...,Surviving the Game (1994),Far From Home: The Adventures of Yellow Dog (1...,"Good Man in Africa, A (1994)",...,"Good Man in Africa, A (1994)",Far From Home: The Adventures of Yellow Dog (1...,Gold Diggers: The Secret of Bear Mountain (1995),Gold Diggers: The Secret of Bear Mountain (1995),Far From Home: The Adventures of Yellow Dog (1...,Far From Home: The Adventures of Yellow Dog (1...,Wings of Courage (1995),Time Tracers (1995),Far From Home: The Adventures of Yellow Dog (1...,"Good Man in Africa, A (1994)"
132,Far From Home: The Adventures of Yellow Dog (1...,Wings of Courage (1995),"Amazing Panda Adventure, The (1995)",Wings of Courage (1995),"Amazing Panda Adventure, The (1995)","Amazing Panda Adventure, The (1995)","Amazing Panda Adventure, The (1995)",Golden Earrings (1947),"Amazing Panda Adventure, The (1995)",Far From Home: The Adventures of Yellow Dog (1...,...,Far From Home: The Adventures of Yellow Dog (1...,"Amazing Panda Adventure, The (1995)",Wings of Courage (1995),Wings of Courage (1995),"Amazing Panda Adventure, The (1995)","Amazing Panda Adventure, The (1995)","Good Man in Africa, A (1994)",Star Kid (1997),"Amazing Panda Adventure, The (1995)",Far From Home: The Adventures of Yellow Dog (1...
133,"Amazing Panda Adventure, The (1995)","Good Man in Africa, A (1994)","Secret Adventures of Tom Thumb, The (1993)","Good Man in Africa, A (1994)","Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",Wings of Courage (1995),"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",...,"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)","Good Man in Africa, A (1994)","Good Man in Africa, A (1994)","Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",Far From Home: The Adventures of Yellow Dog (1...,Golden Earrings (1947),"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)"
134,"Secret Adventures of Tom Thumb, The (1993)",Far From Home: The Adventures of Yellow Dog (1...,Buddy (1997),Far From Home: The Adventures of Yellow Dog (1...,Buddy (1997),Buddy (1997),Buddy (1997),"Good Man in Africa, A (1994)",Buddy (1997),Buddy (1997),...,Buddy (1997),Buddy (1997),"Secret Adventures of Tom Thumb, The (1993)","Amazing Panda Adventure, The (1995)",Buddy (1997),Buddy (1997),"Amazing Panda Adventure, The (1995)",Wings of Courage (1995),Buddy (1997),Buddy (1997)
135,Buddy (1997),"Secret Adventures of Tom Thumb, The (1993)",Warriors of Virtue (1997),"Secret Adventures of Tom Thumb, The (1993)",Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Buddy (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),...,Warriors of Virtue (1997),Warriors of Virtue (1997),Buddy (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Buddy (1997),Warriors of Virtue (1997),Warriors of Virtue (1997)

In [323]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Animation, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [324]:
#administrator

In [325]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Animation, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [326]:
#artist

In [327]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Animation, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [328]:
#doctor

In [329]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Animation, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [330]:
#educator

In [331]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Animation, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [332]:
#engineer

In [333]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Animation, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [334]:
#entertainment

In [335]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Animation, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [336]:
#executive

In [337]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Animation, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [338]:
#healthcare

In [339]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Animation, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [340]:
#homemaker

In [341]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Animation, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [342]:
#lawyer

In [343]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Animation, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [344]:
#librarian

In [345]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Animation, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [346]:
#marketing

In [347]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Animation, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [348]:
#none

In [349]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Animation, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [350]:
#other

In [351]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Animation, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [352]:
#programmer

In [353]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Animation, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [354]:
#retired

In [355]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Animation, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [356]:
#salesman

In [357]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Animation, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [358]:
#scientist

In [359]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Animation, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [360]:
#student

In [361]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Animation, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [362]:
#technician

In [363]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Animation, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [364]:
#writer

In [365]:
Animation_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Animation_occupation_rank = Animation_occupation_rank.reset_index(drop=True)
Animation_occupation_rank.index += 1
Animation_occupation_rank = Animation_occupation_rank.rename_axis("Rank")
Animation_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Close Shave, A (1995)","Close Shave, A (1995)",Cats Don't Dance (1997),Wallace & Gromit: The Best of Aardman Animatio...,"Wrong Trousers, The (1993)",Ghost in the Shell (Kokaku kidotai) (1995),Winnie the Pooh and the Blustery Day (1968),Snow White and the Seven Dwarfs (1937),Toy Story (1995),Ghost in the Shell (Kokaku kidotai) (1995),...,"Wrong Trousers, The (1993)",Hercules (1997),Faust (1994),Wallace & Gromit: The Best of Aardman Animatio...,"Wrong Trousers, The (1993)","Wrong Trousers, The (1993)","Close Shave, A (1995)",Gumby: The Movie (1995),"Wrong Trousers, The (1993)",Faust (1994)
2,"Grand Day Out, A (1992)",Ghost in the Shell (Kokaku kidotai) (1995),Wallace & Gromit: The Best of Aardman Animatio...,Cats Don't Dance (1997),Wallace & Gromit: The Best of Aardman Animatio...,Snow White and the Seven Dwarfs (1937),Dumbo (1941),Alice in Wonderland (1951),Beauty and the Beast (1991),"Wrong Trousers, The (1993)",...,Heavy Metal (1981),Cats Don't Dance (1997),Ghost in the Shell (Kokaku kidotai) (1995),"Wrong Trousers, The (1993)","Close Shave, A (1995)","Close Shave, A (1995)",Fantasia (1940),Faust (1994),Dumbo (1941),"Close Shave, A (1995)"
3,"Wrong Trousers, The (1993)","Wrong Trousers, The (1993)",Beauty and the Beast (1991),"Wrong Trousers, The (1993)",Ghost in the Shell (Kokaku kidotai) (1995),"Fox and the Hound, The (1981)","Lion King, The (1994)",Fantasia (1940),"Hunchback of Notre Dame, The (1996)",Anastasia (1997),...,"Close Shave, A (1995)","Sword in the Stone, The (1963)","Close Shave, A (1995)","Close Shave, A (1995)",Snow White and the Seven Dwarfs (1937),Snow White and the Seven Dwarfs (1937),Alice in Wonderland (1951),Wallace & Gromit: The Best of Aardman Animatio...,Wallace & Gromit: The Best of Aardman Animatio...,"Grand Day Out, A (1992)"
4,Cinderella (1950),"Grand Day Out, A (1992)","Close Shave, A (1995)",Snow White and the Seven Dwarfs (1937),"Close Shave, A (1995)","Wrong Trousers, The (1993)",Hercules (1997),"Hunchback of Notre Dame, The (1996)",Hercules (1997),"Close Shave, A (1995)",...,"Sword in the Stone, The (1963)",Anastasia (1997),"Grand Day Out, A (1992)",Alice in Wonderland (1951),Beauty and the Beast (1991),Beauty and the Beast (1991),Winnie the Pooh and the Blustery Day (1968),"Close Shave, A (1995)",Fantasia (1940),"Wrong Trousers, The (1993)"
5,Alice in Wonderland (1951),Toy Story (1995),"Wrong Trousers, The (1993)","Close Shave, A (1995)","Grand Day Out, A (1992)",Pinocchio (1940),Fantasia (1940),Cinderella (1950),Aladdin (1992),Snow White and the Seven Dwarfs (1937),...,Beauty and the Beast (1991),Alice in Wonderland (1951),Wallace & Gromit: The Best of Aardman Animatio...,"Grand Day Out, A (1992)",Wallace & Gromit: The Best of Aardman Animatio...,Wallace & Gromit: The Best of Aardman Animatio...,"Sword in the Stone, The (1963)","Wrong Trousers, The (1993)","Close Shave, A (1995)",Winnie the Pooh and the Blustery Day (1968)
6,Winnie the Pooh and the Blustery Day (1968),"Three Caballeros, The (1945)",Cinderella (1950),Winnie the Pooh and the Blustery Day (1968),Fantasia (1940),Wallace & Gromit: The Best of Aardman Animatio...,Cinderella (1950),Aladdin (1992),Anastasia (1997),Toy Story (1995),...,Aladdin and the King of Thieves (1996),Toy Story (1995),"Wrong Trousers, The (1993)",Toy Story (1995),Akira (1988),Akira (1988),Dumbo (1941),"Grand Day Out, A (1992)","Hunchback of Notre Dame, The (1996)",Beauty and the Beast (1991)
7,Dumbo (1941),Pinocchio (1940),Toy Story (1995),Pinocchio (1940),Toy Story (1995),"Grand Day Out, A (1992)","Sword in the Stone, The (1963)","Three Caballeros, The (1945)",Space Jam (1996),Beavis and Butt-head Do America (1996),...,Alice in Wonderland (1951),Dumbo (1941),Toy Story (1995),Aladdin (1992),Alice in Wonderland (1951),Alice in Wonderland (1951),"Aristocats, The (1970)","Swan Princess, The (1994)",Toy Story (1995),Hercules (1997)
8,Pinocchio (1940),"Goofy Movie, A (1995)",Snow White and the Seven Dwarfs (1937),Alice in Wonderland (1951),"Lion King, The (1994)","Lion King, The (1994)","Hunchback of Notre Dame, The (1996)",Winnie the Pooh and the Blustery Day (1968),James and the Giant Peach (1996),Pinocchio (1940),...,"Lion King, The (1994)","Fox and the Hound, The (1981)",Winnie the Pooh and the Blustery Day (1968),Beauty and the Beast (1991),Fantasia (1940),Fantasia (1940),Wallace & Gromit: The Best of Aardman Animatio...,Winnie the Pooh and the Blustery Day (1968),"Transformers: The Movie, The (1986)",Wallace & Gromit: The Best of Aardman Animatio...
9,Akira (1988),Akira (1988),"Lion King, The (1994)","Three Caballeros, The (1945)",Aladdin (1992),Anastasia (1997),"Wrong Trousers, The (1993)",Space Jam (1996),"Lion King, The (1994)","Lion King, The (1994)",...,Wallace & Gromit: The Best of Aardman Animatio...,Space Jam (1996),Anastasia (1997),Heavy Metal (1981),James and the Giant Peach (1996),James and the Giant Peach (1996),"Wrong Trousers, The (1993)",Toy Story (1995),Beauty and the Beast (1991),Pete's Dragon (1977)
10,Toy Story (1995),Fantasia (1940),Fantasia (1940),Space Jam (1996),Beauty and the Beast (1991),Akira (1988),Beauty and the Beast (1991),"Close Shave, A (1995)",Snow White and the Seven Dwarfs (1937),Alice in Wonderland (1951),...,"Three Caballeros, The (1945)","Hunchback of Notre Dame, The (1996)",Balto (1995),Hercules (1997),Dumbo (1941),Dumbo (1941),"Grand Day Out, A (1992)",Aladdin (1992),Snow White and the Seven Dwarfs (1937),"Sword in the Stone, The (1963)"
11,Wallace & Gromit: The Best of Aardman Animatio...,James and the Giant Peach (1996),James and the Giant Peach (1996),Toy Story (1995),Hercules (1997),"Close Shave, A (1995)",Pinocchio (1940),Pocahontas (1995),Heavy Metal (1981),Aladdin (1992),...,Aladdin (1992),Beauty and the Beast (1991),Snow White and the Seven Dwarfs (1937),Cats Don't Dance (1997),Toy Story (1995),Toy Story (1995),James and the Giant Peach (1996),"Aristocats, The (1970)",Aladdin (1992),Pinocchio (1940)
12,Aladdin (1992),Snow White and the Seven Dwarfs (1937),Dumbo (1941),"Lion King, The (1994)",Alice in Wonderland (1951),Cinderella (1950),Toy Story (1995),Toy Story (1995),"Aristocats, The (1970)",Beauty and the Beast (1991),...,Toy Story (1995),Ghost in the Shell (Kokaku kidotai) (1995),Fantasia (1940),"Lion King, The (1994)",Aladdin (1992),Aladdin (1992),Pinocchio (1940),"Lion King, The (1994)","Grand Day Out, A (1992)",Ghost in the Shell (Kokaku kidotai) (1995)
13,Beauty and the Beast (1991),Aladdin (1992),Anastasia (1997),Fantasia (1940),Pinocchio (1940),Hercules (1997),Snow White and the Seven Dwarfs (1937),Pinocchio (1940),All Dogs Go to Heaven 2 (1996),Cinderella (1950),...,Pinocchio (1940),"Lion King, The (1994)",Aladdin (1992),Anastasia (1997),"Lion King, The (1994)","Lion King, The (1994)",Cinderella (1950),Beauty and the Beast (1991),Akira (1988),Dumbo (1941)
14,Snow White and the Seven Dwarfs (1937),Wallace & Gromit: The Best of Aardman Animatio...,Aladdin (1992),Heavy Metal (1981),Cinderella (1950),James and the Giant Peach (1996),Aladdin (1992),Beauty and the Beast (1991),Wallace & Gromit: The Best of Aardman Animatio...,Heavy Metal (1981),...,Dumbo (1941),Fantasia (1940),"Lion King, The (1994)",Fantasia (1940),Pinocchio (1940),Pinocchio (1940),"Lion King, The (1994)",Akira (1988),James and the Giant Peach (1996),"Lion King, The (1994)"
15,"Lion King, The (1994)",Beauty and the Beast (1991),"Hunchback of Notre Dame, The (1996)",Aladdin (1992),Winnie the Pooh and the Blustery Day (1968),Fantasia (1940),"Close Shave, A (1995)","Sword in the Stone, The (1963)","Wrong Trousers, The (1993)",Fantasia (1940),...,Fantasia (1940),"Transformers: The Movie, The (1986)",Beauty and the Beast (1991),"Hunchback of Notre Dame, The (1996)","Sword in the Stone, The (1963)","Sword in the Stone, The (1963)",Toy Story (1995),"Sword in the Stone, The (1963)",Anastasia (1997),Fantasia (1940)
16,Anastasia (1997),"Aristocats, The (1970)",Space Jam (1996),Beauty and the Beast (1991),Snow White and the Seven Dwarfs (1937),Toy Story (1995),Space Jam (1996),Balto (1995),"Grand Day Out, A (1992)",Pocahontas (1995),...,Anastasia (1997),Cinderella (1950),Cinderella (1950),Pinocchio (1940),Cinderella (1950),Cinderella (1950),Beauty and the Beast (1991),Hercules (1997),"Fox and the Hound, The (1981)",Balto (1995)
17,James and the Giant Peach (1996),Dumbo (1941),Heavy Metal (1981),Pete's Dragon (1977),Dumbo (1941),Aladdin (1992),"Grand Day Out, A (1992)","Lion King, The (1994)",Akira (1988),Balto (1995),...,Snow White and the Seven Dwarfs (1937),Pinocchio (1940),Pinocchio (1940),Pete's Dragon (1977),"Hunchback of Notre Dame, The (1996)","Hunchback of Notre Dame, The (1996)",Snow White and the Seven Dwarfs (1937),Fantasia (1940),Pinocchio (1940),Cinderella (1950)
18,Fantasia (1940),Pete's Dragon (1977),Beavis and Butt-head Do America (1996),"Grand Day Out, A (1992)",Akira (1988),Beavis and Butt-head Do America (1996),Heavy Metal (1981),Dumbo (1941),Beavis and Butt-head Do America (1996),James and the Giant Peach (1996),...,Cinderella (1950),Snow White and the Seven Dwarfs (1937),Dumbo (1941),Cinderella (1950),"Aristocats, The (1970)","Aristocats, The (1970)",Aladdin (1992),"Goofy Movie, A (1995)",Hercules (1997),Toy Story (1995)
19,"Aristocats, The (1970)","Transformers: The Movie, The (1986)","Aristocats, The (1970)",Dumbo (1941),"Hunchback of Notre Dame, The (1996)",Dumbo (1941),"Fox and the Hound, The (1981)",James and the Giant Peach (1996),Pinocchio (1940),"Aristocats, The (1970)",...,"Fox and the Hound, The (1981)",Aladdin (1992),Alice in Wonderland (1951),Snow White and the Seven Dwarfs (1937),Cats Don't Dance (1997),Cats Don't Dance (1997),Beavis and Butt-head Do America (1996),Pinocchio (1940),"Lion King, The (1994)",Aladdin (1992)
20,Heavy Metal (1981),"Lion King, The (1994)",All Dogs Go to Heaven 2 (1996),Hercules (1997),"Fox and the Hound, The (1981)",Beauty and the Beast (1991),James and the Giant Peach (1996),Heavy Metal (1981),"Close Shave, A (1995)",Oliver & Company (1988),...,Oliver & Company (1988),Pocahontas (1995),"Hunchback of Notre Dame, The (1996)",Akira (1988),Oliver & Company (1988),Oliver & Company (1988),Pocahontas (1995),Alice in Wonderland (1951),Heavy Metal (1981),Alice in Wonderland (1951)
21,"Sword in the Stone, The (1963)",Alice in Wonderland (1951),"Grand Day Out, A (1992)","Hunchback of Notre Dame, The (1996)",Heavy Metal (1981),Heavy Metal (1981),Beavis and Butt-head Do America (1996),Aladdin and the King of Thieves (1996),Cinderella (1950),"Transformers: The Movie, The (1986)",...,"Aristocats, The (1970)",Beavis and Butt-head Do America (1996),Akira (1988),Ghost in the Shell (Kokaku kidotai) (1995),Heavy Metal (1981),Heavy Metal (1981),"Hunchback of Notre Dame, The (1996)",Snow White and the Seven Dwarfs (1937),Cinderella (1950),Snow White and the Seven Dwarfs (1937)
22,"Hunchback of Notre Dame, The (1996)",Heavy Metal (1981),Akira (1988),James and the Giant Peach (1996),"Three Caballeros, The (1945)",Winnie the Pooh and the Blustery Day (1968),Anastasia (1997),"Swan Princess, The (1994)",Alice in Wonderland (1951),All Dogs Go to Heaven 2 (1996),...,Hercules (1997),Akira (1988),Heavy Metal (1981),Winnie the Pooh and the Blustery Day (1968),All Dogs Go to Heaven 2 (1996),All Dogs Go to Heaven 2 (1996),Cats Don't Dance (1997),Cinderella (1950),Winnie the Pooh and the Blustery Day (1968),Akira (1988)
23,All Dogs Go to Heaven 2 (1996),Cinderella (1950),Pinocchio (1940),Aladdin and the King of Thieves (1996),Land Before Time III: The Time of the Great Gi...,Cats Don't Dance (1997),Faust (1994),Oliver & Company (1988),Aladdin and the King of Thieves (1996),Wallace & Gromit: The Best of Aardman Animatio...,...,Balto (1995),James and the Giant Peach (1996),James and the Giant Peach (1996),Beavis and Butt-head Do America (1996),"Grand Day Out, A (1992)","Grand Day Out, A (1992)",Ghost in the Shell (Kokaku kidotai) (1995),"Fox and the Hound, The (1981)","Sword in the Stone, The (1963)","Fox and the Hound, The (1981)"
24,Pocahontas (1995),Anastasia (1997),Alice in Wonderland (1951),Cinderella (1950),Balto (1995),"Aristocats, The (1970)",Cats Don't Dance (1997),"Pagemaster, The (1994)","Transformers: The Movie, The (1986)","Grand Day Out, A (1992)",...,"Hunchback of Notre Dame, The (1996)",Heavy Metal (1981),"Sword in the Stone, The (1963)","Sword in the Stone, The (1963)",Beavis and Butt-head Do America (1996),Beavis and Butt-head Do America (1996),Space Jam (1996),Dumbo (1941),Ghost in the Shell (Kokaku kidotai) (1995),Oliver & Company (1988)
25,Cats Don't Dance (1997),"Sword in the Stone, The (1963)",Aladdin and the King of Thieves (1996),Anastasia (1997),James and the Giant Peach (1996),"Hunchback of Notre Dame, The (1996)",All Dogs Go to Heaven 2 (1996),"Fox and the Hound, The (1981)",Fantasia (1940),Akira (1988),...,Winnie the Pooh and the Blustery Day (1968),"Aristocats, The (1970)","Fox and the Hound, The (1981)",Space Jam (1996),Aladdin and the King of Thieves (1996),Aladdin and the King of Thieves (1996),Heavy Metal (1981),"Hunchback of Notre Dame, The (1996)",Beavis and Butt-head Do America (1996),"Aristocats, The (1970)"
26,Balto (1995),"Hunchback of Notre Dame, The (1996)","Transformers: The Movie, The (1986)","Pagemaster, The (1994)","Sword in the Stone, The (1963)","Sword in the Stone, The (1963)","Aristocats, The (1970)","Aristocats, The (1970)",Dumbo (1941),Aladdin and the King of Thieves (1996),...,James and the Giant Peach (1996),All Dogs Go to Heaven 2 (1996),"Aristocats, The (1970)","Aristocats, The (1970)","Transformers: The Movie, The (1986)","Transformers: The Movie, The (1986)",Anastasia (1997),Oliver & Company (1988),Pocahontas (1995),Cats Don't Dance (1997)
27,Pete's Dragon (1977),Cats Don't Dance (1997),Pocahontas (1995),"Aristocats, The (1970)",Beavis and Butt-head Do America (1996),Space Jam (1996),Wallace & Gromit: The Best of Aardman Animatio...,Beavis and Butt-head Do America (1996),Pocahontas (1995),Dumbo (1941),...,Space Jam (1996),Wallace & Gromit: The Best of Aardman Animatio...,"Transformers: The Movie, The (1986)","Transformers: The Movie, The (1986)",Anastasia (1997),Anastasia (1997),All Dogs Go to Heaven 2 (1996),Anastasia (1997),Space Jam (1996),"Goofy Movie, A (1995)"
28,Beavis and Butt-head Do America (1996),Beavis and Butt-head Do America (1996),"Three Caballeros, The (1945)","Sword in the Stone, The (1963)",Pete's Dragon (1977),Oliver & Company (1988),Akira (1988),Pete's Dragon (1977),"Three Caballeros, The (1945)","Hunchback of Notre Dame, The (1996)",...,Cats Don't Dance (1997),"Wrong Trousers, The (1993)",Hercules (1997),Aladdin and the King of Thieves (1996),Pocahontas (1995),Pocahontas (1995),Akira (1988),Ghost in the Shell (Kokaku kidotai) (1995),"Aristocats, The (1970)","Hunchback of Notre Dame, The (1996)"
29,"Three Caballeros, The (1945)",Hercules (1997),"Sword in the Stone, The (1963)",Beavis and Butt-head Do America (1996),"Aristocats, The (1970)",Pete's Dragon (1977),Alice in Wonderland (1951),Hercules (1997),"Sword in the Stone, The (1963)","Three Caballeros, The (1945)",...,Pocahontas (1995),"Grand Day Out, A (1992)",Aladdin and the King of Thieves (1996),"Three Caballeros, The (1945)","Three Caballeros, The (1945)","Three Caballeros, The (1945)",Aladdin and the King of Thieves (1996),Heavy Metal (1981),Pete's Dragon (1977),Pocahontas (1995)
30,"Fox and the Hound, The (1981)",Aladdin and the King of Thieves (1996),"Fox and the Hound, The (1981)",Gumby: The Movie (1995),Space Jam (1996),All Dogs Go to Heaven 2 (1996),Aladdin and the King of Thieves (1996),Gumby: The Movie (1995),"Fox and the Hound, The (1981)","Sword in the Stone, The (1963)",...,Pete's Dragon (1977),"Close Shave, A (1995)","Goofy Movie, A (1995)",Dumbo (1941),Space Jam (1996),Space Jam (1996),"Transformers: The Movie, The (1986)",Aladdin and the King of Thieves (1996),All Dogs Go to Heaven 2 (1996),Anastasia (1997)
31,Space Jam (1996),"Fox and the Hound, The (1981)",Winnie the Pooh and the Blustery Day (1968),"Fox and the Hound, The (1981)",Anastasia (1997),Alice in Wonderland (1951),"Transformers: The Movie, The (1986)",Akira (1988),Winnie the Pooh and the Blustery Day (1968),Space Jam (1996),...,Beavis and Butt-head Do America (1996),Aladdin and the King of Thieves (1996),"Swan Princess, The (1994)",James and the Giant Peach (1996),"Fox and the Hound, The (1981)","Fox and the Hound, The (1981)","Three Caballeros, The (1945)","Transformers: The Movie, The (1986)",Alice in Wonderland (1951),Beavis and Butt-head Do America (1996)
32,"Swan Princess, The (1994)","Swan Princess, The (1994)",Hercules (1997),All Dogs Go to Heaven 2 (1996),"Goofy Movie, A (1995)",Aladdin and the King of Thieves (1996),Pocahontas (1995),"Transformers: The Movie, The (1986)",Cats Don't Dance (1997),"Fox and the Hound, The (1981)",...,All Dogs Go to Heaven 2 (1996),"Three Caballeros, The (1945)",Pocahontas (1995),Oliver & Company (1988),Winnie the Pooh and the Blustery Day (1968),Winnie the Pooh and the Blustery Day (1968),"Fox and the Hound, The (1981)",James and the Giant Peach (1996),Aladdin and the King of Thieves (1996),James and the Giant Peach (1996)
33,Aladdin and the King of Thieves (1996),Space Jam (1996),Balto (1995),Pocahontas (1995),"Transformers: The Movie, The (1986)","Transformers: The Movie, The (1986)","Three Caballeros, The (1945)",All Dogs Go to Heaven 2 (1996),Balto (1995),Winnie the Pooh and the Blustery Day (1968),...,Gumby: The Movie (1995),Winnie the Pooh and the Blustery Day (1968),Space Jam (1996),Pocahontas (1995),Hercules (1997),Hercules (1997),Hercules (1997),Beavis and Butt-head Do America (1996),"Three Caballeros, The (1945)",Space Jam (1996)
34,Land Before Time III: The Time of the Great Gi...,All Dogs Go to Heaven 2 (1996),"Pagemaster, The (1994)",Akira (1988),Pocahontas (1995),Pocahontas (1995),Balto (1995),"Wrong Trousers, The (1993)","Pagemaster, The (1994)",Cats Don't Dance (1997),...,"Grand Day Out, A (1992)",Balto (1995),Oliver & Company (1988),"Goofy Movie, A (1995)",Balto (1995),Balto (1995),Balto (1995),"Three Caballeros, The (1945)",Cats Don't Dance (1997),Heavy Metal (1981)
35,"Goofy Movie, A (1995)",Pocahontas (1995),Oliver & Company (1988),"Transformers: The Movie, The (1986)",All Dogs Go to Heaven 2 (1996),"Three Caballeros, The (1945)","Pagemaster, The (1994)","Grand Day Out, A (1992)",Oliver & Company (1988),Hercules (1997),...,Akira (1988),"Pagemaster, The (1994)",Pete's Dragon (1977),"Fox and the Hound, The (1981)","Pagemaster, The (1994)","Pagemaster, The (1994)","Pagemaster, The (1994)",Pete's Dragon (1977),Balto (1995),"Pagemaster, The (1994)"
36,"Transformers: The Movie, The (1986)",Winnie the Pooh and the Blustery Day (1968),Pete's Dragon (1977),Balto (1995),Aladdin and the King of Thieves (1996),Balto (1995),Oliver & Company (1988),"Goofy Movie, A (1995)",Pete's Dragon (1977),"Pagemaster, The (1994)",...,"Transformers: The Movie, The (1986)",Oliver & Company (1988),Cats Don't Dance (1997),All Dogs Go to Heaven 2 (1996),Pete's Dragon (1977),Pete's Dragon (1977),Oliver & Company (1988),Space Jam (1996),"Pagemaster, The (1994)",Aladdin and the King of Thieves (1996)
37,Hercules (1997),Balto (1995),"Goofy Movie, A (1995)",Oliver & Company (1988),Cats Don't Dance (1997),"Pagemaster, The (1994)",Pete's Dragon (1977),Ghost in the Shell (Kokaku kidotai) (1995),"Goofy Movie, A (1995)",Pete's Dragon (1977),...,"Pagemaster, The (1994)",Pete's Dragon (1977),Beavis and Butt-head Do America (1996),"Pagemaster, The (1994)","Goofy Movie, A (1995)","Goofy Movie, A (1995)",Pete's Dragon (1977),Balto (1995),Oliver & Company (1988),"Transformers: The Movie, The (1986)"

In [366]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Children, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [367]:
#administrator

In [368]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Children, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [369]:
#artist

In [370]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Children, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [371]:
#doctor

In [372]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Children, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [373]:
#educator

In [374]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Children, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [375]:
#engineer

In [376]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Children, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [377]:
#entertainment

In [378]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Children, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [379]:
#executive

In [380]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Children, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [381]:
#healthcare

In [382]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Children, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [383]:
#homemaker

In [384]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Children, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [385]:
#lawyer

In [386]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Children, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [387]:
#librarian

In [388]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Children, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [389]:
#marketing

In [390]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Children, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [391]:
#none

In [392]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Children, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [393]:
#other

In [394]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Children, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [395]:
#programmer

In [396]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Children, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [397]:
#retired

In [398]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Children, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [399]:
#salesman

In [400]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Children, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [401]:
#scientist

In [402]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Children, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [403]:
#student

In [404]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Children, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [405]:
#technician

In [406]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Children, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [407]:
#writer

In [408]:
Children_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Children_occupation_rank = Children_occupation_rank.reset_index(drop=True)
Children_occupation_rank.index += 1
Children_occupation_rank = Children_occupation_rank.rename_axis("Rank")
Children_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"NeverEnding Story III, The (1994)",Star Kid (1997),Cats Don't Dance (1997),"Baby-Sitters Club, The (1995)",Tom and Huck (1995),Pinocchio (1940),Dumbo (1941),Pollyanna (1960),Toy Story (1995),George of the Jungle (1997),...,"Sword in the Stone, The (1963)","Jungle Book, The (1994)",Turbo: A Power Rangers Movie (1997),"Little Princess, The (1939)","Nightmare Before Christmas, The (1993)","Nightmare Before Christmas, The (1993)",Fantasia (1940),Gumby: The Movie (1995),"Little Princess, A (1995)",Home Alone 3 (1997)
2,So Dear to My Heart (1949),"Adventures of Pinocchio, The (1996)","Wizard of Oz, The (1939)",Cats Don't Dance (1997),"Little Princess, A (1995)","Fox and the Hound, The (1981)",Winnie the Pooh and the Blustery Day (1968),Snow White and the Seven Dwarfs (1937),George of the Jungle (1997),Anastasia (1997),...,E.T. the Extra-Terrestrial (1982),Hercules (1997),Star Kid (1997),Old Yeller (1957),Snow White and the Seven Dwarfs (1937),Snow White and the Seven Dwarfs (1937),Cinderella (1950),Shiloh (1997),Dumbo (1941),Babe (1995)
3,Bogus (1996),Fly Away Home (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)",Fly Away Home (1996),Snow White and the Seven Dwarfs (1937),"Secret Garden, The (1993)",Alice in Wonderland (1951),"Hunchback of Notre Dame, The (1996)","Little Princess, The (1939)",...,"Three Caballeros, The (1945)",Home Alone (1990),Lassie (1994),"20,000 Leagues Under the Sea (1954)",Babe (1995),Babe (1995),"Lion King, The (1994)","Amazing Panda Adventure, The (1995)",Fantasia (1940),Winnie the Pooh and the Blustery Day (1968)
4,FairyTale: A True Story (1997),Matilda (1996),Beauty and the Beast (1991),Snow White and the Seven Dwarfs (1937),Black Beauty (1994),Babe (1995),"Lion King, The (1994)",E.T. the Extra-Terrestrial (1982),Beauty and the Beast (1991),Mary Poppins (1964),...,Mary Poppins (1964),Cats Don't Dance (1997),"Little Princess, A (1995)",Alice in Wonderland (1951),Mary Poppins (1964),Mary Poppins (1964),"Nightmare Before Christmas, The (1993)","Little Rascals, The (1994)","Hunchback of Notre Dame, The (1996)",Beauty and the Beast (1991)
5,Old Yeller (1957),Babe (1995),FairyTale: A True Story (1997),E.T. the Extra-Terrestrial (1982),Babe (1995),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)",Fantasia (1940),Free Willy 3: The Rescue (1997),That Darn Cat! (1997),...,Aladdin and the King of Thieves (1996),"Wizard of Oz, The (1939)","Wizard of Oz, The (1939)","Wizard of Oz, The (1939)",E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),Kim (1950),"Second Jungle Book: Mowgli & Baloo, The (1997)",Willy Wonka and the Chocolate Factory (1971),"Amazing Panda Adventure, The (1995)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Gold Diggers: The Secret of Bear Mountain (1995),"Little Princess, The (1939)",Far From Home: The Adventures of Yellow Dog (1...,"Swan Princess, The (1994)",Far From Home: The Adventures of Yellow Dog (1...,Far From Home: The Adventures of Yellow Dog (1...,Far From Home: The Adventures of Yellow Dog (1...,Wild America (1997),Far From Home: The Adventures of Yellow Dog (1...,Gold Diggers: The Secret of Bear Mountain (1995),...,Gold Diggers: The Secret of Bear Mountain (1995),Far From Home: The Adventures of Yellow Dog (1...,Gumby: The Movie (1995),Tom and Huck (1995),Far From Home: The Adventures of Yellow Dog (1...,Far From Home: The Adventures of Yellow Dog (1...,Herbie Rides Again (1974),So Dear to My Heart (1949),Far From Home: The Adventures of Yellow Dog (1...,"Little Princess, The (1939)"
119,Far From Home: The Adventures of Yellow Dog (1...,Herbie Rides Again (1974),"Amazing Panda Adventure, The (1995)",Land Before Time III: The Time of the Great Gi...,"Amazing Panda Adventure, The (1995)","Amazing Panda Adventure, The (1995)","Amazing Panda Adventure, The (1995)","Simple Wish, A (1997)","Amazing Panda Adventure, The (1995)",Far From Home: The Adventures of Yellow Dog (1...,...,Far From Home: The Adventures of Yellow Dog (1...,"Amazing Panda Adventure, The (1995)","Little Princess, The (1939)",Gumby: The Movie (1995),"Amazing Panda Adventure, The (1995)","Amazing Panda Adventure, The (1995)",Gold Diggers: The Secret of Bear Mountain (1995),Zeus and Roxanne (1997),"Amazing Panda Adventure, The (1995)",Far From Home: The Adventures of Yellow Dog (1...
120,"Amazing Panda Adventure, The (1995)",Gold Diggers: The Secret of Bear Mountain (1995),"Secret Adventures of Tom Thumb, The (1993)","Next Karate Kid, The (1994)","Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",Star Kid (1997),"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",...,"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",Gold Diggers: The Secret of Bear Mountain (1995),Gold Diggers: The Secret of Bear Mountain (1995),"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)",Far From Home: The Adventures of Yellow Dog (1...,Kim (1950),"Secret Adventures of Tom Thumb, The (1993)","Secret Adventures of Tom Thumb, The (1993)"
121,"Secret Adventures of Tom Thumb, The (1993)",Far From Home: The Adventures of Yellow Dog (1...,Buddy (1997),Far From Home: The Adventures of Yellow Dog (1...,Buddy (1997),Buddy (1997),Buddy (1997),Kazaam (1996),Buddy (1997),Buddy (1997),...,Buddy (1997),Buddy (1997),"Secret Adventures of Tom Thumb, The (1993)","Amazing Panda Adventure, The (1995)",Buddy (1997),Buddy (1997),"Amazing Panda Adventure, The (1995)",Star Kid (1997),Buddy (1997),Buddy (1997)
122,Buddy (1997),"Secret Adventures of Tom Thumb, The (1993)",Warriors of Virtue (1997),"Secret Adventures of Tom Thumb, The (1993)",Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Buddy (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),...,Warriors of Virtue (1997),Warriors of Virtue (1997),Buddy (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Buddy (1997),Warriors of Virtue (1997),Warriors of Virtue (1997)

In [409]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Comedy, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [410]:
#administrator

In [411]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Comedy, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [412]:
#artist

In [413]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Comedy, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [414]:
#doctor

In [415]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Comedy, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [416]:
#educator

In [417]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Comedy, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [418]:
#engineer

In [419]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Comedy, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [420]:
#entertainment

In [421]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Comedy, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [422]:
#executive

In [423]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Comedy, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [424]:
#healthcare

In [425]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Comedy, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [426]:
#homemaker

In [427]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Comedy, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [428]:
#lawyer

In [429]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Comedy, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [430]:
#librarian

In [431]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Comedy, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [432]:
#marketing

In [433]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Comedy, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [434]:
#none

In [435]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Comedy, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [436]:
#other

In [437]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Comedy, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [438]:
#programmer

In [439]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Comedy, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [440]:
#retired

In [441]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Comedy, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [442]:
#salesman

In [443]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Comedy, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [444]:
#scientist

In [445]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Comedy, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [446]:
#student

In [447]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Comedy, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [448]:
#technician

In [449]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Comedy, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [450]:
#writer

In [451]:
Comedy_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Comedy_occupation_rank = Comedy_occupation_rank.reset_index(drop=True)
Comedy_occupation_rank.index += 1
Comedy_occupation_rank = Comedy_occupation_rank.rename_axis("Rank")
Comedy_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Guantanamera (1994),Delicatessen (1991),Leave It to Beaver (1997),Faithful (1996),Top Hat (1935),Rosencrantz and Guildenstern Are Dead (1990),As Good As It Gets (1997),Ace Ventura: Pet Detective (1994),My Best Friend's Wedding (1997),North by Northwest (1959),...,Vegas Vacation (1997),Welcome to the Dollhouse (1995),"Women, The (1939)",Crooklyn (1994),"Wrong Trousers, The (1993)","Wrong Trousers, The (1993)","Great Dictator, The (1940)",Critical Care (1997),Schizopolis (1996),Home Alone 3 (1997)
2,A Chef in Love (1996),Bananas (1971),Romy and Michele's High School Reunion (1997),Cemetery Man (Dellamorte Dellamore) (1994),Charade (1963),"Englishman Who Went Up a Hill, But Came Down a...",Don Juan DeMarco (1995),Friday (1995),Picture Perfect (1997),Father of the Bride (1950),...,Cold Comfort Farm (1995),Swingers (1996),Kicked in the Head (1997),Late Bloomers (1996),Evil Dead II (1987),Evil Dead II (1987),Rosencrantz and Guildenstern Are Dead (1990),Santa with Muscles (1996),"Kiss Me, Guido (1997)",Rosencrantz and Guildenstern Are Dead (1990)
3,"Close Shave, A (1995)",Bob Roberts (1992),Critical Care (1997),Crooklyn (1994),Late Bloomers (1996),"Apartment, The (1960)",Down by Law (1986),City Slickers II: The Legend of Curly's Gold (...,That Thing You Do! (1996),Army of Darkness (1993),...,Much Ado About Nothing (1993),Weekend at Bernie's (1989),Hotel de Love (1996),Trust (1990),"Big Lebowski, The (1998)","Big Lebowski, The (1998)","Big Lebowski, The (1998)",Cinema Paradiso (1988),"Wrong Trousers, The (1993)",Grosse Fatigue (1994)
4,"Gay Divorcee, The (1934)","Close Shave, A (1995)",Much Ado About Nothing (1993),Night on Earth (1991),"Wrong Trousers, The (1993)",Blue in the Face (1995),Love Serenade (1996),Best Men (1997),Everyone Says I Love You (1996),Groundhog Day (1993),...,Brassed Off (1996),Bean (1997),Ma vie en rose (My Life in Pink) (1997),Love in the Afternoon (1957),It Happened One Night (1934),It Happened One Night (1934),"Hudsucker Proxy, The (1994)",Braindead (1992),Midnight in the Garden of Good and Evil (1997),Faster Pussycat! Kill! Kill! (1965)
5,Shall We Dance? (1996),Blues Brothers 2000 (1998),Bringing Up Baby (1938),Stripes (1981),North by Northwest (1959),"Wrong Trousers, The (1993)",Grace of My Heart (1996),Another Stakeout (1993),Tin Cup (1996),Shall We Dance? (1996),...,I.Q. (1994),"Wedding Singer, The (1998)",How to Be a Player (1997),Girl 6 (1996),Wings of Desire (1987),Wings of Desire (1987),"Adventures of Priscilla, Queen of the Desert, ...","Close Shave, A (1995)",Wings of Desire (1987),Love in the Afternoon (1957)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,Getting Away With Murder (1996),Chairman of the Board (1998),Getting Away With Murder (1996),Getting Away With Murder (1996),Getting Away With Murder (1996),Little City (1998),Getting Away With Murder (1996),Getting Away With Murder (1996),Getting Away With Murder (1996),Getting Away With Murder (1996),...,Getting Away With Murder (1996),Getting Away With Murder (1996),"Favor, The (1994)",Getting Away With Murder (1996),Getting Away With Murder (1996),Getting Away With Murder (1996),Getting Away With Murder (1996),Little City (1998),Getting Away With Murder (1996),Little City (1998)
502,8 Heads in a Duffel Bag (1997),"Favor, The (1994)",8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),Getting Away With Murder (1996),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),...,8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),8 Heads in a Duffel Bag (1997),Getting Away With Murder (1996),8 Heads in a Duffel Bag (1997),Getting Away With Murder (1996)
503,Wedding Bell Blues (1996),Little City (1998),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),...,Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),Wedding Bell Blues (1996),8 Heads in a Duffel Bag (1997)
504,Tainted (1998),Getting Away With Murder (1996),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),...,Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Wedding Bell Blues (1996)
505,You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),...,You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),You So Crazy (1994),Tainted (1998)

In [452]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Crime, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [453]:
#administrator

In [454]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Crime, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [455]:
#artist

In [456]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Crime, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [457]:
#doctor

In [458]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Crime, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [459]:
#educator

In [460]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Crime, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [461]:
#engineer

In [462]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Crime, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [463]:
#entertainment

In [464]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Crime, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [465]:
#executive

In [466]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Crime, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [467]:
#healthcare

In [468]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Crime, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [469]:
#homemaker

In [470]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Crime, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [471]:
#lawyer

In [472]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Crime, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [473]:
#librarian

In [474]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Crime, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [475]:
#marketing

In [476]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Crime, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [477]:
#none

In [478]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Crime, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [479]:
#other

In [480]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Crime, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [481]:
#programmer

In [482]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Crime, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [483]:
#retired

In [484]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Crime, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [485]:
#salesman

In [486]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Crime, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [487]:
#scientist

In [488]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Crime, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [489]:
#student

In [490]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Crime, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [491]:
#technician

In [492]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Crime, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [493]:
#writer

In [494]:
Crime_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Crime_occupation_rank = Crime_occupation_rank.reset_index(drop=True)
Crime_occupation_rank.index += 1
Crime_occupation_rank = Crime_occupation_rank.rename_axis("Rank")
Crime_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Once Were Warriors (1994),Gridlock'd (1997),U Turn (1997),City of Industry (1997),Laura (1944),Hard Eight (1996),Sneakers (1992),They Made Me a Criminal (1939),Deceiver (1997),Bonnie and Clyde (1967),...,"Godfather: Part II, The (1974)",Donnie Brasco (1997),"Letter From Death Row, A (1998)",Laura (1944),"Big Lebowski, The (1998)","Big Lebowski, The (1998)","Big Lebowski, The (1998)",Wild Things (1998),Incognito (1997),Kansas City (1996)
2,Amateur (1994),U Turn (1997),Kiss the Girls (1997),Incognito (1997),Hard Eight (1996),Wild Things (1998),Copycat (1995),Best Men (1997),L.A. Confidential (1997),"Grifters, The (1990)",...,Hoodlum (1997),"Professional, The (1994)",Incognito (1997),"Big Lebowski, The (1998)","Sting, The (1973)","Sting, The (1973)",Reservoir Dogs (1992),"Thieves (Voleurs, Les) (1996)",Laura (1944),"Godfather, The (1972)"
3,Fargo (1996),Touch of Evil (1958),"Devil's Advocate, The (1997)",Purple Noon (1960),"Usual Suspects, The (1995)","Usual Suspects, The (1995)","Godfather, The (1972)","Godfather: Part II, The (1974)",Kiss the Girls (1997),Donnie Brasco (1997),...,"Godfather, The (1972)",Romeo Is Bleeding (1993),Once Were Warriors (1994),"Usual Suspects, The (1995)",Some Like It Hot (1959),Some Like It Hot (1959),"Godfather: Part II, The (1974)",Hard Eight (1996),Midnight in the Garden of Good and Evil (1997),Touch of Evil (1958)
4,"Professional, The (1994)",True Romance (1993),"Godfather: Part II, The (1974)",Once Were Warriors (1994),Some Like It Hot (1959),"Godfather, The (1972)","Big Lebowski, The (1998)",Pulp Fiction (1994),Kansas City (1996),M (1931),...,Fargo (1996),From Dusk Till Dawn (1996),"Young Poisoner's Handbook, The (1995)",Reservoir Dogs (1992),Laura (1944),Laura (1944),Pulp Fiction (1994),M (1931),Desperate Measures (1998),M (1931)
5,L.A. Confidential (1997),Playing God (1997),"Usual Suspects, The (1995)","Usual Suspects, The (1995)",U Turn (1997),GoodFellas (1990),Fargo (1996),Striptease (1996),"Devil's Advocate, The (1997)",Once Upon a Time in America (1984),...,"Usual Suspects, The (1995)",Incognito (1997),Touch of Evil (1958),Fargo (1996),Bound (1996),Bound (1996),"Usual Suspects, The (1995)","Usual Suspects, The (1995)","Godfather, The (1972)",GoodFellas (1990)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,"Truth or Consequences, N.M. (1997)",He Walked by Night (1948),"Truth or Consequences, N.M. (1997)",Deceiver (1997),"Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)",City of Industry (1997),"Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)",...,"Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)",Deceiver (1997),Deceiver (1997),"Truth or Consequences, N.M. (1997)",Deceiver (1997),"Truth or Consequences, N.M. (1997)","Truth or Consequences, N.M. (1997)"
106,King of New York (1990),Deceiver (1997),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),He Walked by Night (1948),King of New York (1990),King of New York (1990),...,King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),King of New York (1990),"Truth or Consequences, N.M. (1997)",King of New York (1990),King of New York (1990)
107,Normal Life (1996),King of New York (1990),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),"Truth or Consequences, N.M. (1997)",Normal Life (1996),Normal Life (1996),...,Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996),Normal Life (1996)
108,Hana-bi (1997),Normal Life (1996),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),King of New York (1990),Hana-bi (1997),Hana-bi (1997),...,Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997),Hana-bi (1997)
109,MURDER and murder (1996),Hana-bi (1997),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),...,MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996)

In [495]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Documentary, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [496]:
#administrator

In [497]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Documentary, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [498]:
#artist

In [499]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Documentary, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [500]:
#doctor

In [501]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Documentary, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [502]:
#educator

In [503]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Documentary, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [504]:
#engineer

In [505]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Documentary, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [506]:
#entertainment

In [507]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Documentary, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [508]:
#executive

In [509]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Documentary, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [510]:
#healthcare

In [511]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Documentary, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [512]:
#homemaker

In [513]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Documentary, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [514]:
#lawyer

In [515]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Documentary, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [516]:
#librarian

In [517]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Documentary, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [518]:
#marketing

In [519]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Documentary, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [520]:
#none

In [521]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Documentary, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [522]:
#other

In [523]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Documentary, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [524]:
#programmer

In [525]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Documentary, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [526]:
#retired

In [527]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Documentary, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [528]:
#salesman

In [529]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Documentary, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [530]:
#scientist

In [531]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Documentary, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [532]:
#student

In [533]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Documentary, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [534]:
#technician

In [535]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Documentary, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [536]:
#writer

In [537]:
Documentary_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Documentary_occupation_rank = Documentary_occupation_rank.reset_index(drop=True)
Documentary_occupation_rank.index += 1
Documentary_occupation_rank = Documentary_occupation_rank.rename_axis("Rank")
Documentary_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,When We Were Kings (1996),Year of the Horse (1997),Ayn Rand: A Sense of Life (1997),"Great Day in Harlem, A (1994)",Grateful Dead (1995),"Fast, Cheap & Out of Control (1997)",Hoop Dreams (1994),Paradise Lost: The Child Murders at Robin Hood...,Ayn Rand: A Sense of Life (1997),"Thin Blue Line, The (1988)",...,"Celluloid Closet, The (1995)",When We Were Kings (1996),"Perfect Candidate, A (1996)","Perfect Candidate, A (1996)",Koyaanisqatsi (1983),Koyaanisqatsi (1983),Hoop Dreams (1994),"Haunted World of Edward D. Wood Jr., The (1995)",Maya Lin: A Strong Clear Vision (1994),When We Were Kings (1996)
2,Paradise Lost: The Child Murders at Robin Hood...,Madonna: Truth or Dare (1991),Hoop Dreams (1994),Marlene Dietrich: Shadow and Light (1996),Hoop Dreams (1994),Koyaanisqatsi (1983),Crumb (1994),"Celluloid Closet, The (1995)",Looking for Richard (1996),Year of the Horse (1997),...,Anne Frank Remembered (1995),Crumb (1994),"Thin Blue Line, The (1988)",Paradise Lost: The Child Murders at Robin Hood...,Crumb (1994),Crumb (1994),Koyaanisqatsi (1983),Paradise Lost: The Child Murders at Robin Hood...,Wonderland (1997),Anne Frank Remembered (1995)
3,Microcosmos: Le peuple de l'herbe (1996),"Haunted World of Edward D. Wood Jr., The (1995)",Paris Is Burning (1990),Maya Lin: A Strong Clear Vision (1994),Crumb (1994),Crumb (1994),When We Were Kings (1996),Anne Frank Remembered (1995),Crumb (1994),Crumb (1994),...,Hoop Dreams (1994),Hoop Dreams (1994),Heidi Fleiss: Hollywood Madam (1995),Paris Is Burning (1990),Microcosmos: Le peuple de l'herbe (1996),Microcosmos: Le peuple de l'herbe (1996),Crumb (1994),When We Were Kings (1996),Paris Is Burning (1990),Crumb (1994)
4,Unzipped (1995),"Wonderful, Horrible Life of Leni Riefenstahl, ...",Thirty-Two Short Films About Glenn Gould (1993),"War Room, The (1993)","Haunted World of Edward D. Wood Jr., The (1995)",Hoop Dreams (1994),"Celluloid Closet, The (1995)",Hoop Dreams (1994),Hoop Dreams (1994),"Wonderful, Horrible Life of Leni Riefenstahl, ...",...,Koyaanisqatsi (1983),Brother Minister: The Assassination of Malcolm...,Koyaanisqatsi (1983),Koyaanisqatsi (1983),Thirty-Two Short Films About Glenn Gould (1993),Thirty-Two Short Films About Glenn Gould (1993),"Thin Blue Line, The (1988)",Everest (1998),Hoop Dreams (1994),Unzipped (1995)
5,"Fast, Cheap & Out of Control (1997)",Unzipped (1995),Looking for Richard (1996),Hoop Dreams (1994),Looking for Richard (1996),Paradise Lost: The Child Murders at Robin Hood...,"War Room, The (1993)",Heidi Fleiss: Hollywood Madam (1995),Brother Minister: The Assassination of Malcolm...,Hoop Dreams (1994),...,"War Room, The (1993)","Haunted World of Edward D. Wood Jr., The (1995)",Paris Is Burning (1990),Crumb (1994),Looking for Richard (1996),Looking for Richard (1996),Paris Is Burning (1990),Anne Frank Remembered (1995),Looking for Richard (1996),Brother Minister: The Assassination of Malcolm...
6,Looking for Richard (1996),"Fast, Cheap & Out of Control (1997)","War Room, The (1993)","Haunted World of Edward D. Wood Jr., The (1995)","Fast, Cheap & Out of Control (1997)",Wonderland (1997),Wonderland (1997),"Fast, Cheap & Out of Control (1997)","Haunted World of Edward D. Wood Jr., The (1995)","Celluloid Closet, The (1995)",...,Looking for Richard (1996),Maya Lin: A Strong Clear Vision (1994),Nico Icon (1995),Hoop Dreams (1994),Hoop Dreams (1994),Hoop Dreams (1994),Anne Frank Remembered (1995),Microcosmos: Le peuple de l'herbe (1996),Brother Minister: The Assassination of Malcolm...,Thirty-Two Short Films About Glenn Gould (1993)
7,Hoop Dreams (1994),Anne Frank Remembered (1995),"Celluloid Closet, The (1995)",Microcosmos: Le peuple de l'herbe (1996),When We Were Kings (1996),Thirty-Two Short Films About Glenn Gould (1993),Grateful Dead (1995),Dadetown (1995),Maya Lin: A Strong Clear Vision (1994),Brother Minister: The Assassination of Malcolm...,...,"Fast, Cheap & Out of Control (1997)",Paradise Lost: The Child Murders at Robin Hood...,Microcosmos: Le peuple de l'herbe (1996),"Wonderful, Horrible Life of Leni Riefenstahl, ...",Maya Lin: A Strong Clear Vision (1994),Maya Lin: A Strong Clear Vision (1994),"Celluloid Closet, The (1995)",Hoop Dreams (1994),"Haunted World of Edward D. Wood Jr., The (1995)",Grateful Dead (1995)
8,Thirty-Two Short Films About Glenn Gould (1993),Koyaanisqatsi (1983),Crumb (1994),Anne Frank Remembered (1995),"Thin Blue Line, The (1988)","Celluloid Closet, The (1995)","Fast, Cheap & Out of Control (1997)",Nico Icon (1995),Paradise Lost: The Child Murders at Robin Hood...,"Haunted World of Edward D. Wood Jr., The (1995)",...,"Last Klezmer: Leopold Kozlowski, His Life and ...",Wonderland (1997),Wonderland (1997),"Celluloid Closet, The (1995)",Heidi Fleiss: Hollywood Madam (1995),Heidi Fleiss: Hollywood Madam (1995),Heidi Fleiss: Hollywood Madam (1995),"Celluloid Closet, The (1995)","Fast, Cheap & Out of Control (1997)",Hoop Dreams (1994)
9,"Thin Blue Line, The (1988)",Ayn Rand: A Sense of Life (1997),"Haunted World of Edward D. Wood Jr., The (1995)","Wonderful, Horrible Life of Leni Riefenstahl, ...",Thirty-Two Short Films About Glenn Gould (1993),Year of the Horse (1997),Anne Frank Remembered (1995),Rhyme & Reason (1997),Wonderland (1997),Maya Lin: A Strong Clear Vision (1994),...,Rhyme & Reason (1997),Microcosmos: Le peuple de l'herbe (1996),"Celluloid Closet, The (1995)","Haunted World of Edward D. Wood Jr., The (1995)",Ayn Rand: A Sense of Life (1997),Ayn Rand: A Sense of Life (1997),Brother Minister: The Assassination of Malcolm...,"Gate of Heavenly Peace, The (1995)",Koyaanisqatsi (1983),Paradise Lost: The Child Murders at Robin Hood...
10,Jupiter's Wife (1994),"Thin Blue Line, The (1988)",Unzipped (1995),When We Were Kings (1996),Anne Frank Remembered (1995),Heidi Fleiss: Hollywood Madam (1995),JLG/JLG - autoportrait de décembre (1994),When We Were Kings (1996),Microcosmos: Le peuple de l'herbe (1996),Paradise Lost: The Child Murders at Robin Hood...,...,"Haunted World of Edward D. Wood Jr., The (1995)","Thin Blue Line, The (1988)",Paradise Lost: The Child Murders at Robin Hood...,Brother Minister: The Assassination of Malcolm...,"Perfect Candidate, A (1996)","Perfect Candidate, A (1996)","Haunted World of Edward D. Wood Jr., The (1995)",Ayn Rand: A Sense of Life (1997),When We Were Kings (1996),Looking for Richard (1996)
11,"Wonderful, Horrible Life of Leni Riefenstahl, ...",Paris Is Burning (1990),Microcosmos: Le peuple de l'herbe (1996),"Thin Blue Line, The (1988)",Paris Is Burning (1990),When We Were Kings (1996),"Leopard Son, The (1996)","War Room, The (1993)","Thin Blue Line, The (1988)",Wonderland (1997),...,Crumb (1994),Paris Is Burning (1990),"Wonderful, Horrible Life of Leni Riefenstahl, ...",Looking for Richard (1996),"Endless Summer 2, The (1994)","Endless Summer 2, The (1994)",Maya Lin: A Strong Clear Vision (1994),"Endless Summer 2, The (1994)","Show, The (1995)","Fast, Cheap & Out of Control (1997)"
12,"Celluloid Closet, The (1995)",Thirty-Two Short Films About Glenn Gould (1993),"Fast, Cheap & Out of Control (1997)",Thirty-Two Short Films About Glenn Gould (1993),"Wonderful, Horrible Life of Leni Riefenstahl, ...",Looking for Richard (1996),"Last Klezmer: Leopold Kozlowski, His Life and ...","Big One, The (1997)",Paris Is Burning (1990),Microcosmos: Le peuple de l'herbe (1996),...,Brother Minister: The Assassination of Malcolm...,Fire on the Mountain (1996),"Line King: Al Hirschfeld, The (1996)",When We Were Kings (1996),Brother Minister: The Assassination of Malcolm...,Brother Minister: The Assassination of Malcolm...,Paradise Lost: The Child Murders at Robin Hood...,Crumb (1994),Crumb (1994),Paris Is Burning (1990)
13,Paris Is Burning (1990),Looking for Richard (1996),Brother Minister: The Assassination of Malcolm...,Looking for Richard (1996),Koyaanisqatsi (1983),"Haunted World of Edward D. Wood Jr., The (1995)",Catwalk (1995),Unzipped (1995),Fire on the Mountain (1996),Paris Is Burning (1990),...,Maya Lin: A Strong Clear Vision (1994),"Wonderful, Horrible Life of Leni Riefenstahl, ...",When We Were Kings (1996),"Thin Blue Line, The (1988)","Haunted World of Edward D. Wood Jr., The (1995)","Haunted World of Edward D. Wood Jr., The (1995)",Wonderland (1997),Paris Is Burning (1990),"Thin Blue Line, The (1988)",Heidi Fleiss: Hollywood Madam (1995)
14,Crumb (1994),Hoop Dreams (1994),Maya Lin: A Strong Clear Vision (1994),"Celluloid Closet, The (1995)",Heidi Fleiss: Hollywood Madam (1995),Microcosmos: Le peuple de l'herbe (1996),Koyaanisqatsi (1983),"Thin Blue Line, The (1988)","Wonderful, Horrible Life of Leni Riefenstahl, ...",Fire on the Mountain (1996),...,Paradise Lost: The Child Murders at Robin Hood...,Across the Sea of Time (1995),Anne Frank Remembered (1995),"Fast, Cheap & Out of Control (1997)",Paradise Lost: The Child Murders at Robin Hood...,Paradise Lost: The Child Murders at Robin Hood...,Microcosmos: Le peuple de l'herbe (1996),Thirty-Two Short Films About Glenn Gould (1993),Madonna: Truth or Dare (1991),"Celluloid Closet, The (1995)"
15,Fire on the Mountain (1996),Heidi Fleiss: Hollywood Madam (1995),Paradise Lost: The Child Murders at Robin Hood...,"Perfect Candidate, A (1996)",Ayn Rand: A Sense of Life (1997),"War Room, The (1993)",Heidi Fleiss: Hollywood Madam (1995),Looking for Richard (1996),Across the Sea of Time (1995),Across the Sea of Time (1995),...,Wonderland (1997),Man of the Year (1995),Hoop Dreams (1994),Anne Frank Remembered (1995),Wonderland (1997),Wonderland (1997),Fire on the Mountain (1996),Looking for Richard (1996),Paradise Lost: The Child Murders at Robin Hood...,"Thin Blue Line, The (1988)"
16,"Endless Summer 2, The (1994)",Crumb (1994),Wonderland (1997),"Last Klezmer: Leopold Kozlowski, His Life and ...",Brother Minister: The Assassination of Malcolm...,Ayn Rand: A Sense of Life (1997),Year of the Horse (1997),Man of the Year (1995),Man of the Year (1995),Man of the Year (1995),...,Microcosmos: Le peuple de l'herbe (1996),Thirty-Two Short Films About Glenn Gould (1993),Crumb (1994),Wonderland (1997),"Thin Blue Line, The (1988)","Thin Blue Line, The (1988)","Wonderful, Horrible Life of Leni Riefenstahl, ...",Koyaanisqatsi (1983),Microcosmos: Le peuple de l'herbe (1996),Koyaanisqatsi (1983)
17,Koyaanisqatsi (1983),Microcosmos: Le peuple de l'herbe (1996),"Thin Blue Line, The (1988)",Man of the Year (1995),Maya Lin: A Strong Clear Vision (1994),Brother Minister: The Assassination of Malcolm...,Looking for Richard (1996),American Dream (1990),Thirty-Two Short Films About Glenn Gould (1993),Thirty-Two Short Films About Glenn Gould (1993),...,"Thin Blue Line, The (1988)","Celluloid Closet, The (1995)",Looking for Richard (1996),Madonna: Truth or Dare (1991),Paris Is Burning (1990),Paris Is Burning (1990),Across the Sea of Time (1995),"Fast, Cheap & Out of Control (1997)",Fire on the Mountain (1996),Rhyme & Reason (1997)
18,Heidi Fleiss: Hollywood Madam (1995),When We Were Kings (1996),Fire on the Mountain (1996),Paris Is Burning (1990),Paradise Lost: The Child Murders at Robin Hood...,Maya Lin: A Strong Clear Vision (1994),Man of the Year (1995),Crumb (1994),"Celluloid Closet, The (1995)","Great Day in Harlem, A (1994)",...,Paris Is Burning (1990),"Great Day in Harlem, A (1994)",Grateful Dead (1995),"Line King: Al Hirschfeld, The (1996)",Fire on the Mountain (1996),Fire on the Mountain (1996),Man of the Year (1995),"Thin Blue Line, The (1988)","Wonderful, Horrible Life of Leni Riefenstahl, ...","Haunted World of Edward D. Wood Jr., The (1995)"
19,"Haunted World of Edward D. Wood Jr., The (1995)",Rhyme & Reason (1997),"Wonderful, Horrible Life of Leni Riefenstahl, ...",Wonderland (1997),Wonderland (1997),"Thin Blue Line, The (1988)",Microcosmos: Le peuple de l'herbe (1996),Across the Sea of Time (1995),"Great Day in Harlem, A (1994)",Looking for Richard (1996),...,Fire on the Mountain (1996),Looking for Richard (1996),Unzipped (1995),Heidi Fleiss: Hollywood Madam (1995),"Wonderful, Horrible Life of Leni Riefenstahl, ...","Wonderful, Horrible Life of Leni Riefenstahl, ...",Thirty-Two Short Films About Glenn Gould (1993),Year of the Horse (1997),Across the Sea of Time (1995),Maya Lin: A Strong Clear Vision (1994)
20,Brother Minister: The Assassination of Malcolm...,Brother Minister: The Assassination of Malcolm...,Across the Sea of Time (1995),Crumb (1994),Microcosmos: Le peuple de l'herbe (1996),Paris Is Burning (1990),Rhyme & Reason (1997),Madonna: Truth or Dare (1991),"Perfect Candidate, A (1996)","Perfect Candidate, A (1996)",...,"Wonderful, Horrible Life of Leni Riefenstahl, ...","Perfect Candidate, A (1996)",Thirty-Two Short Films About Glenn Gould (1993),Maya Lin: A Strong Clear Vision (1994),Across the Sea of Time (1995),Across the Sea of Time (1995),"Great Day in Harlem, A (1994)",Man of the Year (1995),Man of the Year (1995),Wonderland (1997)
21,Maya Lin: A Strong Clear Vision (1994),Maya Lin: A Strong Clear Vision (1994),Man of the Year (1995),Koyaanisqatsi (1983),Fire on the Mountain (1996),Fire on the Mountain (1996),Brother Minister: The Assassination of Malcolm...,Paris Is Burning (1990),Paris Was a Woman (1995),Paris Was a Woman (1995),...,Across the Sea of Time (1995),Paris Was a Woman (1995),"Endless Summer 2, The (1994)",Microcosmos: Le peuple de l'herbe (1996),Man of the Year (1995),Man of the Year (1995),Looking for Richard (1996),"War Room, The (1993)",Thirty-Two Short Films About Glenn Gould (1993),Microcosmos: Le peuple de l'herbe (1996)
22,Wonderland (1997),Paradise Lost: The Child Murders at Robin Hood...,"Great Day in Harlem, A (1994)",Across the Sea of Time (1995),Across the Sea of Time (1995),"Wonderful, Horrible Life of Leni Riefenstahl, ...","Haunted World of Edward D. Wood Jr., The (1995)","Show, The (1995)",Year of the Horse (1997),Unzipped (1995),...,Man of the Year (1995),Year of the Horse (1997),Man of the Year (1995),Fire on the Mountain (1996),"Celluloid Closet, The (1995)","Celluloid Closet, The (1995)","Perfect Candidate, A (1996)",Across the Sea of Time (1995),"Celluloid Closet, The (1995)",Fire on the Mountain (1996)
23,Across the Sea of Time (1995),Wonderland (1997),"Perfect Candidate, A (1996)",Paris Was a Woman (1995),Man of the Year (1995),Across the Sea of Time (1995),Maya Lin: A Strong Clear Vision (1994),Brother Minister: The Assassination of Malcolm...,Unzipped (1995),Grateful Dead (1995),...,Thirty-Two Short Films About Glenn Gould (1993),Unzipped (1995),Madonna: Truth or Dare (1991),Across the Sea of Time (1995),"Great Day in Harlem, A (1994)","Great Day in Harlem, A (1994)",Paris Was a Woman (1995),Wonderland (1997),"Great Day in Harlem, A (1994)","Wonderful, Horrible Life of Leni Riefenstahl, ..."
24,Man of the Year (1995),Fire on the Mountain (1996),Paris Was a Woman (1995),Unzipped (1995),"Celluloid Closet, The (1995)",Man of the Year (1995),Paradise Lost: The Child Murders at Robin Hood...,"Endless Summer 2, The (1994)",Grateful Dead (1995),"Fast, Cheap & Out of Control (1997)",...,"Great Day in Harlem, A (1994)",Grateful Dead (1995),Carmen Miranda: Bananas Is My Business (1994),Man of the Year (1995),Paris Was a Woman (1995),Paris Was a Woman (1995),Year of the Horse (1997),Madonna: Truth or Dare (1991),"Perfect Candidate, A (1996)",Across the Sea of Time (1995)
25,"Great Day in Harlem, A (1994)",Across the Sea of Time (1995),Year of the Horse (1997),"Fast, Cheap & Out of Control (1997)","Great Day in Harlem, A (1994)","Great Day in Harlem, A (1994)","Thin Blue Line, The (1988)",Carmen Miranda: Bananas Is My Business (1994),"Fast, Cheap & Out of Control (1997)",Koyaanisqatsi (1983),...,"Perfect Candidate, A (1996)","Fast, Cheap & Out of Control (1997)","Fast, Cheap & Out of Control (1997)",Thirty-Two Short Films About Glenn Gould (1993),Year of the Horse (1997),Year of the Horse (1997),Unzipped (1995),Brother Minister: The Assassination of Malcolm...,Paris Was a Woman (1995),Man of the Year (1995)
26,"Perfect Candidate, A (1996)",Man of the Year (1995),Grateful Dead (1995),Year of the Horse (1997),"Perfect Candidate, A (1996)","Perfect Candidate, A (1996)",Paris Is Burning (1990),Koyaanisqatsi (1983),Koyaanisqatsi (1983),Anne Frank Remembered (1995),...,Paris Was a Woman (1995),Koyaanisqatsi (1983),Brother Minister: The Assassination of Malcolm...,"Great Day in Harlem, A (1994)",Unzipped (1995),Unzipped (1995),Grateful Dead (1995),Maya Lin: A Strong Clear Vision (1994),Year of the Horse (1997),"Great Day in Harlem, A (1994)"
27,Paris Was a Woman (1995),"Celluloid Closet, The (1995)",Koyaanisqatsi (1983),"Endless Summer 2, The (1994)",Paris Was a Woman (1995),Paris Was a Woman (1995),Fire on the Mountain (1996),Tigrero: A Film That Was Never Made (1994),Anne Frank Remembered (1995),Heidi Fleiss: Hollywood Madam (1995),...,Year of the Horse (1997),Anne Frank Remembered (1995),"Haunted World of Edward D. Wood Jr., The (1995)",Paris Was a Woman (1995),Grateful Dead (1995),Grateful Dead (1995),"Fast, Cheap & Out of Control (1997)",Fire on the Mountain (1996),Unzipped (1995),"Perfect Candidate, A (1996)"
28,Year of the Horse (1997),"Great Day in Harlem, A (1994)",Anne Frank Remembered (1995),Heidi Fleiss: Hollywood Madam (1995),Year of the Horse (1997),Unzipped (1995),"Wonderful, Horrible Life of Leni Riefenstahl, ...","Eye of Vichy, The (Oeil de Vichy, L') (1993)",Heidi Fleiss: Hollywood Madam (1995),Jupiter's Wife (1994),...,Unzipped (1995),Heidi Fleiss: Hollywood Madam (1995),Maya Lin: A Strong Clear Vision (1994),Year of the Horse (1997),"Fast, Cheap & Out of Control (1997)","Fast, Cheap & Out of Control (1997)",Jupiter's Wife (1994),"Wonderful, Horrible Life of Leni Riefenstahl, ...",Grateful Dead (1995),Paris Was a Woman (1995)
29,Grateful Dead (1995),"Perfect Candidate, A (1996)",Heidi Fleiss: Hollywood Madam (1995),Paradise Lost: The Child Murders at Robin Hood...,Unzipped (1995),Grateful Dead (1995),Across the Sea of Time (1995),Microcosmos: Le peuple de l'herbe (1996),Jupiter's Wife (1994),"War Room, The (1993)",...,Grateful Dead (1995),Jupiter's Wife (1994),Fire on the Mountain (1996),Unzipped (1995),Anne Frank Remembered (1995),Anne Frank Remembered (1995),"War Room, The (1993)","Great Day in Harlem, A (1994)",Anne Frank Remembered (1995),Year of the Horse (1997)
30,Anne Frank Remembered (1995),Paris Was a Woman (1995),Jupiter's Wife (1994),Brother Minister: The Assassination of Malcolm...,Jupiter's Wife (1994),Anne Frank Remembered (1995),Thirty-Two Short Films About Glenn Gould (1993),Catwalk (1995),"War Room, The (1993)",When We Were Kings (1996),...,Heidi Fleiss: Hollywood Madam (1995),"War Room, The (1993)",Across the Sea of Time (1995),Grateful Dead (1995),Jupiter's Wife (1994),Jupiter's Wife (1994),When We Were Kings (1996),"Perfect Candidate, A (1996)",Heidi Fleiss: Hollywood Madam (1995),Jupiter's Wife (1994)
31,"War Room, The (1993)",Grateful Dead (1995),When We Were Kings (1996),Fire on the Mountain (1996),"War Room, The (1993)",Jupiter's Wife (1994),"Great Day in Harlem, A (1994)","Haunted World of Edward D. Wood Jr., The (1995)",When We Were Kings (1996),"Endless Summer 2, The (1994)",...,Jupiter's Wife (1994),"Endless Summer 2, The (1994)","Great Day in Harlem, A (1994)",Jupiter's Wife (1994),"War Room, The (1993)","War Room, The (1993)","Endless Summer 2, The (1994)",Paris Was a Woman (1995),Jupiter's Wife (1994),"War Room, The (1993)"

In [538]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Drama, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [539]:
#administrator

In [540]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Drama, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [541]:
#artist

In [542]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Drama, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [543]:
#doctor

In [544]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Drama, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [545]:
#educator

In [546]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Drama, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [547]:
#engineer

In [548]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Drama, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [549]:
#entertainment

In [550]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Drama, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [551]:
#executive

In [552]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Drama, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [553]:
#healthcare

In [554]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Drama, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [555]:
#homemaker

In [556]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Drama, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [557]:
#lawyer

In [558]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Drama, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [559]:
#librarian

In [560]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Drama, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [561]:
#marketing

In [562]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Drama, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [563]:
#none

In [564]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Drama, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [565]:
#other

In [566]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Drama, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [567]:
#programmer

In [568]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Drama, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [569]:
#retired

In [570]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Drama, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [571]:
#salesman

In [572]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Drama, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [573]:
#scientist

In [574]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Drama, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [575]:
#student

In [576]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Drama, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [577]:
#technician

In [578]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Drama, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [579]:
#writer

In [580]:
Drama_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Drama_occupation_rank = Drama_occupation_rank.reset_index(drop=True)
Drama_occupation_rank.index += 1
Drama_occupation_rank = Drama_occupation_rank.rename_axis("Rank")
Drama_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Truman Show, The (1998)",Bread and Chocolate (Pane e cioccolata) (1973),"Double vie de Véronique, La (Double Life of Ve...",Two or Three Things I Know About Her (1966),"World of Apu, The (Apur Sansar) (1959)",Ran (1985),Angel Baby (1995),Mina Tannenbaum (1994),Braveheart (1995),Bonnie and Clyde (1967),...,Dangerous Beauty (1998),Dangerous Minds (1995),Kicked in the Head (1997),"Misérables, Les (1995)","Basketball Diaries, The (1995)","Basketball Diaries, The (1995)",Bitter Sugar (Azucar Amargo) (1996),Shiloh (1997),One Night Stand (1997),Caught (1996)
2,Drunks (1995),Lost Horizon (1937),Like Water For Chocolate (Como agua para choco...,Hearts and Minds (1996),Selena (1997),Rosencrantz and Guildenstern Are Dead (1990),Enchanted April (1991),Angel Baby (1995),Searching for Bobby Fischer (1993),Once Upon a Time in America (1984),...,Shadowlands (1993),Field of Dreams (1989),Dangerous Beauty (1998),"Little Princess, The (1939)",Short Cuts (1993),Short Cuts (1993),Ridicule (1996),One Night Stand (1997),Rosencrantz and Guildenstern Are Dead (1990),Romper Stomper (1992)
3,"World of Apu, The (Apur Sansar) (1959)",Bent (1997),Cinema Paradiso (1988),Pather Panchali (1955),"Little Princess, A (1995)",Wild Things (1998),Some Folks Call It a Sling Blade (1993),Mary Reilly (1996),Beautiful Girls (1996),GoodFellas (1990),...,Miracle on 34th Street (1994),"Winter Guest, The (1997)",Lamerica (1994),8 Seconds (1994),"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)","Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",12 Angry Men (1957),"Cement Garden, The (1993)",Manon of the Spring (Manon des sources) (1986),Mrs. Parker and the Vicious Circle (1994)
4,Four Days in September (1997),Burnt By the Sun (1994),"Empire Strikes Back, The (1980)",Go Fish (1994),"Quiet Room, The (1996)",Night on Earth (1991),"Garden of Finzi-Contini, The (Giardino dei Fin...",Best Men (1997),Jane Eyre (1996),Apocalypse Now (1979),...,Brassed Off (1996),"Wizard of Oz, The (1939)",Duoluo tianshi (1995),Trust (1990),All About Eve (1950),All About Eve (1950),Fire Down Below (1997),"Horse Whisperer, The (1998)",Nobody's Fool (1994),"Fille seule, La (A Single Girl) (1995)"
5,"Cure, The (1995)",Cyrano de Bergerac (1990),"Godfather: Part II, The (1974)","Month by the Lake, A (1995)","Umbrellas of Cherbourg, The (Parapluies de Che...",Full Metal Jacket (1987),Jean de Florette (1986),"Man Without a Face, The (1993)",It's a Wonderful Life (1946),Patton (1970),...,What's Love Got to Do with It (1993),Citizen Kane (1941),Nénette et Boni (1996),Old Yeller (1957),Love! Valour! Compassion! (1997),Love! Valour! Compassion! (1997),Enchanted April (1991),Beautiful Thing (1996),Breaking the Waves (1996),Twisted (1996)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
721,"War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)","Sunchaser, The (1996)","War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)",...,"War at Home, The (1996)","War at Home, The (1996)",Mamma Roma (1962),"War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)","War at Home, The (1996)",Kika (1993),"War at Home, The (1996)","War at Home, The (1996)"
722,Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),"War at Home, The (1996)",Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),...,Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Sweet Nothing (1995),Mamma Roma (1962),Sweet Nothing (1995),Sweet Nothing (1995)
723,Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Sweet Nothing (1995),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),...,Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),Mat' i syn (1997),"Sunchaser, The (1996)",Mat' i syn (1997),Mat' i syn (1997)
724,Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Mat' i syn (1997),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),...,Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),"War at Home, The (1996)",Sliding Doors (1998),Sliding Doors (1998)
725,Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Sliding Doors (1998),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),...,Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991),Scream of Stone (Schrei aus Stein) (1991)

In [581]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Fantasy, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [582]:
#administrator

In [583]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Fantasy, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [584]:
#artist

In [585]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Fantasy, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [586]:
#doctor

In [587]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Fantasy, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [588]:
#educator

In [589]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Fantasy, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [590]:
#engineer

In [591]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Fantasy, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [592]:
#entertainment

In [593]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Fantasy, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [594]:
#executive

In [595]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Fantasy, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [596]:
#healthcare

In [597]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Fantasy, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [598]:
#homemaker

In [599]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Fantasy, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [600]:
#lawyer

In [601]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Fantasy, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [602]:
#librarian

In [603]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Fantasy, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [604]:
#marketing

In [605]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Fantasy, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [606]:
#none

In [607]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Fantasy, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [608]:
#other

In [609]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Fantasy, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [610]:
#programmer

In [611]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Fantasy, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [612]:
#retired

In [613]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Fantasy, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [614]:
#salesman

In [615]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Fantasy, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [616]:
#scientist

In [617]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Fantasy, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [618]:
#student

In [619]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Fantasy, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [620]:
#technician

In [621]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Fantasy, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [622]:
#writer

In [623]:
Fantasy_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Fantasy_occupation_rank = Fantasy_occupation_rank.reset_index(drop=True)
Fantasy_occupation_rank.index += 1
Fantasy_occupation_rank = Fantasy_occupation_rank.rename_axis("Rank")
Fantasy_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,FairyTale: A True Story (1997),Heavenly Creatures (1994),FairyTale: A True Story (1997),E.T. the Extra-Terrestrial (1982),FairyTale: A True Story (1997),E.T. the Extra-Terrestrial (1982),"20,000 Leagues Under the Sea (1954)",Warriors of Virtue (1997),E.T. the Extra-Terrestrial (1982),"Mask, The (1994)",...,E.T. the Extra-Terrestrial (1982),"Nutty Professor, The (1996)",Star Kid (1997),"20,000 Leagues Under the Sea (1954)",E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),Escape to Witch Mountain (1975),Heavenly Creatures (1994),E.T. the Extra-Terrestrial (1982),Jumanji (1995)
2,"NeverEnding Story III, The (1994)",Star Kid (1997),"Mask, The (1994)",Warriors of Virtue (1997),Heavenly Creatures (1994),"Nutty Professor, The (1996)","Indian in the Cupboard, The (1995)",E.T. the Extra-Terrestrial (1982),Space Jam (1996),"20,000 Leagues Under the Sea (1954)",...,Dragonheart (1996),E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),FairyTale: A True Story (1997),FairyTale: A True Story (1997),E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),Dragonheart (1996),Bogus (1996)
3,Bogus (1996),E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),FairyTale: A True Story (1997),E.T. the Extra-Terrestrial (1982),Jumanji (1995),E.T. the Extra-Terrestrial (1982),Dragonheart (1996),Flubber (1997),Heavenly Creatures (1994),...,Jumanji (1995),Space Jam (1996),Heavenly Creatures (1994),Jumanji (1995),"Nutty Professor, The (1996)","Nutty Professor, The (1996)",Dragonheart (1996),"20,000 Leagues Under the Sea (1954)","20,000 Leagues Under the Sea (1954)",Heavenly Creatures (1994)
4,Heavenly Creatures (1994),"20,000 Leagues Under the Sea (1954)",Dragonheart (1996),"Indian in the Cupboard, The (1995)","20,000 Leagues Under the Sea (1954)",Heavenly Creatures (1994),Space Jam (1996),Space Jam (1996),"Mask, The (1994)",Flubber (1997),...,Flubber (1997),"20,000 Leagues Under the Sea (1954)",Jumanji (1995),"Mask, The (1994)",Heavenly Creatures (1994),Heavenly Creatures (1994),Heavenly Creatures (1994),Jumanji (1995),"Mask, The (1994)",E.T. the Extra-Terrestrial (1982)
5,Drop Dead Fred (1991),FairyTale: A True Story (1997),Space Jam (1996),Space Jam (1996),Jumanji (1995),"Mask, The (1994)","Mask, The (1994)",Heavenly Creatures (1994),"20,000 Leagues Under the Sea (1954)",E.T. the Extra-Terrestrial (1982),...,"20,000 Leagues Under the Sea (1954)",Dragonheart (1996),Warriors of Virtue (1997),Dragonheart (1996),"Mask, The (1994)","Mask, The (1994)","Indian in the Cupboard, The (1995)",Dragonheart (1996),"Nutty Professor, The (1996)","Kid in King Arthur's Court, A (1995)"
6,E.T. the Extra-Terrestrial (1982),Warriors of Virtue (1997),Flubber (1997),"Mask, The (1994)",Escape to Witch Mountain (1975),Dragonheart (1996),"Nutty Professor, The (1996)",Escape to Witch Mountain (1975),FairyTale: A True Story (1997),Jumanji (1995),...,FairyTale: A True Story (1997),Jumanji (1995),FairyTale: A True Story (1997),Heavenly Creatures (1994),"20,000 Leagues Under the Sea (1954)","20,000 Leagues Under the Sea (1954)",Space Jam (1996),"Mask, The (1994)","NeverEnding Story III, The (1994)",Drop Dead Fred (1991)
7,"20,000 Leagues Under the Sea (1954)","Simple Wish, A (1997)",Drop Dead Fred (1991),Escape to Witch Mountain (1975),"Mask, The (1994)",FairyTale: A True Story (1997),"Kid in King Arthur's Court, A (1995)","Mask, The (1994)","Nutty Professor, The (1996)","Nutty Professor, The (1996)",...,"Nutty Professor, The (1996)",Flubber (1997),"20,000 Leagues Under the Sea (1954)","Indian in the Cupboard, The (1995)",Jumanji (1995),Jumanji (1995),"Mask, The (1994)",Escape to Witch Mountain (1975),Jumanji (1995),"Mask, The (1994)"
8,Escape to Witch Mountain (1975),Dragonheart (1996),"20,000 Leagues Under the Sea (1954)",Heavenly Creatures (1994),Dragonheart (1996),Space Jam (1996),Flubber (1997),"Nutty Professor, The (1996)",Dragonheart (1996),Drop Dead Fred (1991),...,Bogus (1996),"Mask, The (1994)",Drop Dead Fred (1991),Space Jam (1996),Flubber (1997),Flubber (1997),"Nutty Professor, The (1996)","Kid in King Arthur's Court, A (1995)","Indian in the Cupboard, The (1995)","20,000 Leagues Under the Sea (1954)"
9,"Mask, The (1994)",Space Jam (1996),"Nutty Professor, The (1996)","20,000 Leagues Under the Sea (1954)","Kid in King Arthur's Court, A (1995)",Flubber (1997),Heavenly Creatures (1994),Jumanji (1995),"NeverEnding Story III, The (1994)",Escape to Witch Mountain (1975),...,"Mask, The (1994)",FairyTale: A True Story (1997),Dragonheart (1996),"Kid in King Arthur's Court, A (1995)",Escape to Witch Mountain (1975),Escape to Witch Mountain (1975),"20,000 Leagues Under the Sea (1954)","Nutty Professor, The (1996)",Space Jam (1996),Flubber (1997)
10,"Nutty Professor, The (1996)","Nutty Professor, The (1996)","NeverEnding Story III, The (1994)","Nutty Professor, The (1996)",Bogus (1996),"Simple Wish, A (1997)",Dragonheart (1996),"20,000 Leagues Under the Sea (1954)",Heavenly Creatures (1994),"Kid in King Arthur's Court, A (1995)",...,Space Jam (1996),"NeverEnding Story III, The (1994)","Indian in the Cupboard, The (1995)","Nutty Professor, The (1996)",Dragonheart (1996),Dragonheart (1996),FairyTale: A True Story (1997),Space Jam (1996),FairyTale: A True Story (1997),"Indian in the Cupboard, The (1995)"
11,Jumanji (1995),"Mask, The (1994)",Heavenly Creatures (1994),Dragonheart (1996),"Nutty Professor, The (1996)","20,000 Leagues Under the Sea (1954)",Jumanji (1995),"Pagemaster, The (1994)","Kid in King Arthur's Court, A (1995)",FairyTale: A True Story (1997),...,Escape to Witch Mountain (1975),Heavenly Creatures (1994),Kazaam (1996),Flubber (1997),Bogus (1996),Bogus (1996),"NeverEnding Story III, The (1994)",Drop Dead Fred (1991),Heavenly Creatures (1994),Escape to Witch Mountain (1975)
12,Dragonheart (1996),"NeverEnding Story III, The (1994)","Kid in King Arthur's Court, A (1995)",Flubber (1997),Space Jam (1996),"NeverEnding Story III, The (1994)",Escape to Witch Mountain (1975),Bogus (1996),Jumanji (1995),Dragonheart (1996),...,"NeverEnding Story III, The (1994)","Kid in King Arthur's Court, A (1995)","Mask, The (1994)","NeverEnding Story III, The (1994)","Indian in the Cupboard, The (1995)","Indian in the Cupboard, The (1995)","Kid in King Arthur's Court, A (1995)",Flubber (1997),"Kid in King Arthur's Court, A (1995)",Space Jam (1996)
13,Flubber (1997),"Kid in King Arthur's Court, A (1995)",Jumanji (1995),"Pagemaster, The (1994)",Kazaam (1996),"Kid in King Arthur's Court, A (1995)",Kazaam (1996),Flubber (1997),Bogus (1996),"NeverEnding Story III, The (1994)",...,Heavenly Creatures (1994),Bogus (1996),Bogus (1996),FairyTale: A True Story (1997),"NeverEnding Story III, The (1994)","NeverEnding Story III, The (1994)",Jumanji (1995),"Indian in the Cupboard, The (1995)",Bogus (1996),"Nutty Professor, The (1996)"
14,Space Jam (1996),Jumanji (1995),Bogus (1996),Jumanji (1995),"Indian in the Cupboard, The (1995)",Bogus (1996),FairyTale: A True Story (1997),"NeverEnding Story III, The (1994)","Indian in the Cupboard, The (1995)",Space Jam (1996),...,"Kid in King Arthur's Court, A (1995)","Indian in the Cupboard, The (1995)","Kid in King Arthur's Court, A (1995)",Bogus (1996),"Kid in King Arthur's Court, A (1995)","Kid in King Arthur's Court, A (1995)",Bogus (1996),Bogus (1996),Flubber (1997),"Pagemaster, The (1994)"
15,"Kid in King Arthur's Court, A (1995)",Bogus (1996),"Indian in the Cupboard, The (1995)","NeverEnding Story III, The (1994)","NeverEnding Story III, The (1994)","Indian in the Cupboard, The (1995)",Bogus (1996),"Kid in King Arthur's Court, A (1995)",Drop Dead Fred (1991),Bogus (1996),...,"Indian in the Cupboard, The (1995)",Drop Dead Fred (1991),Space Jam (1996),Drop Dead Fred (1991),Space Jam (1996),Space Jam (1996),Flubber (1997),"Pagemaster, The (1994)",Drop Dead Fred (1991),Dragonheart (1996)
16,"Indian in the Cupboard, The (1995)",Flubber (1997),"Pagemaster, The (1994)",Bogus (1996),Flubber (1997),Drop Dead Fred (1991),"NeverEnding Story III, The (1994)","Indian in the Cupboard, The (1995)","Pagemaster, The (1994)","Indian in the Cupboard, The (1995)",...,Drop Dead Fred (1991),"Pagemaster, The (1994)",Flubber (1997),Escape to Witch Mountain (1975),Drop Dead Fred (1991),Drop Dead Fred (1991),Drop Dead Fred (1991),Warriors of Virtue (1997),"Pagemaster, The (1994)","NeverEnding Story III, The (1994)"
17,Warriors of Virtue (1997),"Indian in the Cupboard, The (1995)",Escape to Witch Mountain (1975),"Kid in King Arthur's Court, A (1995)",Drop Dead Fred (1991),"Pagemaster, The (1994)",Drop Dead Fred (1991),Drop Dead Fred (1991),Escape to Witch Mountain (1975),"Pagemaster, The (1994)",...,"Pagemaster, The (1994)",Escape to Witch Mountain (1975),Escape to Witch Mountain (1975),"Pagemaster, The (1994)","Pagemaster, The (1994)","Pagemaster, The (1994)","Pagemaster, The (1994)",FairyTale: A True Story (1997),Escape to Witch Mountain (1975),FairyTale: A True Story (1997)
18,"Pagemaster, The (1994)",Drop Dead Fred (1991),"Simple Wish, A (1997)",Drop Dead Fred (1991),"Pagemaster, The (1994)",Escape to Witch Mountain (1975),"Pagemaster, The (1994)",FairyTale: A True Story (1997),"Simple Wish, A (1997)","Simple Wish, A (1997)",...,"Simple Wish, A (1997)","Simple Wish, A (1997)","Nutty Professor, The (1996)",Kazaam (1996),"Simple Wish, A (1997)","Simple Wish, A (1997)","Simple Wish, A (1997)",Kazaam (1996),"Simple Wish, A (1997)","Simple Wish, A (1997)"
19,"Simple Wish, A (1997)","Pagemaster, The (1994)",Star Kid (1997),"Simple Wish, A (1997)","Simple Wish, A (1997)",Star Kid (1997),"Simple Wish, A (1997)","Hungarian Fairy Tale, A (1987)",Star Kid (1997),Star Kid (1997),...,Star Kid (1997),Star Kid (1997),"NeverEnding Story III, The (1994)","Simple Wish, A (1997)",Star Kid (1997),Star Kid (1997),Star Kid (1997),"NeverEnding Story III, The (1994)",Star Kid (1997),Star Kid (1997)
20,Star Kid (1997),Escape to Witch Mountain (1975),Kazaam (1996),Star Kid (1997),Star Kid (1997),Kazaam (1996),Star Kid (1997),"Simple Wish, A (1997)",Kazaam (1996),Kazaam (1996),...,Kazaam (1996),Kazaam (1996),"Pagemaster, The (1994)",Star Kid (1997),Kazaam (1996),Kazaam (1996),Kazaam (1996),"Simple Wish, A (1997)",Kazaam (1996),Kazaam (1996)
21,Kazaam (1996),Kazaam (1996),"Hungarian Fairy Tale, A (1987)",Kazaam (1996),"Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)",Star Kid (1997),"Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)",...,"Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)","Simple Wish, A (1997)","Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)",Star Kid (1997),"Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)"
22,"Hungarian Fairy Tale, A (1987)","Hungarian Fairy Tale, A (1987)",Warriors of Virtue (1997),"Hungarian Fairy Tale, A (1987)",Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Kazaam (1996),Warriors of Virtue (1997),Warriors of Virtue (1997),...,Warriors of Virtue (1997),Warriors of Virtue (1997),"Hungarian Fairy Tale, A (1987)",Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),Warriors of Virtue (1997),"Hungarian Fairy Tale, A (1987)",Warriors of Virtue (1997),Warriors of Virtue (1997)

In [624]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(FilmNoir, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [625]:
#administrator

In [626]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(FilmNoir, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [627]:
#artist

In [628]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(FilmNoir, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [629]:
#doctor

In [630]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(FilmNoir, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [631]:
#educator

In [632]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(FilmNoir, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [633]:
#engineer

In [634]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(FilmNoir, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [635]:
#entertainment

In [636]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(FilmNoir, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [637]:
#executive

In [638]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(FilmNoir, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [639]:
#healthcare

In [640]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(FilmNoir, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [641]:
#homemaker

In [642]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(FilmNoir, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [643]:
#lawyer

In [644]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(FilmNoir, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [645]:
#librarian

In [646]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(FilmNoir, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [647]:
#marketing

In [648]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(FilmNoir, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [649]:
#none

In [650]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(FilmNoir, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [651]:
#other

In [652]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(FilmNoir, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [653]:
#programmer

In [654]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(FilmNoir, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [655]:
#retired

In [656]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(FilmNoir, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [657]:
#salesman

In [658]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(FilmNoir, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [659]:
#scientist

In [660]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(FilmNoir, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [661]:
#student

In [662]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(FilmNoir, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [663]:
#technician

In [664]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(FilmNoir, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [665]:
#writer

In [666]:
FilmNoir_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
FilmNoir_occupation_rank = FilmNoir_occupation_rank.reset_index(drop=True)
FilmNoir_occupation_rank.index += 1
FilmNoir_occupation_rank = FilmNoir_occupation_rank.rename_axis("Rank")
FilmNoir_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,L.A. Confidential (1997),Sunset Blvd. (1950),Blade Runner (1982),M (1931),Laura (1944),Notorious (1946),"Manchurian Candidate, The (1962)",Notorious (1946),L.A. Confidential (1997),"Maltese Falcon, The (1941)",...,"Big Sleep, The (1946)","Manchurian Candidate, The (1962)",Notorious (1946),Laura (1944),"Big Sleep, The (1946)","Big Sleep, The (1946)","Big Sleep, The (1946)","Manchurian Candidate, The (1962)","Big Sleep, The (1946)",Dark City (1998)
2,"Manchurian Candidate, The (1962)",Touch of Evil (1958),L.A. Confidential (1997),Crossfire (1947),Chinatown (1974),Chinatown (1974),Notorious (1946),Cape Fear (1962),Mulholland Falls (1996),Sunset Blvd. (1950),...,Blade Runner (1982),Blade Runner (1982),"Manchurian Candidate, The (1962)",Sunset Blvd. (1950),Laura (1944),Laura (1944),"Manchurian Candidate, The (1962)",M (1931),Laura (1944),Chinatown (1974)
3,Notorious (1946),Blade Runner (1982),"Maltese Falcon, The (1941)","Maltese Falcon, The (1941)","Maltese Falcon, The (1941)","Manchurian Candidate, The (1962)","Big Sleep, The (1946)",Sunset Blvd. (1950),Hoodlum (1997),Laura (1944),...,Chinatown (1974),"Grifters, The (1990)",Touch of Evil (1958),Blade Runner (1982),"Manchurian Candidate, The (1962)","Manchurian Candidate, The (1962)",Blade Runner (1982),Laura (1944),"Maltese Falcon, The (1941)",Blade Runner (1982)
4,Blade Runner (1982),"Maltese Falcon, The (1941)",Sunset Blvd. (1950),Notorious (1946),Sunset Blvd. (1950),"Big Sleep, The (1946)","Maltese Falcon, The (1941)","Maltese Falcon, The (1941)",Blade Runner (1982),"Grifters, The (1990)",...,Hoodlum (1997),Hoodlum (1997),Sunset Blvd. (1950),"Manchurian Candidate, The (1962)",L.A. Confidential (1997),L.A. Confidential (1997),Chinatown (1974),L.A. Confidential (1997),"Manchurian Candidate, The (1962)","Big Sleep, The (1946)"
5,"Maltese Falcon, The (1941)","Manchurian Candidate, The (1962)","Grifters, The (1990)",Chinatown (1974),L.A. Confidential (1997),L.A. Confidential (1997),Sunset Blvd. (1950),L.A. Confidential (1997),"Maltese Falcon, The (1941)",M (1931),...,"Maltese Falcon, The (1941)",L.A. Confidential (1997),L.A. Confidential (1997),"Maltese Falcon, The (1941)",Blade Runner (1982),Blade Runner (1982),L.A. Confidential (1997),Chinatown (1974),Blade Runner (1982),Sunset Blvd. (1950)
6,Laura (1944),Chinatown (1974),Hoodlum (1997),"Manchurian Candidate, The (1962)",Blade Runner (1982),Blade Runner (1982),"Murder, My Sweet (1944)",Blade Runner (1982),Sunset Blvd. (1950),"Big Sleep, The (1946)",...,L.A. Confidential (1997),Palmetto (1998),"Big Sleep, The (1946)",Hoodlum (1997),Chinatown (1974),Chinatown (1974),"Maltese Falcon, The (1941)","Big Sleep, The (1946)",L.A. Confidential (1997),M (1931)
7,Crossfire (1947),Notorious (1946),Notorious (1946),Sunset Blvd. (1950),M (1931),"Maltese Falcon, The (1941)",Dark City (1998),Laura (1944),Notorious (1946),Chinatown (1974),...,Sunset Blvd. (1950),"Maltese Falcon, The (1941)",Chinatown (1974),L.A. Confidential (1997),Mulholland Falls (1996),Mulholland Falls (1996),M (1931),"Maltese Falcon, The (1941)",M (1931),Touch of Evil (1958)
8,Touch of Evil (1958),Laura (1944),"Big Sleep, The (1946)",Blade Runner (1982),Touch of Evil (1958),Laura (1944),Laura (1944),Hoodlum (1997),"Big Sleep, The (1946)",Cape Fear (1962),...,Notorious (1946),Sunset Blvd. (1950),Dark City (1998),Chinatown (1974),Devil in a Blue Dress (1995),Devil in a Blue Dress (1995),Cape Fear (1962),Blade Runner (1982),He Walked by Night (1948),"Maltese Falcon, The (1941)"
9,"Big Sleep, The (1946)","Big Sleep, The (1946)",Laura (1944),L.A. Confidential (1997),"Manchurian Candidate, The (1962)",Touch of Evil (1958),Cape Fear (1962),Mulholland Falls (1996),Laura (1944),Devil in a Blue Dress (1995),...,"Manchurian Candidate, The (1962)",Notorious (1946),M (1931),Touch of Evil (1958),Cape Fear (1962),Cape Fear (1962),Mulholland Falls (1996),Touch of Evil (1958),Chinatown (1974),"Manchurian Candidate, The (1962)"
10,Chinatown (1974),L.A. Confidential (1997),Touch of Evil (1958),Laura (1944),Notorious (1946),"Grifters, The (1990)",Touch of Evil (1958),Chinatown (1974),"Grifters, The (1990)",Blade Runner (1982),...,Cape Fear (1962),"Big Sleep, The (1946)","Murder, My Sweet (1944)",Cape Fear (1962),Touch of Evil (1958),Touch of Evil (1958),Palmetto (1998),Notorious (1946),"Grifters, The (1990)",Notorious (1946)
11,Sunset Blvd. (1950),M (1931),Chinatown (1974),Touch of Evil (1958),"Grifters, The (1990)",Cape Fear (1962),Blade Runner (1982),"Big Sleep, The (1946)",Touch of Evil (1958),L.A. Confidential (1997),...,"Grifters, The (1990)",Laura (1944),"Maltese Falcon, The (1941)","Big Sleep, The (1946)","Grifters, The (1990)","Grifters, The (1990)",Hoodlum (1997),Sunset Blvd. (1950),Hoodlum (1997),Laura (1944)
12,M (1931),Devil in a Blue Dress (1995),M (1931),Devil in a Blue Dress (1995),"Big Sleep, The (1946)",Dark City (1998),Chinatown (1974),M (1931),Chinatown (1974),Notorious (1946),...,Devil in a Blue Dress (1995),Touch of Evil (1958),Blade Runner (1982),"Grifters, The (1990)",Sunset Blvd. (1950),Sunset Blvd. (1950),Sunset Blvd. (1950),Devil in a Blue Dress (1995),Mulholland Falls (1996),L.A. Confidential (1997)
13,Hoodlum (1997),"Grifters, The (1990)","Manchurian Candidate, The (1962)","Murder, My Sweet (1944)",Devil in a Blue Dress (1995),Mulholland Falls (1996),L.A. Confidential (1997),"Manchurian Candidate, The (1962)",M (1931),"Manchurian Candidate, The (1962)",...,Mulholland Falls (1996),Chinatown (1974),Cape Fear (1962),Notorious (1946),"Maltese Falcon, The (1941)","Maltese Falcon, The (1941)","Grifters, The (1990)",Cape Fear (1962),Cape Fear (1962),Devil in a Blue Dress (1995)
14,Devil in a Blue Dress (1995),Hoodlum (1997),Cape Fear (1962),"Big Sleep, The (1946)",Hoodlum (1997),Hoodlum (1997),Devil in a Blue Dress (1995),Touch of Evil (1958),"Manchurian Candidate, The (1962)",Mulholland Falls (1996),...,Dark City (1998),M (1931),Hoodlum (1997),Devil in a Blue Dress (1995),Crossfire (1947),Crossfire (1947),Devil in a Blue Dress (1995),Dark City (1998),Devil in a Blue Dress (1995),"Grifters, The (1990)"
15,"Grifters, The (1990)",Dark City (1998),Dark City (1998),Cape Fear (1962),Cape Fear (1962),Sunset Blvd. (1950),Hoodlum (1997),"Grifters, The (1990)",Cape Fear (1962),Hoodlum (1997),...,Laura (1944),Cape Fear (1962),Laura (1944),Mulholland Falls (1996),M (1931),M (1931),Notorious (1946),"Grifters, The (1990)",Sunset Blvd. (1950),Cape Fear (1962)
16,Palmetto (1998),Cape Fear (1962),Devil in a Blue Dress (1995),"Grifters, The (1990)","Murder, My Sweet (1944)",Devil in a Blue Dress (1995),Mulholland Falls (1996),Devil in a Blue Dress (1995),Dark City (1998),Touch of Evil (1958),...,Touch of Evil (1958),Dark City (1998),Devil in a Blue Dress (1995),M (1931),"Murder, My Sweet (1944)","Murder, My Sweet (1944)",Laura (1944),Suture (1993),Notorious (1946),Hoodlum (1997)
17,Cape Fear (1962),Mulholland Falls (1996),Mulholland Falls (1996),Dark City (1998),Mulholland Falls (1996),M (1931),"Grifters, The (1990)",Suture (1993),Devil in a Blue Dress (1995),Dark City (1998),...,M (1931),Devil in a Blue Dress (1995),"Grifters, The (1990)",Dark City (1998),Notorious (1946),Notorious (1946),Touch of Evil (1958),Mulholland Falls (1996),Touch of Evil (1958),Suture (1993)
18,Mulholland Falls (1996),"Murder, My Sweet (1944)","Murder, My Sweet (1944)",Palmetto (1998),Raw Deal (1948),"Murder, My Sweet (1944)",M (1931),T-Men (1947),"Murder, My Sweet (1944)","Murder, My Sweet (1944)",...,"Murder, My Sweet (1944)",Mulholland Falls (1996),Mulholland Falls (1996),"Murder, My Sweet (1944)",Hoodlum (1997),Hoodlum (1997),Dark City (1998),Hoodlum (1997),Dark City (1998),Mulholland Falls (1996)
19,Dark City (1998),Crossfire (1947),Crossfire (1947),Mulholland Falls (1996),Dark City (1998),Crossfire (1947),Crossfire (1947),Dark City (1998),Crossfire (1947),Crossfire (1947),...,Crossfire (1947),"Murder, My Sweet (1944)",Crossfire (1947),Crossfire (1947),Dark City (1998),Dark City (1998),"Murder, My Sweet (1944)",Palmetto (1998),"Murder, My Sweet (1944)","Murder, My Sweet (1944)"
20,"Murder, My Sweet (1944)",Palmetto (1998),Palmetto (1998),Hoodlum (1997),Crossfire (1947),Palmetto (1998),Palmetto (1998),"Murder, My Sweet (1944)",Palmetto (1998),Palmetto (1998),...,Palmetto (1998),Crossfire (1947),Palmetto (1998),Palmetto (1998),Palmetto (1998),Palmetto (1998),Crossfire (1947),"Murder, My Sweet (1944)",Crossfire (1947),Crossfire (1947)
21,Suture (1993),Suture (1993),Suture (1993),Suture (1993),Palmetto (1998),Suture (1993),Suture (1993),Crossfire (1947),Suture (1993),Suture (1993),...,Suture (1993),Suture (1993),Suture (1993),Suture (1993),Suture (1993),Suture (1993),Suture (1993),Crossfire (1947),Palmetto (1998),Palmetto (1998)
22,Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Suture (1993),Raw Deal (1948),Raw Deal (1948),Palmetto (1998),Raw Deal (1948),Raw Deal (1948),...,Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Raw Deal (1948),Suture (1993),Raw Deal (1948)
23,T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),Raw Deal (1948),T-Men (1947),T-Men (1947),...,T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),T-Men (1947),Raw Deal (1948),T-Men (1947)
24,He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),...,He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),He Walked by Night (1948),T-Men (1947),He Walked by Night (1948)

In [667]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Horror, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [668]:
#administrator

In [669]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Horror, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [670]:
#artist

In [671]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Horror, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [672]:
#doctor

In [673]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Horror, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [674]:
#educator

In [675]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Horror, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [676]:
#engineer

In [677]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Horror, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [678]:
#entertainment

In [679]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Horror, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [680]:
#executive

In [681]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Horror, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [682]:
#healthcare

In [683]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Horror, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [684]:
#homemaker

In [685]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Horror, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [686]:
#lawyer

In [687]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Horror, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [688]:
#librarian

In [689]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Horror, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [690]:
#marketing

In [691]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Horror, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [692]:
#none

In [693]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Horror, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [694]:
#other

In [695]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Horror, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [696]:
#programmer

In [697]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Horror, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [698]:
#retired

In [699]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Horror, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [700]:
#salesman

In [701]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Horror, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [702]:
#scientist

In [703]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Horror, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [704]:
#student

In [705]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Horror, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [706]:
#technician

In [707]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Horror, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [708]:
#writer

In [709]:
Horror_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Horror_occupation_rank = Horror_occupation_rank.reset_index(drop=True)
Horror_occupation_rank.index += 1
Horror_occupation_rank = Horror_occupation_rank.rename_axis("Rank")
Horror_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Audrey Rose (1977),"Shining, The (1980)",Alien (1979),Cemetery Man (Dellamorte Dellamore) (1994),Halloween: The Curse of Michael Myers (1995),Candyman: Farewell to the Flesh (1995),"Omen, The (1976)",Jaws 2 (1978),"Devil's Advocate, The (1997)",Wishmaster (1997),...,Heavy Metal (1981),From Dusk Till Dawn (1996),Bride of Frankenstein (1935),Mary Shelley's Frankenstein (1994),Braindead (1992),Braindead (1992),"Nightmare on Elm Street, A (1984)",Braindead (1992),Alien (1979),Psycho (1960)
2,Braindead (1992),Evil Dead II (1987),"Devil's Advocate, The (1997)",Young Frankenstein (1974),Young Frankenstein (1974),Alien (1979),Psycho (1960),"Body Snatcher, The (1945)",Scream (1996),Army of Darkness (1993),...,Psycho (1960),Candyman (1992),Nightwatch (1997),"Prophecy, The (1995)",Evil Dead II (1987),Evil Dead II (1987),Psycho (1960),Bride of Frankenstein (1935),"Birds, The (1963)",Braindead (1992)
3,Psycho (1960),Body Snatchers (1993),Wishmaster (1997),"Nosferatu (Nosferatu, eine Symphonie des Graue...",Alien (1979),Bad Taste (1987),"Shining, The (1980)",Young Frankenstein (1974),Alien: Resurrection (1997),Interview with the Vampire (1994),...,"Birds, The (1963)",Psycho (1960),Phantoms (1998),Alien (1979),From Dusk Till Dawn (1996),From Dusk Till Dawn (1996),"American Werewolf in London, An (1981)",Psycho (1960),Lord of Illusions (1995),"Nosferatu (Nosferatu, eine Symphonie des Graue..."
4,Alien (1979),Alien 3 (1992),I Know What You Did Last Summer (1997),Psycho (1960),Hellraiser: Bloodline (1996),Psycho (1960),Interview with the Vampire (1994),"Howling, The (1981)","Craft, The (1996)","Omen, The (1976)",...,Night of the Living Dead (1968),"Shining, The (1980)",Burnt Offerings (1976),Heavy Metal (1981),Interview with the Vampire (1994),Interview with the Vampire (1994),"Craft, The (1996)",Loch Ness (1995),Robert A. Heinlein's The Puppet Masters (1994),Bride of Frankenstein (1935)
5,Young Frankenstein (1974),Night of the Living Dead (1968),Psycho (1960),Spirits of the Dead (Tre passi nel delirio) (1...,"Shining, The (1980)",Jaws (1975),Wes Craven's New Nightmare (1994),Carrie (1976),Young Frankenstein (1974),Deep Rising (1998),...,Alien (1979),Candyman: Farewell to the Flesh (1995),Young Frankenstein (1974),"Frighteners, The (1996)","Nosferatu (Nosferatu, eine Symphonie des Graue...","Nosferatu (Nosferatu, eine Symphonie des Graue...",Bride of Frankenstein (1935),Night Flier (1997),"Prophecy, The (1995)",Carrie (1976)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Night Flier (1997),Cemetery Man (Dellamorte Dellamore) (1994),"Machine, The (1994)",Night Flier (1997),Night Flier (1997),"Machine, The (1994)",Night Flier (1997),Night Flier (1997),"Machine, The (1994)","Machine, The (1994)",...,"Machine, The (1994)","Machine, The (1994)",Cronos (1992),"Machine, The (1994)","Machine, The (1994)","Machine, The (1994)","Machine, The (1994)",Nosferatu a Venezia (1986),"Machine, The (1994)","Machine, The (1994)"
89,Nightwatch (1997),"Machine, The (1994)",Nightwatch (1997),"Machine, The (1994)","Machine, The (1994)",Nightwatch (1997),Nightwatch (1997),"Machine, The (1994)",Nightwatch (1997),Nightwatch (1997),...,Nightwatch (1997),Nightwatch (1997),"Machine, The (1994)",Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),"Machine, The (1994)",Nightwatch (1997),Nightwatch (1997)
90,"Fear, The (1995)","Fear, The (1995)","Fear, The (1995)",Nightwatch (1997),"Fear, The (1995)","Fear, The (1995)","Fear, The (1995)",Nightwatch (1997),"Fear, The (1995)","Fear, The (1995)",...,"Fear, The (1995)","Fear, The (1995)",Nightwatch (1997),"Fear, The (1995)","Fear, The (1995)","Fear, The (1995)","Fear, The (1995)",Nightwatch (1997),"Fear, The (1995)","Fear, The (1995)"
91,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,"Fear, The (1995)",Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,"Fear, The (1995)",Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,"Fear, The (1995)",Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...,Spirits of the Dead (Tre passi nel delirio) (1...
92,Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),...,Nightwatch (1997),Nightwatch (1997),Spirits of the Dead (Tre passi nel delirio) (1...,Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997)

In [710]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Musical, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [711]:
#administrator

In [712]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Musical, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [713]:
#artist

In [714]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Musical, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [715]:
#doctor

In [716]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Musical, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [717]:
#educator

In [718]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Musical, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [719]:
#engineer

In [720]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Musical, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [721]:
#entertainment

In [722]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Musical, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [723]:
#executive

In [724]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Musical, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [725]:
#healthcare

In [726]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Musical, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [727]:
#homemaker

In [728]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Musical, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [729]:
#lawyer

In [730]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Musical, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [731]:
#librarian

In [732]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Musical, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [733]:
#marketing

In [734]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Musical, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [735]:
#none

In [736]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Musical, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [737]:
#other

In [738]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Musical, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [739]:
#programmer

In [740]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Musical, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [741]:
#retired

In [742]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Musical, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [743]:
#salesman

In [744]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Musical, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [745]:
#scientist

In [746]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Musical, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [747]:
#student

In [748]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Musical, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [749]:
#technician

In [750]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Musical, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [751]:
#writer

In [752]:
Musical_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Musical_occupation_rank = Musical_occupation_rank.reset_index(drop=True)
Musical_occupation_rank.index += 1
Musical_occupation_rank = Musical_occupation_rank.rename_axis("Rank")
Musical_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Selena (1997),Top Hat (1935),Cats Don't Dance (1997),Madame Butterfly (1995),Selena (1997),"Band Wagon, The (1953)",Tank Girl (1995),"American in Paris, An (1951)",Everyone Says I Love You (1996),Mary Poppins (1964),...,"Sound of Music, The (1965)",Selena (1997),"Umbrellas of Cherbourg, The (Parapluies de Che...","Misérables, Les (1995)",Singin' in the Rain (1952),Singin' in the Rain (1952),Fantasia (1940),"Inspector General, The (1949)",Top Hat (1935),Top Hat (1935)
2,"Umbrellas of Cherbourg, The (Parapluies de Che...",Blues Brothers 2000 (1998),"Wizard of Oz, The (1939)",Cats Don't Dance (1997),Top Hat (1935),Snow White and the Seven Dwarfs (1937),Dirty Dancing (1987),Snow White and the Seven Dwarfs (1937),Evita (1996),Anastasia (1997),...,Backbeat (1993),Hercules (1997),Grease 2 (1982),Shall We Dance? (1937),"Nightmare Before Christmas, The (1993)","Nightmare Before Christmas, The (1993)",Mary Poppins (1964),Singin' in the Rain (1952),"Inspector General, The (1949)",Funny Face (1957)
3,"Inspector General, The (1949)",Singin' in the Rain (1952),"Misérables, Les (1995)",Farinelli: il castrato (1994),"Umbrellas of Cherbourg, The (Parapluies de Che...","American in Paris, An (1951)","Misérables, Les (1995)",Alice in Wonderland (1951),Beauty and the Beast (1991),My Fair Lady (1964),...,Blues Brothers 2000 (1998),Cats Don't Dance (1997),Farinelli: il castrato (1994),Alice in Wonderland (1951),Snow White and the Seven Dwarfs (1937),Snow White and the Seven Dwarfs (1937),Cinderella (1950),"Blues Brothers, The (1980)",Dumbo (1941),Muppet Treasure Island (1996)
4,"Gay Divorcee, The (1934)","Wizard of Oz, The (1939)",Funny Face (1957),"Wizard of Oz, The (1939)","Blues Brothers, The (1980)",Spice World (1997),Dumbo (1941),Cinderella (1950),"Hunchback of Notre Dame, The (1996)","Sound of Music, The (1965)",...,"Lion King, The (1994)",Anastasia (1997),"Sound of Music, The (1965)","Wizard of Oz, The (1939)",Mary Poppins (1964),Mary Poppins (1964),"Nightmare Before Christmas, The (1993)",Madame Butterfly (1995),"Great Race, The (1965)","Gay Divorcee, The (1934)"
5,Cinderella (1950),My Fair Lady (1964),Beauty and the Beast (1991),Funny Face (1957),Fantasia (1940),This Is Spinal Tap (1984),Selena (1997),"Great Race, The (1965)",Hercules (1997),"Nightmare Before Christmas, The (1993)",...,"Three Caballeros, The (1945)","Wizard of Oz, The (1939)","Wizard of Oz, The (1939)",Aladdin (1992),Gigi (1958),Gigi (1958),Dumbo (1941),"Misérables, Les (1995)","Gay Divorcee, The (1934)",Beauty and the Beast (1991)
6,My Fair Lady (1964),Selena (1997),Evita (1996),This Is Spinal Tap (1984),"Wizard of Oz, The (1939)",Pink Floyd - The Wall (1982),"Lion King, The (1994)","Hunchback of Notre Dame, The (1996)",Aladdin (1992),"American in Paris, An (1951)",...,Beauty and the Beast (1991),"Sound of Music, The (1965)",My Fair Lady (1964),"Blues Brothers, The (1980)","Doors, The (1991)","Doors, The (1991)",My Fair Lady (1964),Shall We Dance? (1937),Fantasia (1940),Singin' in the Rain (1952)
7,Alice in Wonderland (1951),Fantasia (1940),Cinderella (1950),Snow White and the Seven Dwarfs (1937),"Inspector General, The (1949)",Singin' in the Rain (1952),"Wizard of Oz, The (1939)","Inspector General, The (1949)","Sound of Music, The (1965)",Snow White and the Seven Dwarfs (1937),...,Alice in Wonderland (1951),Evita (1996),Singin' in the Rain (1952),This Is Spinal Tap (1984),Beauty and the Beast (1991),Beauty and the Beast (1991),"Wizard of Oz, The (1939)","Great Race, The (1965)",Blues Brothers 2000 (1998),"Sound of Music, The (1965)"
8,This Is Spinal Tap (1984),"Nightmare Before Christmas, The (1993)","Nightmare Before Christmas, The (1993)",Singin' in the Rain (1952),Meet Me in St. Louis (1944),Victor/Victoria (1982),Victor/Victoria (1982),My Fair Lady (1964),"Blues Brothers, The (1980)",This Is Spinal Tap (1984),...,"Great Race, The (1965)",Alice in Wonderland (1951),Gigi (1958),Beauty and the Beast (1991),"Umbrellas of Cherbourg, The (Parapluies de Che...","Umbrellas of Cherbourg, The (Parapluies de Che...",James and the Giant Peach (1996),Top Hat (1935),"Hunchback of Notre Dame, The (1996)",My Fair Lady (1964)
9,Dumbo (1941),"Great Race, The (1965)",My Fair Lady (1964),"Doors, The (1991)","Lion King, The (1994)",Anastasia (1997),Hercules (1997),Fantasia (1940),Anastasia (1997),Singin' in the Rain (1952),...,"American in Paris, An (1951)",Dirty Dancing (1987),Backbeat (1993),Backbeat (1993),James and the Giant Peach (1996),James and the Giant Peach (1996),Funny Face (1957),"Wizard of Oz, The (1939)",Singin' in the Rain (1952),"Umbrellas of Cherbourg, The (Parapluies de Che..."
10,"Wizard of Oz, The (1939)",Victor/Victoria (1982),"American in Paris, An (1951)","Nightmare Before Christmas, The (1993)",Singin' in the Rain (1952),"Lion King, The (1994)",Mary Poppins (1964),"Gay Divorcee, The (1934)",Muppet Treasure Island (1996),Alice in Wonderland (1951),...,Aladdin (1992),Grease (1978),"Band Wagon, The (1953)","Umbrellas of Cherbourg, The (Parapluies de Che...",Fantasia (1940),Fantasia (1940),Alice in Wonderland (1951),"Sound of Music, The (1965)",Pink Floyd - The Wall (1982),Pete's Dragon (1977)
11,"Band Wagon, The (1953)","Sound of Music, The (1965)",This Is Spinal Tap (1984),"American in Paris, An (1951)",This Is Spinal Tap (1984),"Sound of Music, The (1965)",My Fair Lady (1964),Singin' in the Rain (1952),Spice World (1997),Backbeat (1993),...,"Nightmare Before Christmas, The (1993)",Aladdin (1992),Anastasia (1997),Hercules (1997),Alice in Wonderland (1951),Alice in Wonderland (1951),"Lion King, The (1994)",This Is Spinal Tap (1984),Beauty and the Beast (1991),Hercules (1997)
12,Top Hat (1935),"Three Caballeros, The (1945)",Dumbo (1941),Alice in Wonderland (1951),Aladdin (1992),Cinderella (1950),Fantasia (1940),"Wizard of Oz, The (1939)",Blues Brothers 2000 (1998),Victor/Victoria (1982),...,Mary Poppins (1964),"Hunchback of Notre Dame, The (1996)","Blues Brothers, The (1980)",Cats Don't Dance (1997),Dumbo (1941),Dumbo (1941),"Blues Brothers, The (1980)",Victor/Victoria (1982),Snow White and the Seven Dwarfs (1937),Gigi (1958)
13,"American in Paris, An (1951)",Meet Me in St. Louis (1944),"Hunchback of Notre Dame, The (1996)",Top Hat (1935),My Fair Lady (1964),Hercules (1997),"Blues Brothers, The (1980)",Dirty Dancing (1987),James and the Giant Peach (1996),Gigi (1958),...,This Is Spinal Tap (1984),Beauty and the Beast (1991),Snow White and the Seven Dwarfs (1937),Funny Face (1957),This Is Spinal Tap (1984),This Is Spinal Tap (1984),This Is Spinal Tap (1984),Mary Poppins (1964),Backbeat (1993),Meet Me in St. Louis (1944)
14,Singin' in the Rain (1952),Tank Girl (1995),Anastasia (1997),"Three Caballeros, The (1945)",Beauty and the Beast (1991),Fantasia (1940),Gigi (1958),"Sound of Music, The (1965)",Joe's Apartment (1996),Beauty and the Beast (1991),...,"Wizard of Oz, The (1939)",Snow White and the Seven Dwarfs (1937),Fantasia (1940),Singin' in the Rain (1952),Top Hat (1935),Top Hat (1935),Beauty and the Beast (1991),Aladdin (1992),Aladdin (1992),"Misérables, Les (1995)"
15,Aladdin (1992),This Is Spinal Tap (1984),"Lion King, The (1994)","Lion King, The (1994)",Alice in Wonderland (1951),"Nightmare Before Christmas, The (1993)","Hunchback of Notre Dame, The (1996)",Grease (1978),"Lion King, The (1994)","Lion King, The (1994)",...,"Blues Brothers, The (1980)",Dumbo (1941),Aladdin (1992),Farinelli: il castrato (1994),"Damsel in Distress, A (1937)","Damsel in Distress, A (1937)",Victor/Victoria (1982),"Nightmare Before Christmas, The (1993)","Wizard of Oz, The (1939)","Lion King, The (1994)"
16,Snow White and the Seven Dwarfs (1937),James and the Giant Peach (1996),James and the Giant Peach (1996),"Blues Brothers, The (1980)","Misérables, Les (1995)",James and the Giant Peach (1996),Beauty and the Beast (1991),This Is Spinal Tap (1984),"Nightmare Before Christmas, The (1993)",Shall We Dance? (1937),...,My Fair Lady (1964),Fantasia (1940),Mary Poppins (1964),"Lion King, The (1994)",Victor/Victoria (1982),Victor/Victoria (1982),Singin' in the Rain (1952),"Lion King, The (1994)","Blues Brothers, The (1980)",Dumbo (1941)
17,Beauty and the Beast (1991),Mary Poppins (1964),Everyone Says I Love You (1996),Dirty Dancing (1987),Hercules (1997),Aladdin (1992),Backbeat (1993),Gigi (1958),Snow White and the Seven Dwarfs (1937),Cinderella (1950),...,Dumbo (1941),"Lion King, The (1994)","Lion King, The (1994)",Anastasia (1997),My Fair Lady (1964),My Fair Lady (1964),Grease (1978),Beauty and the Beast (1991),Mary Poppins (1964),"Band Wagon, The (1953)"
18,Mary Poppins (1964),Snow White and the Seven Dwarfs (1937),"Blues Brothers, The (1980)",Fantasia (1940),Pink Floyd - The Wall (1982),Grease (1978),Cinderella (1950),Aladdin (1992),All Dogs Go to Heaven 2 (1996),Dirty Dancing (1987),...,Fantasia (1940),Cinderella (1950),Beauty and the Beast (1991),"Sound of Music, The (1965)","Wizard of Oz, The (1939)","Wizard of Oz, The (1939)","Sound of Music, The (1965)",My Fair Lady (1964),James and the Giant Peach (1996),This Is Spinal Tap (1984)
19,"Lion King, The (1994)",Everyone Says I Love You (1996),"Sound of Music, The (1965)","Inspector General, The (1949)",Cinderella (1950),"Blues Brothers, The (1980)","Sound of Music, The (1965)","Blues Brothers, The (1980)","Wizard of Oz, The (1939)",Aladdin (1992),...,Victor/Victoria (1982),Mary Poppins (1964),Top Hat (1935),Fantasia (1940),Meet Me in St. Louis (1944),Meet Me in St. Louis (1944),Snow White and the Seven Dwarfs (1937),"American in Paris, An (1951)",Anastasia (1997),"Wizard of Oz, The (1939)"
20,Anastasia (1997),Aladdin (1992),Snow White and the Seven Dwarfs (1937),Aladdin (1992),Mary Poppins (1964),Joe's Apartment (1996),Aladdin (1992),"Nightmare Before Christmas, The (1993)",Bedknobs and Broomsticks (1971),"Wizard of Oz, The (1939)",...,Everyone Says I Love You (1996),James and the Giant Peach (1996),Cinderella (1950),"Hunchback of Notre Dame, The (1996)","Lion King, The (1994)","Lion King, The (1994)",Aladdin (1992),Hercules (1997),Everyone Says I Love You (1996),Fantasia (1940)
21,"Blues Brothers, The (1980)",Beauty and the Beast (1991),Aladdin (1992),"Sound of Music, The (1965)",Snow White and the Seven Dwarfs (1937),Dumbo (1941),This Is Spinal Tap (1984),Pink Floyd - The Wall (1982),Dirty Dancing (1987),"Blues Brothers, The (1980)",...,Snow White and the Seven Dwarfs (1937),Pocahontas (1995),"Nightmare Before Christmas, The (1993)",Mary Poppins (1964),Aladdin (1992),Aladdin (1992),"Hunchback of Notre Dame, The (1996)",Fantasia (1940),"Lion King, The (1994)",Shall We Dance? (1937)
22,"Nightmare Before Christmas, The (1993)",Dumbo (1941),Fantasia (1940),Everyone Says I Love You (1996),Farinelli: il castrato (1994),Beauty and the Beast (1991),Snow White and the Seven Dwarfs (1937),"Three Caballeros, The (1945)",This Is Spinal Tap (1984),Evita (1996),...,Anastasia (1997),"Nightmare Before Christmas, The (1993)",Funny Face (1957),"Great Race, The (1965)","Blues Brothers, The (1980)","Blues Brothers, The (1980)",Pocahontas (1995),Alice in Wonderland (1951),Hercules (1997),"American in Paris, An (1951)"
23,Gigi (1958),"Blues Brothers, The (1980)",Muppet Treasure Island (1996),Meet Me in St. Louis (1944),Gigi (1958),"Wizard of Oz, The (1939)",Pink Floyd - The Wall (1982),Mary Poppins (1964),Pink Floyd - The Wall (1982),Grease (1978),...,Meet Me in St. Louis (1944),Joe's Apartment (1996),Dumbo (1941),Gigi (1958),Grease (1978),Grease (1978),"Great Race, The (1965)",Snow White and the Seven Dwarfs (1937),My Fair Lady (1964),Cinderella (1950)
24,"Great Race, The (1965)",Bedknobs and Broomsticks (1971),All Dogs Go to Heaven 2 (1996),Beauty and the Beast (1991),Dumbo (1941),Cats Don't Dance (1997),Singin' in the Rain (1952),Evita (1996),Cinderella (1950),Tank Girl (1995),...,Funny Face (1957),Muppet Treasure Island (1996),This Is Spinal Tap (1984),Dirty Dancing (1987),"Sound of Music, The (1965)","Sound of Music, The (1965)",Cats Don't Dance (1997),Cinderella (1950),Cinderella (1950),Mary Poppins (1964)
25,"Sound of Music, The (1965)",Dirty Dancing (1987),Bedknobs and Broomsticks (1971),Hercules (1997),"Sound of Music, The (1965)",Everyone Says I Love You (1996),"Nightmare Before Christmas, The (1993)",Victor/Victoria (1982),Mary Poppins (1964),Fantasia (1940),...,"Doors, The (1991)",Everyone Says I Love You (1996),Alice in Wonderland (1951),"American in Paris, An (1951)","Inspector General, The (1949)","Inspector General, The (1949)",Blues Brothers 2000 (1998),Pink Floyd - The Wall (1982),This Is Spinal Tap (1984),Alice in Wonderland (1951)
26,Pink Floyd - The Wall (1982),Joe's Apartment (1996),Dirty Dancing (1987),Backbeat (1993),"American in Paris, An (1951)",Dirty Dancing (1987),Bedknobs and Broomsticks (1971),Pocahontas (1995),Alice in Wonderland (1951),Everyone Says I Love You (1996),...,Muppet Treasure Island (1996),Blues Brothers 2000 (1998),"Hunchback of Notre Dame, The (1996)",Pete's Dragon (1977),Funny Face (1957),Funny Face (1957),Evita (1996),Grease (1978),"Nightmare Before Christmas, The (1993)",Aladdin (1992)
27,James and the Giant Peach (1996),Alice in Wonderland (1951),Pink Floyd - The Wall (1982),Shall We Dance? (1937),"Hunchback of Notre Dame, The (1996)",Evita (1996),Grease (1978),Grease 2 (1982),Fantasia (1940),Pocahontas (1995),...,Cinderella (1950),All Dogs Go to Heaven 2 (1996),Grease (1978),Top Hat (1935),Everyone Says I Love You (1996),Everyone Says I Love You (1996),Pink Floyd - The Wall (1982),Dumbo (1941),Grease (1978),"Blues Brothers, The (1980)"
28,Fantasia (1940),"Lion King, The (1994)",Spice World (1997),Pete's Dragon (1977),"Nightmare Before Christmas, The (1993)",Grease 2 (1982),Everyone Says I Love You (1996),"Umbrellas of Cherbourg, The (Parapluies de Che...",Grease (1978),Pink Floyd - The Wall (1982),...,Pink Floyd - The Wall (1982),Bedknobs and Broomsticks (1971),"Gay Divorcee, The (1934)",Everyone Says I Love You (1996),Shall We Dance? (1937),Shall We Dance? (1937),Everyone Says I Love You (1996),"Hunchback of Notre Dame, The (1996)",Meet Me in St. Louis (1944),Everyone Says I Love You (1996)
29,Shall We Dance? (1937),Pete's Dragon (1977),Blues Brothers 2000 (1998),"Misérables, Les (1995)","Great Race, The (1965)",Tank Girl (1995),"American in Paris, An (1951)",Beauty and the Beast (1991),My Fair Lady (1964),Bedknobs and Broomsticks (1971),...,Bedknobs and Broomsticks (1971),"Blues Brothers, The (1980)","American in Paris, An (1951)","Nightmare Before Christmas, The (1993)","Gay Divorcee, The (1934)","Gay Divorcee, The (1934)",Anastasia (1997),Selena (1997),Victor/Victoria (1982),Snow White and the Seven Dwarfs (1937)
30,Farinelli: il castrato (1994),Cinderella (1950),Mary Poppins (1964),Dumbo (1941),Everyone Says I Love You (1996),"Hunchback of Notre Dame, The (1996)",Meet Me in St. Louis (1944),Backbeat (1993),Dumbo (1941),"Great Race, The (1965)",...,Evita (1996),This Is Spinal Tap (1984),"Doors, The (1991)",My Fair Lady (1964),Muppet Treasure Island (1996),Muppet Treasure Island (1996),Dirty Dancing (1987),Anastasia (1997),Dirty Dancing (1987),Bedknobs and Broomsticks (1971)
31,Bedknobs and Broomsticks (1971),Anastasia (1997),Alice in Wonderland (1951),Blues Brothers 2000 (1998),"Doors, The (1991)",Blues Brothers 2000 (1998),"Great Race, The (1965)",Everyone Says I Love You (1996),Pocahontas (1995),Muppet Treasure Island (1996),...,Singin' in the Rain (1952),Pink Floyd - The Wall (1982),Madame Butterfly (1995),Cinderella (1950),"American in Paris, An (1951)","American in Paris, An (1951)",Muppet Treasure Island (1996),Bedknobs and Broomsticks (1971),Funny Face (1957),"Doors, The (1991)"
32,Meet Me in St. Louis (1944),"Hunchback of Notre Dame, The (1996)",Grease (1978),Mary Poppins (1964),Grease (1978),Pete's Dragon (1977),Evita (1996),Meet Me in St. Louis (1944),"Misérables, Les (1995)",James and the Giant Peach (1996),...,Grease (1978),Spice World (1997),Bedknobs and Broomsticks (1971),Snow White and the Seven Dwarfs (1937),Cinderella (1950),Cinderella (1950),All Dogs Go to Heaven 2 (1996),Everyone Says I Love You (1996),Tank Girl (1995),Dirty Dancing (1987)
33,Grease (1978),"Doors, The (1991)",Pocahontas (1995),"Umbrellas of Cherbourg, The (Parapluies de Che...",Tank Girl (1995),Muppet Treasure Island (1996),James and the Giant Peach (1996),"Doors, The (1991)",Farinelli: il castrato (1994),Grease 2 (1982),...,"Hunchback of Notre Dame, The (1996)",My Fair Lady (1964),"Inspector General, The (1949)","Doors, The (1991)",Bedknobs and Broomsticks (1971),Bedknobs and Broomsticks (1971),Bedknobs and Broomsticks (1971),Evita (1996),"Sound of Music, The (1965)","Great Race, The (1965)"
34,Everyone Says I Love You (1996),Cats Don't Dance (1997),Farinelli: il castrato (1994),"Hunchback of Notre Dame, The (1996)",Victor/Victoria (1982),All Dogs Go to Heaven 2 (1996),"Doors, The (1991)","Lion King, The (1994)","American in Paris, An (1951)","Doors, The (1991)",...,Dirty Dancing (1987),"Misérables, Les (1995)",James and the Giant Peach (1996),Grease (1978),Madame Butterfly (1995),Madame Butterfly (1995),Spice World (1997),Dirty Dancing (1987),Evita (1996),Cats Don't Dance (1997)
35,Tank Girl (1995),Muppet Treasure Island (1996),Meet Me in St. Louis (1944),Grease (1978),Joe's Apartment (1996),Bedknobs and Broomsticks (1971),Muppet Treasure Island (1996),Dumbo (1941),Meet Me in St. Louis (1944),Spice World (1997),...,Hercules (1997),Farinelli: il castrato (1994),Tank Girl (1995),Pink Floyd - The Wall (1982),"Hunchback of Notre Dame, The (1996)","Hunchback of Notre Dame, The (1996)","Misérables, Les (1995)",James and the Giant Peach (1996),Bedknobs and Broomsticks (1971),Pocahontas (1995)
36,Victor/Victoria (1982),Hercules (1997),Gigi (1958),James and the Giant Peach (1996),"Three Caballeros, The (1945)",Mary Poppins (1964),Anastasia (1997),James and the Giant Peach (1996),Gigi (1958),All Dogs Go to Heaven 2 (1996),...,James and the Giant Peach (1996),"American in Paris, An (1951)",Selena (1997),"Three Caballeros, The (1945)",Evita (1996),Evita (1996),Farinelli: il castrato (1994),Blues Brothers 2000 (1998),Pocahontas (1995),"Hunchback of Notre Dame, The (1996)"
37,"Hunchback of Notre Dame, The (1996)",Evita (1996),"Three Caballeros, The (1945)",My Fair Lady (1964),Funny Face (1957),Alice in Wonderland (1951),Spice World (1997),Muppet Treasure Island (1996),"Three Caballeros, The (1945)",Blues Brothers 2000 (1998),...,Pocahontas (1995),Meet Me in St. Louis (1944),"Misérables, Les (1995)",Victor/Victoria (1982),"Band Wagon, The (1953)","Band Wagon, The (1953)","American in Paris, An (1951)",Meet Me in St. Louis (1944),Joe's Apartment (1996),Pink Floyd - The Wall (1982)
38,Dirty Dancing (1987),Spice World (1997),Victor/Victoria (1982),"Gay Divorcee, The (1934)",Backbeat (1993),My Fair Lady (1964),Shall We Dance? (1937),Hercules (1997),Victor/Victoria (1982),Dumbo (1941),...,Cats Don't Dance (1997),Gigi (1958),Victor/Victoria (1982),Evita (1996),"Great Race, The (1965)","Great Race, The (1965)",Meet Me in St. Louis (1944),Gigi (1958),Pete's Dragon (1977),Anastasia (1997)
39,Funny Face (1957),Pink Floyd - The Wall (1982),"Great Race, The (1965)",Muppet Treasure Island (1996),James and the Giant Peach (1996),Pocahontas (1995),Cats Don't Dance (1997),"Misérables, Les (1995)","Great Race, The (1965)","Misérables, Les (1995)",...,Pete's Dragon (1977),"Three Caballeros, The (1945)",Pink Floyd - The Wall (1982),Dumbo (1941),Cats Don't Dance (1997),Cats Don't Dance (1997),Gigi (1958),"Three Caballeros, The (1945)",Muppet Treasure Island (1996),Blues Brothers 2000 (1998)

In [753]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Mystery, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [754]:
#administrator

In [755]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Mystery, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [756]:
#artist

In [757]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Mystery, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [758]:
#doctor

In [759]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Mystery, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [760]:
#educator

In [761]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Mystery, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [762]:
#engineer

In [763]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Mystery, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [764]:
#entertainment

In [765]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Mystery, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [766]:
#executive

In [767]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Mystery, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [768]:
#healthcare

In [769]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Mystery, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [770]:
#homemaker

In [771]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Mystery, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [772]:
#lawyer

In [773]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Mystery, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [774]:
#librarian

In [775]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Mystery, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [776]:
#marketing

In [777]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Mystery, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [778]:
#none

In [779]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Mystery, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [780]:
#other

In [781]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Mystery, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [782]:
#programmer

In [783]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Mystery, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [784]:
#retired

In [785]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Mystery, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [786]:
#salesman

In [787]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Mystery, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [788]:
#scientist

In [789]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Mystery, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [790]:
#student

In [791]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Mystery, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [792]:
#technician

In [793]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Mystery, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [794]:
#writer

In [795]:
Mystery_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Mystery_occupation_rank = Mystery_occupation_rank.reset_index(drop=True)
Mystery_occupation_rank.index += 1
Mystery_occupation_rank = Mystery_occupation_rank.rename_axis("Rank")
Mystery_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Gaslight (1944),U Turn (1997),"Devil's Advocate, The (1997)",Stalker (1979),Charade (1963),Wild Things (1998),Rear Window (1954),Spellbound (1945),Fallen (1998),"Maltese Falcon, The (1941)",...,"Big Sleep, The (1946)",Just Cause (1995),Spellbound (1945),Laura (1944),"Big Lebowski, The (1998)","Big Lebowski, The (1998)","Big Lebowski, The (1998)",Wild Things (1998),True Crime (1995),Chinatown (1974)
2,Boxing Helena (1993),Dial M for Murder (1954),I Know What You Did Last Summer (1997),Rear Window (1954),Laura (1944),Diva (1981),2001: A Space Odyssey (1968),"Thin Man, The (1934)","Game, The (1997)",Charade (1963),...,Rear Window (1954),"Game, The (1997)","Third Man, The (1949)","Big Lebowski, The (1998)",Amadeus (1984),Amadeus (1984),"Big Sleep, The (1946)","Thin Man, The (1934)",Midnight in the Garden of Good and Evil (1997),"Man Who Knew Too Little, The (1997)"
3,Congo (1995),"Thin Man, The (1934)",U Turn (1997),Gaslight (1944),Chinatown (1974),Chinatown (1974),"Third Man, The (1949)",Vertigo (1958),L.A. Confidential (1997),That Darn Cat! (1997),...,Vertigo (1958),Rear Window (1954),Dial M for Murder (1954),Six Degrees of Separation (1993),Laura (1944),Laura (1944),Diva (1981),"Third Man, The (1949)","Big Sleep, The (1946)",Chungking Express (1994)
4,"Thin Man, The (1934)",Rear Window (1954),"Third Man, The (1949)",Lone Star (1996),"Maltese Falcon, The (1941)",Rear Window (1954),Vertigo (1958),"Client, The (1994)",Lone Star (1996),Laura (1944),...,Chinatown (1974),Absolute Power (1997),Rear Window (1954),2001: A Space Odyssey (1968),"Big Sleep, The (1946)","Big Sleep, The (1946)",Rear Window (1954),"Big Lebowski, The (1998)",Laura (1944),"Third Man, The (1949)"
5,"Third Man, The (1949)","Third Man, The (1949)",2001: A Space Odyssey (1968),"Maltese Falcon, The (1941)",U Turn (1997),"Big Sleep, The (1946)","Big Sleep, The (1946)",2001: A Space Odyssey (1968),Absolute Power (1997),Rear Window (1954),...,Amadeus (1984),Congo (1995),"Thin Man, The (1934)",Rear Window (1954),Vertigo (1958),Vertigo (1958),Arsenic and Old Lace (1944),Rear Window (1954),Vertigo (1958),Charade (1963)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,That Darn Cat! (1965),Palmetto (1998),That Darn Cat! (1965),That Darn Cat! (1997),Palmetto (1998),That Darn Cat! (1965),Palmetto (1998),That Darn Cat! (1997),That Darn Cat! (1965),That Darn Cat! (1965),...,That Darn Cat! (1965),That Darn Cat! (1965),Palmetto (1998),Palmetto (1998),Palmetto (1998),Palmetto (1998),That Darn Cat! (1965),Power 98 (1995),Palmetto (1998),Palmetto (1998)
58,Lady of Burlesque (1943),That Darn Cat! (1965),Lady of Burlesque (1943),Just Cause (1995),Lady of Burlesque (1943),Lady of Burlesque (1943),Lady of Burlesque (1943),Flesh and Bone (1993),Lady of Burlesque (1943),Lady of Burlesque (1943),...,Lady of Burlesque (1943),Lady of Burlesque (1943),Lady of Burlesque (1943),Lady of Burlesque (1943),That Darn Cat! (1965),That Darn Cat! (1965),Lady of Burlesque (1943),Lady of Burlesque (1943),That Darn Cat! (1965),Lady of Burlesque (1943)
59,"Underneath, The (1995)",Lady of Burlesque (1943),"Underneath, The (1995)",Lady of Burlesque (1943),"Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)",Palmetto (1998),"Underneath, The (1995)","Underneath, The (1995)",...,"Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)","Underneath, The (1995)",Lady of Burlesque (1943),"Underneath, The (1995)"
60,"Woman in Question, The (1950)","Underneath, The (1995)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)",Lady of Burlesque (1943),"Woman in Question, The (1950)","Woman in Question, The (1950)",...,"Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)","Woman in Question, The (1950)"
61,MURDER and murder (1996),"Woman in Question, The (1950)",MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),...,MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996),MURDER and murder (1996)

In [796]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Romance, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [797]:
#administrator

In [798]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Romance, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [799]:
#artist

In [800]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Romance, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [801]:
#doctor

In [802]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Romance, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [803]:
#educator

In [804]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Romance, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [805]:
#engineer

In [806]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Romance, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [807]:
#entertainment

In [808]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Romance, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [809]:
#executive

In [810]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Romance, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [811]:
#healthcare

In [812]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Romance, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [813]:
#homemaker

In [814]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Romance, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [815]:
#lawyer

In [816]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Romance, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [817]:
#librarian

In [818]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Romance, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [819]:
#marketing

In [820]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Romance, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [821]:
#none

In [822]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Romance, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [823]:
#other

In [824]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Romance, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [825]:
#programmer

In [826]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Romance, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [827]:
#retired

In [828]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Romance, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [829]:
#salesman

In [830]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Romance, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [831]:
#scientist

In [832]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Romance, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [833]:
#student

In [834]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Romance, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [835]:
#technician

In [836]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Romance, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [837]:
#writer

In [838]:
Romance_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Romance_occupation_rank = Romance_occupation_rank.reset_index(drop=True)
Romance_occupation_rank.index += 1
Romance_occupation_rank = Romance_occupation_rank.rename_axis("Rank")
Romance_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Tango Lesson, The (1997)",Top Hat (1935),Like Water For Chocolate (Como agua para choco...,For the Moment (1994),Top Hat (1935),"Englishman Who Went Up a Hill, But Came Down a...",Don Juan DeMarco (1995),Notorious (1946),Everyone Says I Love You (1996),Rebecca (1940),...,Shadowlands (1993),Desperado (1995),Hugo Pool (1997),Beautiful Thing (1996),Speed (1994),Speed (1994),"Hudsucker Proxy, The (1994)",Walking and Talking (1996),"Postino, Il (1994)",Love in the Afternoon (1957)
2,Mrs. Dalloway (1997),Farewell My Concubine (1993),Much Ado About Nothing (1993),Go Fish (1994),Charade (1963),Diva (1981),Forget Paris (1995),How to Make an American Quilt (1995),My Best Friend's Wedding (1997),Picture Perfect (1997),...,Beautiful Thing (1996),French Kiss (1995),"Leading Man, The (1996)",Love in the Afternoon (1957),"African Queen, The (1951)","African Queen, The (1951)",Beautiful Thing (1996),"Thieves (Voleurs, Les) (1996)",Beautiful Thing (1996),Mrs. Dalloway (1997)
3,Brassed Off (1996),Ninotchka (1939),"Room with a View, A (1986)","Affair to Remember, An (1957)",Chasing Amy (1997),"Philadelphia Story, The (1940)",Strictly Ballroom (1992),Spellbound (1945),Picture Perfect (1997),It Could Happen to You (1994),...,Before Sunrise (1995),Muriel's Wedding (1994),Hotel de Love (1996),Casablanca (1942),"Mrs. Brown (Her Majesty, Mrs. Brown) (1997)","Mrs. Brown (Her Majesty, Mrs. Brown) (1997)",Cyrano de Bergerac (1990),Beautiful Thing (1996),"Pillow Book, The (1995)",Psycho (1960)
4,"Gay Divorcee, The (1934)",Shadowlands (1993),"Princess Bride, The (1987)",Persuasion (1995),Rebecca (1940),Casablanca (1942),To Catch a Thief (1955),Titanic (1997),Jane Eyre (1996),Charade (1963),...,Mrs. Dalloway (1997),"Wedding Singer, The (1998)",Afterglow (1997),Cyrano de Bergerac (1990),Wings of Desire (1987),Wings of Desire (1987),Psycho (1960),Cinema Paradiso (1988),"Gay Divorcee, The (1934)","Philadelphia Story, The (1940)"
5,Boxing Helena (1993),Cyrano de Bergerac (1990),"Empire Strikes Back, The (1980)",Casablanca (1942),Casablanca (1942),Notorious (1946),Dirty Dancing (1987),"American in Paris, An (1951)",Tin Cup (1996),"Hudsucker Proxy, The (1994)",...,Much Ado About Nothing (1993),"Jungle Book, The (1994)",Golden Earrings (1947),"Wings of the Dove, The (1997)",Love! Valour! Compassion! (1997),Love! Valour! Compassion! (1997),Casablanca (1942),"Affair to Remember, An (1957)","Bridges of Madison County, The (1995)",Roman Holiday (1953)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Temptress Moon (Feng Yue) (1996),Hugo Pool (1997),"Favor, The (1994)","Favor, The (1994)","Favor, The (1994)","Favor, The (1994)","Favor, The (1994)","Favor, The (1994)","Favor, The (1994)","Favor, The (1994)",...,"Favor, The (1994)","Favor, The (1994)",Temptress Moon (Feng Yue) (1996),Temptress Moon (Feng Yue) (1996),"Favor, The (1994)","Favor, The (1994)","Favor, The (1994)",Hugo Pool (1997),"Favor, The (1994)","Favor, The (1994)"
244,"Favor, The (1994)","Favor, The (1994)",Little City (1998),Little City (1998),Little City (1998),Little City (1998),Little City (1998),Little City (1998),Little City (1998),Little City (1998),...,Little City (1998),Little City (1998),"Favor, The (1994)",Little City (1998),Little City (1998),Little City (1998),Little City (1998),Temptress Moon (Feng Yue) (1996),Little City (1998),Little City (1998)
245,Little City (1998),Little City (1998),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),...,Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),Rough Magic (1995),"Favor, The (1994)",Rough Magic (1995),Rough Magic (1995)
246,B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),...,B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),Little City (1998),B. Monkey (1998),B. Monkey (1998)
247,Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),...,Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Sliding Doors (1998),Rough Magic (1995),Sliding Doors (1998),Sliding Doors (1998)

In [839]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(SciFi, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [840]:
#administrator

In [841]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(SciFi, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [842]:
#artist

In [843]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(SciFi, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [844]:
#doctor

In [845]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(SciFi, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [846]:
#educator

In [847]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(SciFi, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [848]:
#engineer

In [849]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(SciFi, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [850]:
#entertainment

In [851]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(SciFi, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [852]:
#executive

In [853]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(SciFi, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [854]:
#healthcare

In [855]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(SciFi, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [856]:
#homemaker

In [857]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(SciFi, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [858]:
#lawyer

In [859]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(SciFi, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [860]:
#librarian

In [861]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(SciFi, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [862]:
#marketing

In [863]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(SciFi, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [864]:
#none

In [865]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(SciFi, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [866]:
#other

In [867]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(SciFi, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [868]:
#programmer

In [869]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(SciFi, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [870]:
#retired

In [871]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(SciFi, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [872]:
#salesman

In [873]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(SciFi, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [874]:
#scientist

In [875]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(SciFi, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [876]:
#student

In [877]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(SciFi, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [878]:
#technician

In [879]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(SciFi, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [880]:
#writer

In [881]:
SciFi_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
SciFi_occupation_rank = SciFi_occupation_rank.reset_index(drop=True)
SciFi_occupation_rank.index += 1
SciFi_occupation_rank = SciFi_occupation_rank.rename_axis("Rank")
SciFi_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Visitors, The (Visiteurs, Les) (1993)",Alien 3 (1992),Blade Runner (1982),Stalker (1979),Ghost in the Shell (Kokaku kidotai) (1995),Ghost in the Shell (Kokaku kidotai) (1995),Tank Girl (1995),"Day the Earth Stood Still, The (1951)",Star Trek: First Contact (1996),"Fifth Element, The (1997)",...,Heavy Metal (1981),Demolition Man (1993),Star Kid (1997),Star Wars (1977),Starship Troopers (1997),Starship Troopers (1997),Alphaville (1965),Alphaville (1965),Gattaca (1997),Dark City (1998)
2,Congo (1995),Star Trek: Generations (1994),Dr. Strangelove or: How I Learned to Stop Worr...,Dr. Strangelove or: How I Learned to Stop Worr...,Star Wars (1977),Lost in Space (1998),2001: A Space Odyssey (1968),Back to the Future (1985),Return of the Jedi (1983),Deep Rising (1998),...,Blade Runner (1982),Unforgettable (1996),Ghost in the Shell (Kokaku kidotai) (1995),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),2001: A Space Odyssey (1968),Dr. Strangelove or: How I Learned to Stop Worr...,"City of Lost Children, The (1995)",Delicatessen (1991),Alphaville (1965)
3,"Day the Earth Stood Still, The (1951)",Delicatessen (1991),"Empire Strikes Back, The (1980)",Star Wars (1977),"Empire Strikes Back, The (1980)",Forbidden Planet (1956),Star Trek: The Wrath of Khan (1982),Dr. Strangelove or: How I Learned to Stop Worr...,Twelve Monkeys (1995),Ghost in the Shell (Kokaku kidotai) (1995),...,Night of the Living Dead (1968),Gattaca (1997),Star Wars (1977),Sleeper (1973),Sleeper (1973),Sleeper (1973),Star Trek: The Wrath of Khan (1982),Star Wars (1977),Sleeper (1973),Blade Runner (1982)
4,"City of Lost Children, The (1995)",Body Snatchers (1993),Brazil (1985),"Empire Strikes Back, The (1980)",Dr. Strangelove or: How I Learned to Stop Worr...,"Clockwork Orange, A (1971)",Sneakers (1992),E.T. the Extra-Terrestrial (1982),Gattaca (1997),Army of Darkness (1993),...,Aliens (1986),"City of Lost Children, The (1995)",Terminator 2: Judgment Day (1991),"Empire Strikes Back, The (1980)",E.T. the Extra-Terrestrial (1982),E.T. the Extra-Terrestrial (1982),Star Trek IV: The Voyage Home (1986),"Empire Strikes Back, The (1980)",Star Wars (1977),Terminator 2: Judgment Day (1991)
5,Forbidden Planet (1956),Demolition Man (1993),Alien (1979),Blade Runner (1982),Return of the Jedi (1983),Dr. Strangelove or: How I Learned to Stop Worr...,Forbidden Planet (1956),Forbidden Planet (1956),Star Wars (1977),"Clockwork Orange, A (1971)",...,E.T. the Extra-Terrestrial (1982),Star Trek: Generations (1994),"Day the Earth Stood Still, The (1951)",Delicatessen (1991),Men in Black (1997),Men in Black (1997),"Empire Strikes Back, The (1980)",Delicatessen (1991),Blade Runner (1982),Dr. Strangelove or: How I Learned to Stop Worr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Star Kid (1997),Barbarella (1968),Barbarella (1968),Star Kid (1997),Star Kid (1997),Barbarella (1968),Barbarella (1968),Star Kid (1997),Barbarella (1968),Tetsuo II: Body Hammer (1992),...,Tetsuo II: Body Hammer (1992),Barbarella (1968),Robocop 3 (1993),Star Kid (1997),Tetsuo II: Body Hammer (1992),Tetsuo II: Body Hammer (1992),Tetsuo II: Body Hammer (1992),Solo (1996),Star Kid (1997),Star Kid (1997)
98,Tetsuo II: Body Hammer (1992),No Escape (1994),No Escape (1994),No Escape (1994),Tetsuo II: Body Hammer (1992),No Escape (1994),No Escape (1994),Tetsuo II: Body Hammer (1992),No Escape (1994),No Escape (1994),...,No Escape (1994),No Escape (1994),Tetsuo II: Body Hammer (1992),Tetsuo II: Body Hammer (1992),No Escape (1994),No Escape (1994),Barbarella (1968),Robocop 3 (1993),Tetsuo II: Body Hammer (1992),No Escape (1994)
99,No Escape (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),No Escape (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),No Escape (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),...,Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),No Escape (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),Highlander III: The Sorcerer (1994),Time Tracers (1995),No Escape (1994),Highlander III: The Sorcerer (1994)
100,Highlander III: The Sorcerer (1994),"Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)",...,"Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)",Star Kid (1997),"Visitors, The (Visiteurs, Les) (1993)","Visitors, The (Visiteurs, Les) (1993)"
101,Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),...,Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995),Tetsuo II: Body Hammer (1992),Nemesis 2: Nebula (1995),Nemesis 2: Nebula (1995)

In [882]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Thriller, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [883]:
#administrator

In [884]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Thriller, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [885]:
#artist

In [886]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Thriller, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [887]:
#doctor

In [888]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Thriller, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [889]:
#educator

In [890]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Thriller, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [891]:
#engineer

In [892]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Thriller, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [893]:
#entertainment

In [894]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Thriller, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [895]:
#executive

In [896]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Thriller, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [897]:
#healthcare

In [898]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Thriller, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [899]:
#homemaker

In [900]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Thriller, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [901]:
#lawyer

In [902]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Thriller, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [903]:
#librarian

In [904]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Thriller, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [905]:
#marketing

In [906]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Thriller, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [907]:
#none

In [908]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Thriller, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [909]:
#other

In [910]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Thriller, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [911]:
#programmer

In [912]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Thriller, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [913]:
#retired

In [914]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Thriller, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [915]:
#salesman

In [916]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Thriller, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [917]:
#scientist

In [918]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(Thriller, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [919]:
#student

In [920]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Thriller, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [921]:
#technician

In [922]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Thriller, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [923]:
#writer

In [924]:
Thriller_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Thriller_occupation_rank = Thriller_occupation_rank.reset_index(drop=True)
Thriller_occupation_rank.index += 1
Thriller_occupation_rank = Thriller_occupation_rank.rename_axis("Rank")
Thriller_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Assignment, The (1997)","Close Shave, A (1995)",I Know What You Did Last Summer (1997),City of Industry (1997),Halloween: The Curse of Michael Myers (1995),Color of Night (1994),To Catch a Thief (1955),"39 Steps, The (1935)",Fallen (1998),GoldenEye (1995),...,Assassins (1995),Fire Down Below (1997),Incognito (1997),Fear (1996),Speed (1994),Speed (1994),Fire Down Below (1997),Wild Things (1998),True Crime (1995),Some Folks Call It a Sling Blade (1993)
2,Gaslight (1944),Foreign Correspondent (1940),"Devil's Advocate, The (1997)",Purple Noon (1960),Shadow Conspiracy (1997),Chinatown (1974),Death and the Maiden (1994),Safe (1995),"Game, The (1997)",Charade (1963),...,Psycho (1960),Outbreak (1995),"Innocents, The (1961)","Close Shave, A (1995)","Close Shave, A (1995)","Close Shave, A (1995)","Manchurian Candidate, The (1962)",Hard Eight (1996),Legal Deceit (1997),"Glimmer Man, The (1996)"
3,"Trigger Effect, The (1996)",Sling Blade (1996),"Devil's Own, The (1997)",Incognito (1997),Hard Eight (1996),Wild Things (1998),Rear Window (1954),Spellbound (1945),L.A. Confidential (1997),M (1931),...,Apt Pupil (1998),Psycho (1960),"Assignment, The (1997)","Wings of the Dove, The (1997)","Big Lebowski, The (1998)","Big Lebowski, The (1998)","Big Lebowski, The (1998)","Manchurian Candidate, The (1962)",Gattaca (1997),Foreign Correspondent (1940)
4,"Close Shave, A (1995)","Hunt for Red October, The (1990)","Fugitive, The (1993)",Some Folks Call It a Sling Blade (1993),Jade (1995),Blown Away (1994),Some Folks Call It a Sling Blade (1993),"Fan, The (1996)","Peacemaker, The (1997)","Close Shave, A (1995)",...,Rear Window (1954),Gattaca (1997),Notorious (1946),"Big Lebowski, The (1998)",Bound (1996),Bound (1996),Reservoir Dogs (1992),"Close Shave, A (1995)",Shallow Grave (1994),Caught (1996)
5,Boxing Helena (1993),Dial M for Murder (1954),Alien (1979),Taxi Driver (1976),Charade (1963),Notorious (1946),Shallow Grave (1994),Another Stakeout (1993),Kiss the Girls (1997),Once Upon a Time in America (1984),...,Crimson Tide (1995),Just Cause (1995),Some Folks Call It a Sling Blade (1993),"Die xue shuang xiong (Killer, The) (1989)",Red Rock West (1992),Red Rock West (1992),Psycho (1960),M (1931),"Assignment, The (1997)",Dark City (1998)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,Nightwatch (1997),Hush (1998),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Hush (1998),Hush (1998),Nightwatch (1997),Nightwatch (1997),...,Nightwatch (1997),Nightwatch (1997),Butterfly Kiss (1995),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Nightwatch (1997),Hush (1998),Nightwatch (1997),Nightwatch (1997)
248,"Spanish Prisoner, The (1997)",Nightwatch (1997),"Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)",Nightwatch (1997),Nightwatch (1997),"Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)",...,"Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)",Nightwatch (1997),"Spanish Prisoner, The (1997)","Spanish Prisoner, The (1997)"
249,Tainted (1998),"Spanish Prisoner, The (1997)",Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),"Spanish Prisoner, The (1997)",Tainted (1998),Tainted (1998),Tainted (1998),...,Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),Tainted (1998),"Spanish Prisoner, The (1997)",Tainted (1998),Tainted (1998)
250,Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Tainted (1998),Mirage (1995),Mirage (1995),Mirage (1995),...,Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Mirage (1995),Tainted (1998),Mirage (1995),Mirage (1995)
251,B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),...,B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),B. Monkey (1998),Mirage (1995),B. Monkey (1998),B. Monkey (1998)

In [925]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(War, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [926]:
#administrator

In [927]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(War, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [928]:
#artist

In [929]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(War, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [930]:
#doctor

In [931]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(War, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [932]:
#educator

In [933]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(War, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [934]:
#engineer

In [935]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(War, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [936]:
#entertainment

In [937]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(War, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [938]:
#executive

In [939]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(War, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [940]:
#healthcare

In [941]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(War, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [942]:
#homemaker

In [943]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(War, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [944]:
#lawyer

In [945]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(War, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [946]:
#librarian

In [947]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(War, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [948]:
#marketing

In [949]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(War, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [950]:
#none

In [951]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(War, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [952]:
#other

In [953]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(War, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [954]:
#programmer

In [955]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(War, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [956]:
#retired

In [957]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(War, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [958]:
#salesman

In [959]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(War, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [960]:
#scientist

In [961]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(War, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [962]:
#student

In [963]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(War, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [964]:
#technician

In [965]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(War, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [966]:
#writer

In [967]:
War_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
War_occupation_rank = War_occupation_rank.reset_index(drop=True)
War_occupation_rank.index += 1
War_occupation_rank = War_occupation_rank.rename_axis("Rank")
War_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,Paradise Road (1997),Richard III (1995),Richard III (1995),For the Moment (1994),Ran (1985),To Be or Not to Be (1942),For Whom the Bell Tolls (1943),Schindler's List (1993),Braveheart (1995),Patton (1970),...,Legends of the Fall (1994),Forrest Gump (1994),Stalingrad (1993),Casablanca (1942),Koyaanisqatsi (1983),Koyaanisqatsi (1983),Lawrence of Arabia (1962),Underground (1995),Paths of Glory (1957),Welcome To Sarajevo (1997)
2,Stalingrad (1993),"Deer Hunter, The (1978)","Devil's Own, The (1997)",Schindler's List (1993),Casablanca (1942),Rob Roy (1995),Casablanca (1942),Gone with the Wind (1939),In Love and War (1996),"Crying Game, The (1992)",...,"Killing Fields, The (1984)",G.I. Jane (1997),For Whom the Bell Tolls (1943),Paths of Glory (1957),"African Queen, The (1951)","African Queen, The (1951)",Dr. Strangelove or: How I Learned to Stop Worr...,Paths of Glory (1957),Duck Soup (1933),Henry V (1989)
3,Welcome To Sarajevo (1997),Bent (1997),Seven Years in Tibet (1997),Dr. Strangelove or: How I Learned to Stop Worr...,Star Wars (1977),Koyaanisqatsi (1983),Full Metal Jacket (1987),Casablanca (1942),Return of the Jedi (1983),For Whom the Bell Tolls (1943),...,Crimson Tide (1995),"Bridge on the River Kwai, The (1957)",Koyaanisqatsi (1983),Star Wars (1977),Starship Troopers (1997),Starship Troopers (1997),Casablanca (1942),Casablanca (1942),Schindler's List (1993),"Killing Fields, The (1984)"
4,Schindler's List (1993),"Great Escape, The (1963)","Great Escape, The (1963)",Casablanca (1942),"Empire Strikes Back, The (1980)",Casablanca (1942),"Bridge on the River Kwai, The (1957)","Deer Hunter, The (1978)","Peacemaker, The (1997)","Killing Fields, The (1984)",...,Schindler's List (1993),Schindler's List (1993),Schindler's List (1993),Koyaanisqatsi (1983),Lawrence of Arabia (1962),Lawrence of Arabia (1962),Patton (1970),Star Wars (1977),"Great Escape, The (1963)",Schindler's List (1993)
5,Casablanca (1942),Bananas (1971),Casablanca (1942),Star Wars (1977),Schindler's List (1993),Full Metal Jacket (1987),Ran (1985),Bananas (1971),"Devil's Own, The (1997)","Great Escape, The (1963)",...,"Boot, Das (1981)",Michael Collins (1996),Paths of Glory (1957),Schindler's List (1993),"Bridge on the River Kwai, The (1957)","Bridge on the River Kwai, The (1957)","Deer Hunter, The (1978)","Empire Strikes Back, The (1980)",Star Wars (1977),Apocalypse Now (1979)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Prisoner of the Mountains (Kavkazsky Plennik) ...,"Colonel Chabert, Le (1994)",Prisoner of the Mountains (Kavkazsky Plennik) ...,"Walking Dead, The (1995)","Colonel Chabert, Le (1994)",Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...,In the Army Now (1994),Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...,...,Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...,"Walking Dead, The (1995)",Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...,Paradise Road (1997),Prisoner of the Mountains (Kavkazsky Plennik) ...,Prisoner of the Mountains (Kavkazsky Plennik) ...
68,Underground (1995),Prisoner of the Mountains (Kavkazsky Plennik) ...,Underground (1995),"Colonel Chabert, Le (1994)",Prisoner of the Mountains (Kavkazsky Plennik) ...,Underground (1995),Underground (1995),To Be or Not to Be (1942),Underground (1995),Underground (1995),...,Underground (1995),Underground (1995),Underground (1995),Underground (1995),Underground (1995),Underground (1995),Underground (1995),"Farewell to Arms, A (1932)",Underground (1995),Underground (1995)
69,Pharaoh's Army (1995),Underground (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),For the Moment (1994),Pharaoh's Army (1995),Pharaoh's Army (1995),...,Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995),Pharaoh's Army (1995)
70,Land and Freedom (Tierra y libertad) (1995),Pharaoh's Army (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),"Colonel Chabert, Le (1994)",Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),...,Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995),Land and Freedom (Tierra y libertad) (1995)
71,Nothing Personal (1995),Land and Freedom (Tierra y libertad) (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),...,Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995),Nothing Personal (1995)

In [968]:
administrator = occu_3.groupby("occupation").get_group("administrator")
administrator = pd.merge(Western, administrator, on="movie id", how="left")
administrator = administrator.sort_values(by="rating", ascending= False)
administrator = administrator.reset_index(drop=True)

In [969]:
#administrator

In [970]:
artist = occu_3.groupby("occupation").get_group("artist")
artist = pd.merge(Western, artist, on="movie id", how="left")
artist = artist.sort_values(by="rating", ascending= False)
artist = artist.reset_index(drop=True)

In [971]:
#artist

In [972]:
doctor = occu_3.groupby("occupation").get_group("doctor")
doctor = pd.merge(Western, doctor, on="movie id", how="left")
doctor = doctor.sort_values(by="rating", ascending= False)
doctor = doctor.reset_index(drop=True)

In [973]:
#doctor

In [974]:
educator = occu_3.groupby("occupation").get_group("educator")
educator = pd.merge(Western, educator, on="movie id", how="left")
educator = educator.sort_values(by="rating", ascending= False)
educator = educator.reset_index(drop=True)

In [975]:
#educator

In [976]:
engineer = occu_3.groupby("occupation").get_group("engineer")
engineer = pd.merge(Western, engineer, on="movie id", how="left")
engineer = engineer.sort_values(by="rating", ascending= False)
engineer = engineer.reset_index(drop=True)

In [977]:
#engineer

In [978]:
entertainment = occu_3.groupby("occupation").get_group("entertainment")
entertainment = pd.merge(Western, entertainment, on="movie id", how="left")
entertainment = entertainment.sort_values(by="rating", ascending= False)
entertainment = entertainment.reset_index(drop=True)

In [979]:
#entertainment

In [980]:
executive = occu_3.groupby("occupation").get_group("executive")
executive = pd.merge(Western, executive, on="movie id", how="left")
executive = executive.sort_values(by="rating", ascending= False)
executive = executive.reset_index(drop=True)

In [981]:
#executive

In [982]:
healthcare = occu_3.groupby("occupation").get_group("healthcare")
healthcare = pd.merge(Western, healthcare, on="movie id", how="left")
healthcare = healthcare.sort_values(by="rating", ascending= False)
healthcare = healthcare.reset_index(drop=True)

In [983]:
#healthcare

In [984]:
homemaker = occu_3.groupby("occupation").get_group("homemaker")
homemaker = pd.merge(Western, homemaker, on="movie id", how="left")
homemaker = homemaker.sort_values(by="rating", ascending= False)
homemaker = homemaker.reset_index(drop=True)

In [985]:
#homemaker

In [986]:
lawyer = occu_3.groupby("occupation").get_group("lawyer")
lawyer = pd.merge(Western, lawyer, on="movie id", how="left")
lawyer = lawyer.sort_values(by="rating", ascending= False)
lawyer = lawyer.reset_index(drop=True)

In [987]:
#lawyer

In [988]:
librarian = occu_3.groupby("occupation").get_group("librarian")
librarian = pd.merge(Western, librarian, on="movie id", how="left")
librarian = librarian.sort_values(by="rating", ascending= False)
librarian = librarian.reset_index(drop=True)

In [989]:
#librarian

In [990]:
marketing = occu_3.groupby("occupation").get_group("marketing")
marketing = pd.merge(Western, marketing, on="movie id", how="left")
marketing = marketing.sort_values(by="rating", ascending= False)
marketing = marketing.reset_index(drop=True)

In [991]:
#marketing

In [992]:
none = occu_3.groupby("occupation").get_group("none")
none = pd.merge(Western, none, on="movie id", how="left")
none = none.sort_values(by="rating", ascending= False)
none = none.reset_index(drop=True)

In [993]:
#none

In [994]:
other = occu_3.groupby("occupation").get_group("other")
other = pd.merge(Western, other, on="movie id", how="left")
other = other.sort_values(by="rating", ascending= False)
other = other.reset_index(drop=True)

In [995]:
#other

In [996]:
programmer = occu_3.groupby("occupation").get_group("programmer")
programmer = pd.merge(Western, programmer, on="movie id", how="left")
programmer = programmer.sort_values(by="rating", ascending= False)
programmer = programmer.reset_index(drop=True)

In [997]:
#programmer

In [998]:
retired = occu_3.groupby("occupation").get_group("retired")
retired = pd.merge(Western, retired, on="movie id", how="left")
retired = retired.sort_values(by="rating", ascending= False)
retired = retired.reset_index(drop=True)

In [999]:
#retired

In [1000]:
salesman = occu_3.groupby("occupation").get_group("retired")
salesman = pd.merge(Western, salesman, on="movie id", how="left")
salesman = salesman.sort_values(by="rating", ascending= False)
salesman = salesman.reset_index(drop=True)

In [1001]:
#salesman

In [1002]:
scientist = occu_3.groupby("occupation").get_group("scientist")
scientist = pd.merge(Western, scientist, on="movie id", how="left")
scientist = scientist.sort_values(by="rating", ascending= False)
scientist = scientist.reset_index(drop=True)

In [1003]:
#scientist

In [1004]:
student = occu_3.groupby("occupation").get_group("student")
student = pd.merge(FilmNoir, student, on="movie id", how="left")
student = student.sort_values(by="rating", ascending= False)
student = student.reset_index(drop=True)

In [1005]:
#student

In [1006]:
technician = occu_3.groupby("occupation").get_group("technician")
technician = pd.merge(Western, technician, on="movie id", how="left")
technician = technician.sort_values(by="rating", ascending= False)
technician = technician.reset_index(drop=True)

In [1007]:
#technician

In [1008]:
writer = occu_3.groupby("occupation").get_group("writer")
writer = pd.merge(Western, writer, on="movie id", how="left")
writer = writer.sort_values(by="rating", ascending= False)
writer = writer.reset_index(drop=True)

In [1009]:
#writer

In [1010]:
Western_occupation_rank = pd.DataFrame({"administrator":administrator["movie title"],
                               "artist":artist["movie title"],
                               "doctor":doctor["movie title"],
                               "educator":educator["movie title"],
                               "engineer":engineer["movie title"],
                               "entertainment":entertainment["movie title"],
                               "executive":executive["movie title"],
                               "healthcare":healthcare["movie title"],
                               "homemaker":homemaker["movie title"],
                               "lawyer":lawyer["movie title"],
                               "librarian":librarian["movie title"],
                               "marketing":marketing["movie title"],
                               "none":none["movie title"],
                               "other":other["movie title"],
                               "programmer":programmer["movie title"],
                               "retired":retired["movie title"],
                               "salesman":salesman["movie title"],
                               "scientist":scientist["movie title"],
                               "student":student["movie title"],
                               "technician":technician["movie title"],
                               "writer":writer["movie title"]})
Western_occupation_rank = Western_occupation_rank.reset_index(drop=True)
Western_occupation_rank.index += 1
Western_occupation_rank = Western_occupation_rank.rename_axis("Rank")
Western_occupation_rank

,administrator,artist,doctor,educator,engineer,entertainment,executive,healthcare,homemaker,lawyer,...,marketing,none,other,programmer,retired,salesman,scientist,student,technician,writer
Rank,,,,,,,,,,,,,,,,,,,,,
1,"Wild Bunch, The (1969)",High Noon (1952),"Magnificent Seven, The (1954)","Good, The Bad and The Ugly, The (1966)","Magnificent Seven, The (1954)","Wild Bunch, The (1969)",Dances with Wolves (1990),City Slickers II: The Legend of Curly's Gold (...,Legends of the Fall (1994),"Wild Bunch, The (1969)",...,Legends of the Fall (1994),Legends of the Fall (1994),Dances with Wolves (1990),Once Upon a Time in the West (1969),Unforgiven (1992),Unforgiven (1992),Butch Cassidy and the Sundance Kid (1969),"Manchurian Candidate, The (1962)","Good, The Bad and The Ugly, The (1966)",Dead Man (1995)
2,"Magnificent Seven, The (1954)","Good, The Bad and The Ugly, The (1966)",Dances with Wolves (1990),Butch Cassidy and the Sundance Kid (1969),Geronimo: An American Legend (1993),Once Upon a Time in the West (1969),Butch Cassidy and the Sundance Kid (1969),Young Guns (1988),Maverick (1994),"Quick and the Dead, The (1995)",...,Unforgiven (1992),Unforgiven (1992),High Noon (1952),High Noon (1952),High Noon (1952),High Noon (1952),Tombstone (1993),M (1931),"Davy Crockett, King of the Wild Frontier (1955)",Wild Bill (1995)
3,High Noon (1952),"Magnificent Seven, The (1954)",Butch Cassidy and the Sundance Kid (1969),Dances with Wolves (1990),Unforgiven (1992),Unforgiven (1992),Maverick (1994),Maverick (1994),Dances with Wolves (1990),"Magnificent Seven, The (1954)",...,Butch Cassidy and the Sundance Kid (1969),"Wild Bunch, The (1969)",Lightning Jack (1994),Legends of the Fall (1994),"Good, The Bad and The Ugly, The (1966)","Good, The Bad and The Ugly, The (1966)","Wild Bunch, The (1969)",Laura (1944),Dead Man (1995),"Wild Bunch, The (1969)"
4,Butch Cassidy and the Sundance Kid (1969),Dances with Wolves (1990),Maverick (1994),High Noon (1952),"Good, The Bad and The Ugly, The (1966)","Good, The Bad and The Ugly, The (1966)","Good, The Bad and The Ugly, The (1966)","Magnificent Seven, The (1954)","Good, The Bad and The Ugly, The (1966)",Tombstone (1993),...,High Noon (1952),Dead Man (1995),Tombstone (1993),Butch Cassidy and the Sundance Kid (1969),Butch Cassidy and the Sundance Kid (1969),Butch Cassidy and the Sundance Kid (1969),High Noon (1952),L.A. Confidential (1997),Butch Cassidy and the Sundance Kid (1969),"Good, The Bad and The Ugly, The (1966)"
5,Unforgiven (1992),Butch Cassidy and the Sundance Kid (1969),Legends of the Fall (1994),"Wild Bunch, The (1969)",Dances with Wolves (1990),Tombstone (1993),Once Upon a Time in the West (1969),High Noon (1952),Unforgiven (1992),High Noon (1952),...,Dances with Wolves (1990),Dances with Wolves (1990),Geronimo: An American Legend (1993),Dances with Wolves (1990),"Wild Bunch, The (1969)","Wild Bunch, The (1969)",Dead Man (1995),Chinatown (1974),"Magnificent Seven, The (1954)",High Noon (1952)
6,Dead Man (1995),Wyatt Earp (1994),"Good, The Bad and The Ugly, The (1966)",Dead Man (1995),Butch Cassidy and the Sundance Kid (1969),"Magnificent Seven, The (1954)",Unforgiven (1992),Dances with Wolves (1990),Young Guns (1988),Wyatt Earp (1994),...,Maverick (1994),Young Guns (1988),"Magnificent Seven, The (1954)",Geronimo: An American Legend (1993),Once Upon a Time in the West (1969),Once Upon a Time in the West (1969),"Good, The Bad and The Ugly, The (1966)","Big Sleep, The (1946)",Unforgiven (1992),Once Upon a Time in the West (1969)
7,"Davy Crockett, King of the Wild Frontier (1955)",Unforgiven (1992),Unforgiven (1992),Once Upon a Time in the West (1969),"Quick and the Dead, The (1995)",High Noon (1952),Tombstone (1993),Unforgiven (1992),"Apple Dumpling Gang, The (1975)",Maverick (1994),...,"Good, The Bad and The Ugly, The (1966)",Butch Cassidy and the Sundance Kid (1969),Dead Man (1995),"Magnificent Seven, The (1954)","Magnificent Seven, The (1954)","Magnificent Seven, The (1954)",Dances with Wolves (1990),"Maltese Falcon, The (1941)",Tombstone (1993),Unforgiven (1992)
8,Dances with Wolves (1990),Maverick (1994),Young Guns (1988),"Magnificent Seven, The (1954)",High Noon (1952),Legends of the Fall (1994),High Noon (1952),Young Guns II (1990),Butch Cassidy and the Sundance Kid (1969),Legends of the Fall (1994),...,Young Guns (1988),Tombstone (1993),Once Upon a Time in the West (1969),Lightning Jack (1994),Angel and the Badman (1947),Angel and the Badman (1947),Unforgiven (1992),Blade Runner (1982),Maverick (1994),Butch Cassidy and the Sundance Kid (1969)
9,Legends of the Fall (1994),Young Guns (1988),"Apple Dumpling Gang, The (1975)",Wyatt Earp (1994),Maverick (1994),Dances with Wolves (1990),"Magnificent Seven, The (1954)",Tombstone (1993),Tombstone (1993),Butch Cassidy and the Sundance Kid (1969),...,Tombstone (1993),Maverick (1994),Unforgiven (1992),Dead Man (1995),Dances with Wolves (1990),Dances with Wolves (1990),"Magnificent Seven, The (1954)",Touch of Evil (1958),"Wild Bunch, The (1969)","Magnificent Seven, The (1954)"
10,Maverick (1994),"Wild Bunch, The (1969)",Tombstone (1993),Unforgiven (1992),Legends of the Fall (1994),Butch Cassidy and the Sundance Kid (1969),City Slickers II: The Legend of Curly's Gold (...,Butch Cassidy and the Sundance Kid (1969),"Magnificent Seven, The (1954)",Unforgiven (1992),...,"Magnificent Seven, The (1954)","Good, The Bad and The Ugly, The (1966)",Butch Cassidy and the Sundance Kid (1969),Unforgiven (1992),Maverick (1994),Maverick (1994),Legends of the Fall (1994),Notorious (1946),Wyatt Earp (1994),Dances with Wolves (1990)
11,Tombstone (1993),Geronimo: An American Legend (1993),Wild Bill (1995),Tombstone (1993),Dead Man (1995),Maverick (1994),Last Man Standing (1996),"Good, The Bad and The Ugly, The (1966)",Wild Bill (1995),Dances with Wolves (1990),...,Last Man Standing (1996),"Apple Dumpling Gang, The (1975)","Good, The Bad and The Ugly, The (1966)","Good, The Bad and The Ugly, The (1966)",Tombstone (1993),Tombstone (1993),Maverick (1994),Sunset Blvd. (1950),Young Guns (1988),Legends of the Fall (1994)
12,"Good, The Bad and The Ugly, The (1966)",Last Man Standing (1996),"Quick and the Dead, The (1995)",Legends of the Fall (1994),Young Guns (1988),Dead Man (1995),Young Guns (1988),Wyatt Earp (1994),"Quick and the Dead, The (1995)",Young Guns (1988),...,"Apple Dumpling Gang, The (1975)","Magnificent Seven, The (1954)",Maverick (1994),"Wild Bunch, The (1969)",City Slickers II: The Legend of Curly's Gold (...,City Slickers II: The Legend of Curly's Gold (...,"Quick and the Dead, The (1995)",Devil in a Blue Dress (1995),Legends of the Fall (1994),Maverick (1994)
13,Once Upon a Time in the West (1969),Legends of the Fall (1994),Wyatt Earp (1994),"Davy Crockett, King of the Wild Frontier (1955)",Tombstone (1993),Young Guns (1988),Dead Man (1995),"Apple Dumpling Gang, The (1975)",Wyatt Earp (1994),Lightning Jack (1994),...,"Quick and the Dead, The (1995)",Wild Bill (1995),"Wild Bunch, The (1969)",Tombstone (1993),"Outlaw, The (1943)","Outlaw, The (1943)",Young Guns (1988),Cape Fear (1962),Dances with Wolves (1990),"Apple Dumpling Gang, The (1975)"
14,"Quick and the Dead, The (1995)","Apple Dumpling Gang, The (1975)",City Slickers II: The Legend of Curly's Gold (...,Angel and the Badman (1947),Young Guns II (1990),City Slickers II: The Legend of Curly's Gold (...,Young Guns II (1990),Once Upon a Time in the West (1969),City Slickers II: The Legend of Curly's Gold (...,Geronimo: An American Legend (1993),...,City Slickers II: The Legend of Curly's Gold (...,"Quick and the Dead, The (1995)","Quick and the Dead, The (1995)","Apple Dumpling Gang, The (1975)","Davy Crockett, King of the Wild Frontier (1955)","Davy Crockett, King of the Wild Frontier (1955)","Apple Dumpling Gang, The (1975)",Dark City (1998),Once Upon a Time in the West (1969),Lightning Jack (1994)
15,Wyatt Earp (1994),Tombstone (1993),"Wild Bunch, The (1969)",Maverick (1994),City Slickers II: The Legend of Curly's Gold (...,Last Man Standing (1996),Legends of the Fall (1994),Legends of the Fall (1994),"Wild Bunch, The (1969)","Apple Dumpling Gang, The (1975)",...,Wild Bill (1995),Wyatt Earp (1994),Young Guns (1988),Maverick (1994),Legends of the Fall (1994),Legends of the Fall (1994),Wild Bill (1995),"Grifters, The (1990)","Quick and the Dead, The (1995)",Geronimo: An American Legend (1993)
16,Last Man Standing (1996),Wild Bill (1995),"Davy Crockett, King of the Wild Frontier (1955)","Quick and the Dead, The (1995)","Wild Bunch, The (1969)","Apple Dumpling Gang, The (1975)","Apple Dumpling Gang, The (1975)",Geronimo: An American Legend (1993),"Davy Crockett, King of the Wild Frontier (1955)","Good, The Bad and The Ugly, The (1966)",...,Wyatt Earp (1994),City Slickers II: The Legend of Curly's Gold (...,"Davy Crockett, King of the Wild Frontier (1955)",Wyatt Earp (1994),Young Guns (1988),Young Guns (1988),Wyatt Earp (1994),Suture (1993),City Slickers II: The Legend of Curly's Gold (...,City Slickers II: The Legend of Curly's Gold (...
17,Young Guns (1988),"Quick and the Dead, The (1995)",Once Upon a Time in the West (1969),"Apple Dumpling Gang, The (1975)",Wyatt Earp (1994),Wild Bill (1995),Wild Bill (1995),Bad Girls (1994),Once Upon a Time in the West (1969),City Slickers II: The Legend of Curly's Gold (...,...,"Wild Bunch, The (1969)","Davy Crockett, King of the Wild Frontier (1955)",Wyatt Earp (1994),"Quick and the Dead, The (1995)","Apple Dumpling Gang, The (1975)","Apple Dumpling Gang, The (1975)",City Slickers II: The Legend of Curly's Gold (...,Mulholland Falls (1996),"Apple Dumpling Gang, The (1975)",Tombstone (1993)
18,Lightning Jack (1994),City Slickers II: The Legend of Curly's Gold (...,High Noon (1952),Young Guns (1988),Last Man Standing (1996),"Quick and the Dead, The (1995)","Quick and the Dead, The (1995)","Quick and the Dead, The (1995)",High Noon (1952),Young Guns II (1990),...,"Davy Crockett, King of the Wild Frontier (1955)",Once Upon a Time in the West (1969),Bad Girls (1994),Young Guns (1988),Wild Bill (1995),Wild Bill (1995),"Davy Crockett, King of the Wild Frontier (1955)",Hoodlum (1997),Young Guns II (1990),Young Guns (1988)
19,Wild Bill (1995),"Davy Crockett, King of the Wild Frontier (1955)",Last Man Standing (1996),City Slickers II: The Legend of Curly's Gold (...,Once Upon a Time in the West (1969),Wyatt Earp (1994),Wyatt Earp (1994),Last Man Standing (1996),Last Man Standing (1996),Wild Bill (1995),...,Once Upon a Time in the West (1969),High Noon (1952),Young Guns II (1990),"Davy Crockett, King of the Wild Frontier (1955)","Quick and the Dead, The (1995)","Quick and the Dead, The (1995)",Once Upon a Time in the West (1969),Palmetto (1998),High Noon (1952),Wyatt Earp (1994)
20,"Apple Dumpling Gang, The (1975)",Once Upon a Time in the West (1969),Dead Man (1995),Young Guns II (1990),Bad Girls (1994),"Davy Crockett, King of the Wild Frontier (1955)","Wild Bunch, The (1969)","Davy Crockett, King of the Wild Frontier (1955)",Dead Man (1995),"Davy Crockett, King of the Wild Frontier (1955)",...,Dead Man (1995),Last Man Standing (1996),Legends of the Fall (1994),"Outlaw, The (1943)",Wyatt Earp (1994),Wyatt Earp (1994),Last Man Standing (1996),"Murder, My Sweet (1944)",Last Man Standing (1996),"Quick and the Dead, The (1995)"
21,City Slickers II: The Legend of Curly's Gold (...,Dead Man (1995),Lightning Jack (1994),Last Man Standing (1996),"Apple Dumpling Gang, The (1975)",Lightning Jack (1994),"Davy Crockett, King of the Wild Frontier (1955)",Wild Bill (1995),Lightning Jack (1994),Once Upon a Time in the West (1969),...,Lightning Jack (1994),Lightning Jack (1994),City Slickers II: The Legend of Curly's Gold (...,Last Man Standing (1996),Last Man Standing (1996),Last Man Standing (1996),Lightning Jack (1994),Crossfire (1947),Wild Bill (1995),Last Man Standing (1996)
22,Young Guns II (1990),Lightning Jack (1994),Geronimo: An American Legend (1993),Wild Bill (1995),Wild Bill (1995),Geronimo: An American Legend (1993),Lightning Jack (1994),Terror in a Texas Town (1958),Geronimo: An American Legend (1993),Last Man Standing (1996),...,Geronimo: An American Legend (1993),Geronimo: An American Legend (1993),Angel and the Badman (1947),Wild Bill (1995),Dead Man (1995),Dead Man (1995),Geronimo: An American Legend (1993),Raw Deal (1948),Lightning Jack (1994),"Davy Crockett, King of the Wild Frontier (1955)"
23,Geronimo: An American Legend (1993),Young Guns II (1990),Young Guns II (1990),Lightning Jack (1994),"Davy Crockett, King of the Wild Frontier (1955)",Young Guns II (1990),Geronimo: An American Legend (1993),"Wild Bunch, The (1969)",Young Guns II (1990),Dead Man (1995),...,Young Guns II (1990),Young Guns II (1990),Last Man Standing (1996),City Slickers II: The Legend of Curly's Gold (...,Lightning Jack (1994),Lightning Jack (1994),Young Guns II (1990),T-Men (1947),Geronimo: An American Legend (1993),Young Guns II (1990)
24,Bad Girls (1994),Bad Girls (1994),Bad Girls (1994),Geronimo: An American Legend (1993),Lightning Jack (1994),Bad Girls (1994),Bad Girls (1994),Dead Man (1995),Bad Girls (1994),Bad Girls (1994),...,Bad Girls (1994),Bad Girls (1994),"Apple Dumpling Gang, The (1975)",Young Guns II (1990),Geronimo: An American Legend (1993),Geronimo: An American Legend (1993),Bad Girls (1994),He Walked by Night (1948),Bad Girls (1994),Bad Girls (1994)
25,Angel and the Badman (1947),Angel and the Badman (1947),Angel and the Badman (1947),Bad Girls (1994),Angel and the Badman (1947),Angel and the Badman (1947),Angel and the Badman (1947),Lightning Jack (1994),Angel and the Badman (1947),Angel and the Badman (1947),...,Angel and the Badman (1947),Angel and the Badman (1947),Wild Bill (1995),Bad Girls (1994),Young Guns II (1990),Young Guns II (1990),Angel and the Badman (1947),NaN,Angel and the Badman (1947),Angel and the Badman (1947)
26,"Outlaw, The (1943)","Outlaw, The (1943)","Outlaw, The (1943)","Outlaw, The (1943)","Outlaw, The (1943)","Outlaw, The (1943)","Outlaw, The (1943)",Angel and the Badman (1947),"Outlaw, The (1943)","Outlaw, The (1943)",...,"Outlaw, The (1943)","Outlaw, The (1943)","Outlaw, The (1943)",Angel and the Badman (1947),Bad Girls (1994),Bad Girls (1994),"Outlaw, The (1943)",NaN,"Outlaw, The (1943)","Outlaw, The (1943)"
27,Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),"Outlaw, The (1943)",Terror in a Texas Town (1958),Terror in a Texas Town (1958),...,Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),Terror in a Texas Town (1958),NaN,Terror in a Texas Town (1958),Terror in a Texas Town (1958)

---